div.dc-chart {
    float: left;
    overflow: overlay;
}

.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}

.dc-chart rect.bar:hover {
    fill-opacity: .5;
}

.dc-chart rect.stack1 {
    stroke: none;
    fill: red;
}

.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}

.dc-chart rect.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart .empty-chart .pie-slice path {
    fill: #FFEEEE;
    cursor: default;
}

.dc-chart .empty-chart .pie-slice {
    cursor: default;
}

.dc-chart .pie-slice {
	font-size: 12px;
	cursor: pointer
}

.dc-chart .pie-slice.external{
    fill: black;
}

.dc-chart .pie-slice :hover {
    fill-opacity: .8;
}

.dc-chart .pie-slice.highlight {
    fill-opacity: .8;
}

.dc-chart .pie-path {
  fill:none;
  stroke-width: 2px;
  stroke: black;
  opacity: 0.4;
  
}

.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .axis path,
.dc-chart .axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.dc-chart .axis text {
    font: 10px sans-serif;
}

.dc-chart .grid-line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .grid-line line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .brush rect.background {
    z-index: -999;
}

.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.dc-chart .brush .resize path {
    fill: #eee;
    stroke: #666;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
}

.dc-chart circle.dot {
    stroke: none;
}

.dc-chart g.dc-tooltip path {
    fill: none;
    stroke: grey;
    stroke-opacity: .8;
}

.dc-chart path.area {
    fill-opacity: .3;
    stroke: none;
}

.dc-chart .node {
    font-size: 0.7em;
    cursor: pointer;
}

.dc-chart .node :hover {
    fill-opacity: .8;
}

.dc-chart .selected circle {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .deselected circle {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .bubble {
    stroke: none;
    fill-opacity: 0.6;
}

.dc-data-count {
    margin-right: 15px;
    overflow:inherit !important;
    cursor: pointer;
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-table {
}

.dc-chart g.state {
    cursor: pointer;
}

.dc-chart g.state :hover {
    fill-opacity: .8;
}

.dc-chart g.state path {
    stroke: white;
}

.dc-chart g.selected path {
}

.dc-chart g.deselected path {
    fill: grey;
}

.dc-chart g.selected text {
}

.dc-chart g:not(.node).deselected text {
    display: none;
}

.dc-chart g.county path {
    stroke: white;
    fill: none;
}

.dc-chart g.debug rect {
    fill: blue;
    fill-opacity: .2;
}

.dc-chart g.row rect {
    fill-opacity: 0.8;
    cursor: pointer;
}

.dc-chart g.row rect:hover {
    fill-opacity: 0.6;
}

.dc-chart g.row text {
	font-size: 12px;
	cursor: pointer
}

.dc-legend {
    font-size: 11px;
}

.dc-legend-item {
    cursor: pointer;
}

.dc-chart g.axis text {
    /* Makes it so the user can't accidentally click and select text that is meant as a label only */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.dc-chart path.highlight {
    stroke-width: 3;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .highlight {
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .fadeout {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}

.dc-chart path.dc-symbol,
g.dc-legend-item.fadeout {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

.dc-hard .number-display {
    float: none;
}

.dc-chart .box text {
    font: 10px sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.dc-chart .box line,
.dc-chart .box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box rect {
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box .center {
    stroke-dasharray: 3,3;
}

.dc-chart .box .outlier {
    fill: none;
    stroke: #ccc;
}

.dc-chart .box.deselected .box {
    fill: #ccc;
}

.dc-chart .box.deselected {
    opacity: .5;
}

.dc-chart .symbol{
    stroke: none;
}

.dc-chart .heatmap .box-group.deselected rect {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .heatmap g.axis text {
    pointer-events: all;
    cursor: pointer;
}
/* added for grouped row chart */
.groupedrow .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.groupedrow text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.groupedrow .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }
/* end */
.d3_category10.i0, .d3_category10 .i0{background-color:#35b2c9}
.d3_category10.i1, .d3_category10 .i1{background-color:#ff9437}
.d3_category10.i2, .d3_category10 .i2{background-color:#2ca02c}
.d3_category10.i3, .d3_category10 .i3{background-color:#d62728}
.d3_category10.i4, .d3_category10 .i4{background-color:#9467bd}
.d3_category10.i5, .d3_category10 .i5{background-color:#8c564b}
.d3_category10.i6, .d3_category10 .i6{background-color:#e377c2}
.d3_category10.i7, .d3_category10 .i7{background-color:#7f7f7f}
.d3_category10.i8, .d3_category10 .i8{background-color:#bcbd22}
.d3_category10.i9, .d3_category10 .i9{background-color:#17becf}
.d3_category20.i0, .d3_category20 .i0{background-color:#1f77b4}
.d3_category20.i1, .d3_category20 .i1{background-color:#aec7e8}
.d3_category20.i2, .d3_category20 .i2{background-color:#ff7f0e}
.d3_category20.i3, .d3_category20 .i3{background-color:#ffbb78}
.d3_category20.i4, .d3_category20 .i4{background-color:#2ca02c}
.d3_category20.i5, .d3_category20 .i5{background-color:#98df8a}
.d3_category20.i6, .d3_category20 .i6{background-color:#d62728}
.d3_category20.i7, .d3_category20 .i7{background-color:#ff9896}
.d3_category20.i8, .d3_category20 .i8{background-color:#9467bd}
.d3_category20.i9, .d3_category20 .i9{background-color:#c5b0d5}
.d3_category20.i10, .d3_category20 .i10{background-color:#8c564b}
.d3_category20.i11, .d3_category20 .i11{background-color:#c49c94}
.d3_category20.i12, .d3_category20 .i12{background-color:#e377c2}
.d3_category20.i13, .d3_category20 .i13{background-color:#f7b6d2}
.d3_category20.i14, .d3_category20 .i14{background-color:#7f7f7f}
.d3_category20.i15, .d3_category20 .i15{background-color:#c7c7c7}
.d3_category20.i16, .d3_category20 .i16{background-color:#bcbd22}
.d3_category20.i17, .d3_category20 .i17{background-color:#dbdb8d}
.d3_category20.i18, .d3_category20 .i18{background-color:#17becf}
.d3_category20.i19, .d3_category20 .i19{background-color:#9edae5}
.d3_category20b.i0, .d3_category20b .i0{background-color:#393b79}
.d3_category20b.i1, .d3_category20b .i1{background-color:#5254a3}
.d3_category20b.i2, .d3_category20b .i2{background-color:#6b6ecf}
.d3_category20b.i3, .d3_category20b .i3{background-color:#9c9ede}
.d3_category20b.i4, .d3_category20b .i4{background-color:#637939}
.d3_category20b.i5, .d3_category20b .i5{background-color:#8ca252}
.d3_category20b.i6, .d3_category20b .i6{background-color:#b5cf6b}
.d3_category20b.i7, .d3_category20b .i7{background-color:#cedb9c}
.d3_category20b.i8, .d3_category20b .i8{background-color:#8c6d31}
.d3_category20b.i9, .d3_category20b .i9{background-color:#bd9e39}
.d3_category20b.i10, .d3_category20b .i10{background-color:#e7ba52}
.d3_category20b.i11, .d3_category20b .i11{background-color:#e7cb94}
.d3_category20b.i12, .d3_category20b .i12{background-color:#843c39}
.d3_category20b.i13, .d3_category20b .i13{background-color:#ad494a}
.d3_category20b.i14, .d3_category20b .i14{background-color:#d6616b}
.d3_category20b.i15, .d3_category20b .i15{background-color:#e7969c}
.d3_category20b.i16, .d3_category20b .i16{background-color:#7b4173}
.d3_category20b.i17, .d3_category20b .i17{background-color:#a55194}
.d3_category20b.i18, .d3_category20b .i18{background-color:#ce6dbd}
.d3_category20b.i19, .d3_category20b .i19{background-color:#de9ed6}
.d3_category20c.i0, .d3_category20c .i0{background-color:#3182bd}
.d3_category20c.i1, .d3_category20c .i1{background-color:#6baed6}
.d3_category20c.i2, .d3_category20c .i2{background-color:#9ecae1}
.d3_category20c.i3, .d3_category20c .i3{background-color:#c6dbef}
.d3_category20c.i4, .d3_category20c .i4{background-color:#e6550d}
.d3_category20c.i5, .d3_category20c .i5{background-color:#fd8d3c}
.d3_category20c.i6, .d3_category20c .i6{background-color:#fdae6b}
.d3_category20c.i7, .d3_category20c .i7{background-color:#fdd0a2}
.d3_category20c.i8, .d3_category20c .i8{background-color:#31a354}
.d3_category20c.i9, .d3_category20c .i9{background-color:#74c476}
.d3_category20c.i10, .d3_category20c .i10{background-color:#a1d99b}
.d3_category20c.i11, .d3_category20c .i11{background-color:#c7e9c0}
.d3_category20c.i12, .d3_category20c .i12{background-color:#756bb1}
.d3_category20c.i13, .d3_category20c .i13{background-color:#9e9ac8}
.d3_category20c.i14, .d3_category20c .i14{background-color:#bcbddc}
.d3_category20c.i15, .d3_category20c .i15{background-color:#dadaeb}
.d3_category20c.i16, .d3_category20c .i16{background-color:#636363}
.d3_category20c.i17, .d3_category20c .i17{background-color:#969696}
.d3_category20c.i18, .d3_category20c .i18{background-color:#bdbdbd}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px 10px 0 10px;
  background: rgba(51,51,51,1);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size: 12px;
  z-index:10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
.d3-tip-value{
	font-weight: bold;
	padding-left: 15px;
}
.d3-tip-key{
	font-weight: bold;
	color:#ccc;
	font-family: monospace;
}
.d3-tip-header{
	color:#f0e68c;
}
.heat-box {
   stroke: #E6E6E6;
   stroke-width: 2px;
 }