<div class="col-sm-12 myProfilesConfig">
	<div class="col-sm-10">
      <h3>String matching Algorithms:</h3>
    </div>
	 <div class="col-sm-2 no-padding-left">
                    <div class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3" id="mySavedStringProfile">
                        <h5>Saved Profiles</h5>
                    </div>
       </div>

</div>
<div class="row myProfilesConfig">
	<div class="col-sm-12">
		<div class="progress progress-micro">
		<div class="progress-bar progress-bar-primary" role="progressbar"
			style="width: 77%;"></div>
		</div>
	</div>
</div>

<div class="row myProfilesConfig">

<div class="jarviswidget jarviswidget-color-light "
			data-widget-editbutton="false" data-widget-deletebutton="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2>Configure Matching</h2>
				<div>
					<div class="dc-data-count">
						<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | -->
						<!-- 														<a href="javascript:dc.filterAll(); dc.renderAll();">Reset -->
						<!-- 															All</a> -->
					</div>
					<div class="pull-right" style="margin-right: 10px;">
						<a href="#" id="btnOpenSearchModal" class="btn btn-success pull-right"
							data-toggle='modal'>
							Save</a>
					</div>
				</div>
			</header>
			<div>
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->
				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">
					<div class="row">

						<form id="frmSM" class="">
		<div class="col-sm-12">
			<div class="col-sm-6 sm-Div border-right-1px">
				<div class="col-sm-12">
					<h1 class="text-center">Source</h1>
					<div class="progress progress-micro">
						<div class="progress-bar progress-bar-primary" role="progressbar"
							style="width: 100%;"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padding" id="source">
					<div class="col-md-6">
						<div
							class="btn well well-sm bg-color-darken txt-color-white text-center width-100per"
							data-source="hive" data-type="source">
							<h5>
								<i class="fa fa-fw fa-cloud"></i>HIVE
							</h5>
							<code> Table stored in hadoop</code>
						</div>
					</div>
					<div class="col-md-6">
						<div
							class="btn well well-sm bg-color-teal txt-color-white text-center width-100per"
							data-source="postgreSQL" data-type="source">
							<h5>
								<i class="fa fa-fw fa-database"></i>PostgreSQL
							</h5>
							<code> Table stored in PostgreSQL</code>
						</div>
					</div>
				
				</div>
				
				<div class="col-sm-12" id="sourceConfig">
					<div class="col-sm-6">
						<i class="note">Database:</i> <input type="text"
							name="sourceDatabase" id="sourceDatabase" style="width: 100%" />
					</div>
					<div class="col-sm-6">
						<i class="note">Table:</i> <input type="text" name="sourceTable"
							id="sourceTable" style="width: 100%" />
					</div>
					<div class="col-sm-8">
						<i class="note">Supporting fields:</i> <input type="text"
							name="sourceSC" id="sourceSC" style="width: 100%" />
					</div>
					<div class="col-sm-4">
						<i class="note">Target matching column:</i> <input type="text"
							name="sourceMC" id="sourceMC" style="width: 100%" />
					</div>
				<!-- 	<div class="col-sm-12 smart-form">
						<i class="note">filter Condition:</i> <label class="input"><input
							type="text" name="sourceFC" id="sourceFC" style="width: 100%"
							placeholder="Filter conditions"></label>
					</div> -->
						<div class="col-sm-12 "><strong>Add Filter</strong>
					<i class="fa fa-md fa-fw fa-plus-square color-blue cursor-pointer" name="addFilterSource"  data-select="source" data-type="sourceFilter" title="add filter"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-6 sm-Div border-left-1px">
				<div class="col-sm-12">
					<h1 class="text-center">Target</h1>
					<div class="progress progress-micro">
						<div class="progress-bar progress-bar-primary" role="progressbar"
							style="width: 100%;"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padding" id="target">
					<div class="col-md-6">
						<div
							class="btn well well-sm bg-color-darken txt-color-white text-center width-100per"
							data-source="hive" data-type="target">
							<h5>
								<i class="fa fa-fw fa-cloud"></i>HIVE
							</h5>
							<code> Table stored in hadoop</code>
						</div>
					</div>
					<div class="col-md-6">
						<div
							class="btn well well-sm bg-color-teal txt-color-white text-center width-100per"
							data-source="postgreSQL" data-type="target">
							<h5>
								<i class="fa fa-fw fa-database"></i>PostgreSQL
							</h5>
							<code> Table stored in PostgreSQL</code>
						</div>
					</div>
				
				</div>
			
				<div class="col-sm-12" id="targetConfig">
					<div class="col-sm-6">
						<i class="note">Database:</i> <input type="text"
							name="targetDatabase" id="targetDatabase" style="width: 100%" />
					</div>

					<div class="col-sm-6">
						<i class="note">Table:</i> <input type="text" name="targetTable"
							id="targetTable" style="width: 100%" />
					</div>
					<div class="col-sm-4">
						<i class="note">Target matching column:</i> <input type="text"
							name="targetMC" id="targetMC" style="width: 100%" />
					</div>
					<div class="col-sm-8">
						<i class="note">Supporting fields:</i> <input type="text"
							name="targetSC" id="targetSC" style="width: 100%" />
					</div>
				<!-- 	<div class="col-sm-12 smart-form">
						<i class="note">filter Condition:</i> <label class="input"><input
							type="text" name="targetFC" id="targetFC" style="width: 100%"
							placeholder="Filter conditions"></label>
					</div> -->
						<div class="col-sm-12"><strong>Add Filter</strong>
					<i class="fa fa-md fa-fw fa-plus-square color-blue cursor-pointer" name="addFilterTarget" data-select="target" data-type="targetFilter" title="add filter"></i>
					</div>
				</div>
			</div>
				
		</div>
		
				
		<div class="col-md-12" id="algoDiv">
			<div class="col-md-12 border-2px-solid no-border-top">
				<div class="col-md-7">
					<i class="note">Algorithms:</i> <input type="text"
						name="smAlgorithms" id="smAlgorithms" style="width: 100%" />
				</div>
				<div class="col-md-2 smart-form">
					<span class="smart-form"> <!-- <label class="checkbox ">
							<input type="checkbox" name="checkbox">
							<i></i>Exclude Special character
						</label> --> <label class="toggle"> <input type="checkbox"
							name="excludeSC"> <i data-swchon-text="ON"
							data-swchoff-text="OFF"></i>Exclude Special character
					</label>
					</span>
				</div>
				<div class="col-md-2 smart-form">
					<span class="smart-form"> <!-- <label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Exclude Space
						</label> --> <label class="toggle"> <input type="checkbox"
							name="excludeSpace"> <i data-swchon-text="ON"
							data-swchoff-text="OFF"></i>Exclude Space
					</label>
					</span>
				</div>
				<div class="col-md-1 padding-top-15">
					<button type="submit" class="btn btn-primary" id="generateSM">
						Submit</button>
				</div>
			</div>
		</div>
	</form>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Added code for implementing filters in String matching -->
			<div class="col-md-12 col-sm-12 col-xs-12 sortable-grid ui-sortable">
				<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-filter" style="display:none">
						<header>
							<span class="widget-icon no-min-height">
							<i class="fa fa-lg fa fa-filter"></i>
							</span>
							<h2>Filters</h2>
							<div class="jarviswidget-ctrls" role="menu">
								<span class="collapsefilter"> 
								<a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom"
																data-original-title="Collapse">
									<i class="fa fa-minus"></i></a></span> 
									<span class="onoffswitch pull-right">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
																id="filterModalInlineswitch"> <label
																class="onoffswitch-label" for="filterModalInlineswitch">
																	<span class="onoffswitch-inner"
																	data-swchon-text="Inline" data-swchoff-text="Modal"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
														</div>
													</header>
												<div class="profile-filters">
														<div class="jarviswidget-editbox"></div>
														<div class="widget-body no-min-height smart-form"
															id="filters"></div>
													</div>
							<!-- adding date range popup -->						
													<div id="dialog" title="Date Range" style="width:500px ; height:250px;display:none">
													 <ul class="nav nav-tabs" id="myTab">
                                                       <li class="active" ><a data-toggle="tab" href="#year" data-attr="year" style="color:#a90329">Year</a></li>
    <li><a data-toggle="tab" href="#quarter" data-attr="quarter" style="color:#a90329">Quarter</a></li>
    <li><a data-toggle="tab" href="#month" data-attr="month" style="color:#a90329">Month</a></li>
    <li><a data-toggle="tab" href="#week" data-attr="week" style="color:#a90329">Week</a></li>
    <li><a data-toggle="tab" href="#day" data-attr="day" style="color:#a90329">Day</a></li>
  </ul>
        <div class="tab-content">
        
    <div id="day" class="tab-pane fade ">
    <table style="margin-top: 10px;">
        <tr>
        <td style="padding-left: 20px;">
      <input type="radio" name="day"  id="previousDay" value="previousDay" > <label for="previousDay">Yesterday</label> <br>
      </td>
      <td style="padding-left: 20px;">
      <input type="radio" name="day"  id="lastRangeId" value="lastRangeValue" style="margin-left: 20px;"> <label for="lastRangeId">Last</label> 
      </td> 
      <td>
      <input type="number" min="1" id="dayLastRange" name="day" data-value="lastRangeValue" class="lastRange" style="width:50px;margin-left: 20px;"> days
      </td>
      </tr>
      <tr>
      <td style="padding-left: 20px;">
  <input type="radio" name="day"  id="currentDay" value="currentDay" ><label for="currentDay">Today</label> <br>
  </td>
  <td style="padding-left: 20px;">
  <input type="radio" name="day"  id="nextRangeDay" value="nextRangeValue" style="margin-left: 20px;"> <label for="nextRangeDay"> Next</label><br>
  </td>
  <td>
  <input type="number" min="1" name="day" id="dayNextRange" data-value="nextRangeValue" class="nextRange" style="width:50px ;margin-left: 20px;" > days
  </td>
  </tr>
  <tr>
  <td style="padding-left: 20px;">
  <input type="radio" name="day"  id="nextDay" value="nextDay"> <label for="nextDay">Tomorrow</label>
    </td> 
    </tr>
    </table> 
    <hr>
    </div>
    
       <div id="year" class="tab-pane fade in active">
    <table style="margin-top: 10px;">
        <tr>
        <td style="padding-left: 20px;">
      <input type="radio" name="year"  id="previousYear" value="previous" ><label for="previousYear">Previous Year</label> <br>
      </td>
      <td style="padding-left: 20px;">
      <input type="radio" name="year"  id="lastRangeYear" value="lastRangeValue" style="margin-left: 20px;"><label for="lastRangeYear">Last</label> 
      </td>
      <td>
      <input type="number" name="year"  min="1" id="yearLastRange" data-value="lastRangeValue" class="lastRange" style="width:50px ; margin-left: 20px;"> years
      </td>
      </tr>
      <tr>
      <td style="padding-left: 20px;">
  <input type="radio" name="year"  id="currentYear" value="current" ><label for="currentYear">Current Year</label> <br>
  </td>
  <td style="padding-left: 20px;">
  <input type="radio" name="year"  id="nextRangeYear" value="nextRangeValue" style="margin-left: 20px;"><label for="nextRangeYear">Next</label> <br> 
  </td>
  <td>
  <input type="number" name="year" min="1" id="yearNextRange" data-value="nextRangeValue" class="nextRange" style="width:50px ;margin-left: 20px;" > years
  </td>
  </tr>
  <tr>
  <td style="padding-left: 20px;">
  <input type="radio" name="year"  id="nextYear" value="next"><label for="nextYear">Next Year</label> 
    </td> 
    </tr>
    </table> 
    <hr>
   </div>
    
      <div id="month" class="tab-pane fade ">
          <table style="margin-top: 10px;">
            <tr>
              <td style="padding-left: 20px;">
                <input type="radio"  id="previousMonth" name="month" value="previous" ><label for="previousMonth">Previous Month</label> <br>
              </td>
              <td style="padding-left: 20px;">
               <input type="radio" name="month" id="lastRangeMonth"  value="lastRangeValue" style="margin-left: 20px;"><label for="lastRangeMonth">Last</label> 
              </td>
              <td>
               <input type="number" name="month" min="1" id="monthLastRange" data-value="lastRangeValue" class="lastRange" style="width:50px ; margin-left: 20px;"> months
              </td>
          </tr>
          <tr>
            <td style="padding-left: 20px;">
              <input type="radio" name="month"  id="currentMonth" value="current" ><label for="currentMonth">Current Month</label> <br>
            </td>
            <td style="padding-left: 20px;">
              <input type="radio" name="month"  id="nextRangeMonth" value="nextRangeValue" style="margin-left: 20px;"><label for="nextRangeMonth">Next</label> <br>
            </td>
            <td>
              <input type="number" name="month"  min="1" id="monthNextRange" data-value="nextRangeValue" class="nextRange" style="width:50px ;margin-left: 20px;" > months
            </td>
          </tr>
          <tr>
             <td style="padding-left: 20px;">
                <input type="radio" name="month" id="nextMonth"  value="next"><label for="nextMonth">Next Month</label> 
             </td> 
          </tr>
      </table> 
       <hr>
    </div>
    
     <div id="quarter" class="tab-pane fade ">
          <table style="margin-top: 10px;">
            <tr>
              <td style="padding-left: 20px;">
                <input type="radio" name="quarter" id="previousQuarter"  value="previous" ><label for="previousQuarter">Previous Quarter</label> <br>
              </td>
              <td style="padding-left: 20px;">
               <input type="radio" name="quarter" id="lastRangeQuarter"  value="lastRangeValue" style="margin-left: 20px;"><label for="lastRangeQuarter">Last</label> 
              </td>
              <td>
               <input type="number" name="quarter"  min="1" id="quarterLastRange" data-value="lastRangeValue" class="lastRange" style="width:50px ; margin-left: 20px;"> quarters
              </td>
          </tr>
          <tr>
            <td style="padding-left: 20px;">
              <input type="radio" name="quarter" id="currentQuarter"  value="current" ><label for="currentQuarter">Current Quarter</label> <br>
            </td>
            <td style="padding-left: 20px;">
              <input type="radio" name="quarter" id="nextRangeQuarter"  value="nextRangeValue" style="margin-left: 20px;"><label for="nextRangeQuarter">Next</label> <br>
            </td>
            <td>
              <input type="number" name="quarter"  min="1" id="quarterNextRange" data-value="nextRangeValue" class="nextRange" style="width:50px ;margin-left: 20px;" > quarters
            </td>
          </tr>
          <tr>
             <td style="padding-left: 20px;">
                <input type="radio" name="quarter" id="nextQuarter"  value="next"><label for="nextQuarter">Next Quarter</label> 
             </td> 
          </tr>
      </table> 
       <hr>
    </div>
    
       <div id="week" class="tab-pane fade ">
          <table style="margin-top: 10px;">
            <tr>
              <td style="padding-left: 20px;">
                <input type="radio" name="week" id="previousWeek"  value="previous" ><label for="previousWeek">Previous Week</label> <br>
              </td>
              <td style="padding-left: 20px;">
               <input type="radio" name="week" id="lastRangeWeek"  value="lastRangeValue" style="margin-left: 20px;"><label for="lastRangeWeek">Last</label> 
              </td>
              <td>
               <input type="number" name="week"  min="1" id="weekLastRange" data-value="lastRangeValue" class="lastRange" style="width:50px ; margin-left: 20px;"> weeks
              </td>
          </tr>
          <tr>
            <td style="padding-left: 20px;">
              <input type="radio" name="week"  id="currentWeek" value="current" ><label for="currentWeek">Current Week</label> <br>
            </td>
            <td style="padding-left: 20px;">
              <input type="radio" name="week"  id="nextRangeWeek" value="nextRangeValue" style="margin-left: 20px;"><label for="nextRangeWeek">Next</label> <br>
            </td>
            <td>
              <input type="number" name="week"  min="1" id="weekNextRange" data-value="nextRangeValue" class="nextRange" style="width:50px ;margin-left: 20px;" > weeks
            </td>
          </tr>
          <tr>
             <td style="padding-left: 20px;">
                <input type="radio" name="week" id="nextWeek"   value="next"><label for="nextWeek">Next Week</label> 
             </td> 
          </tr>
      </table> 
       <hr>
    </div>
     <div id="savedRange">
     <span></span>
    <button type="button"  class="btn btn-primary saveYear pull-right"> Save </button>
    </div>
    
    </div>                                       
					
	  </div>
	  <!--  date range popup -->
		</div>
	</div>
<!-- code ends here -->
		
		
</div>
<div class="row myProfilesConfig">
	<div class="col-md-12">
		<!-- Widget ID (each widget will need unique ID)-->
		<div class="jarviswidget jarviswidget-color-light " id="wid-id-5"
			data-widget-editbutton="false" data-widget-deletebutton="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2>Detail view</h2>
				<div>
					<div class="dc-data-count">
						<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | -->
						<!-- 														<a href="javascript:dc.filterAll(); dc.renderAll();">Reset -->
						<!-- 															All</a> -->
					</div>
					<div class="pull-right" style="margin-right: 10px;">
						<a href="#" id="smart-mod-eg1" class="btn btn-success pull-right"
							data-toggle='modal' onclick="ppaMaterialMapping.ExportToExcel()">
							Export to Excel</a>
					</div>
				</div>
			</header>
			<div>
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->
				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">
					<div class="row">


						<table class="table table-hover dc-data-table" id="detailTable"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	

<div id="loading"></div>
<div class="modal fade" id="myModalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog width-500">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Profile Details</h4>
            </div>
            <form class="" id="frmSearchModal">
                <div class="modal-body no-padding">
                    <div action="" id="smart-form-register" class="smart-form " novalidate="novalidate">
                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="profilename" id="profilename" placeholder="Profile name"> <b class="tooltip tooltip-bottom-right">Needed to enter the
                                        Profile display name</b>
                                </label>
                            </section>
                            <section>
                                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="description" id="description" placeholder="Description"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the Description</b>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSaveSearch">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModalLogicConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Presentation Logic</h4>
            </div>
            <form class="" id="frmPLogicModal">
                <div class="modal-body no-padding">
                    <div action="" style="min-height: 550px;max-height: 550px;" novalidate="novalidate">
                        <fieldset>
                               <div id="editor" style="min-height: 500px;max-height: 500px;"></div>
                        </fieldset>
                        <footer class="pull-right">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSavePLogic">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="row" id="myProfiles" style="display: none">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h3>
                Saved Profile
                    <a class="btn btn-warning padding-left-20 pull-right" id="backToDesign" href="javascript:void(0);" title="Back to source selection"><i class="fa fa-mail-reply"></i> Back</a>
                </h3>
            </div>
            <div class="col-sm-12">
                <div class="progress progress-micro">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="well padding-10">
                    <h5 class="no-margin col-md-2">
                    Name
                </h5>
                    <h5 class="no-margin col-md-4">
                    Schema
                </h5>
                    <h5 class="no-margin col-md-2">
                    Search Source
                </h5>
                    <h5 class="no-margin col-md-4 ">
                    Description
                </h5>
                    <h5 class="no-margin col-md-1">
                </h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group no-margin cursor-pointer" id="myProfileList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/StringMatching/StringMatching.js"></script>