
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row" id="faqGridDiv">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>FAQ Reports</h2>


					<ul class="demo-btns">
						<li><a id="btnCreateFAQ" class="btn btn-success pull-right"><i
								class="fa fa-plus"></i> Create FAQ</a></li>
					</ul>

				</header>



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">
					<table class="table table-striped table-hover dataTable no-footer"
						id="faqTable">
						<thead>
							<tr class="header">
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</article>
	</div>
	<div class="row hide" id="faqEditDiv">
		<div class="col-sm-12">
			<h3>
				Faq view <a class="btn btn-warning padding-left-20 pull-right"
					id="backToDesign" href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-12">
			<form id="frmSankeyFilter" class="">
				<div class="no-padding">

					<div>
						<fieldset class="margin-20">
							<section>
								<label class="input"> <textarea name="question"
										style="width: 100%" placeholder="Question" id="question"
										autofocus> Question 
									</textarea>
								</label>
							</section>

							<section>
								<label class="input"> <textarea name="answer"
										style="width: 100%" placeholder="Answer" id="answer" autofocus>Answer
									</textarea>
								</label>
							</section>
							<div action="" id="smart-form-register" class="smart-form"
								novalidate="novalidate">
								<section>
									<label class="input"> <input type="text" name="screen"
										style="width: 89%" placeholder="Screen" id="screen" autofocus>
										<b class="tooltip tooltip-bottom-right">Screen</b>
									</label>
								</section>

								<section>
									<input type="text" name="type" id="type" style="width: 89%"
										placeholder="Please select Role" />
								</section>

								<section>
									<label class="checkbox"> <input type="checkbox"
										name="faqEnabled" id="FAQEnabled"> <i></i>Enable
									</label>
								</section>
						</fieldset>
						<div class="smart-form">
							<footer>
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true" id="btnCancel">Cancel</button>
								<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
							</footer>
						</div>
					</div>
				</div>
		</div>
		</form>
	</div>
	</div>
</section>

<div id="loading"></div>
<!-- widget grid -->
<!-- <div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-0">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">FAQ View</h4>

			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">

					<div>
						<fieldset class="margin-20">

							<section>
								<label class="input">
									<input type="text" name="id" placeholder="id" id="id" autofocus>
									<b class="tooltip tooltip-bottom-right">enter ID</b>
										
								</label>
							</section>

							<section>
								<label class="input"> <textarea name="question"
										style="width: 100%" placeholder="Question" id="question"
										autofocus> Question 
									</textarea>
								</label>
							</section>

							<section>
								<label class="input"> <textarea name="answer"
										style="width: 100%" placeholder="Answer" id="answer" autofocus>Answer
									</textarea>
								</label>
							</section>
							<div action="" id="smart-form-register"  class="smart-form"
						novalidate="novalidate">
							<section>
								<label class="input"> <input type="text" name="screen"
									style="width: 100%" placeholder="Screen" id="screen" autofocus>
									<b class="tooltip tooltip-bottom-right">Screen</b>
								</label>
							</section>

							<section>
								<input type="text" name="type" id="type" style="width: 100%"
									placeholder="Please select Role" />
								<select multiple
									name="type" id="type" style="width: 470px" multiple="multiple"
									class="required" title="Please select at least one Role"
									required>
									<option value="ROLE_E2EMF">ROLE_E2EMF</option>
									<option value="ROLE_GBT">ROLE_GBT</option>
									<option value="ROLE_TOKEN">ROLE_TOKEN</option>
									<option value="ROLE_ADMIN">ROLE_ADMIN</option>
									<option value="ROLE_DRL">ROLE_DRL</option>
									<option value="ROLE_IC">ROLE_IC</option>
									<option value="ROLE_NGRAM">ROLE_NGRAM</option>
									<option value="ROLE_SLOB">ROLE_SLOB</option>
									<option value="ROLE_PPA">ROLE_PPA</option>
									<option value="ROLE_GUEST">ROLE_GUEST</option>
									<option value="ROLE_P2020">ROLE_P2020</option>
									<option value="ROLE_PRMS">ROLE_PRMS</option>
								</select>
							</section>

							<section>
								<label class="checkbox"> <input type="checkbox"
									name="faqEnabled" id="FAQEnabled"> <i></i>Enable
								</label>
							</section>

						</fieldset>
					<div class="smart-form">	
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
						</div>
					</div>
				</div>

				</div>
			</form>
			end widget content
		</div>
		end widget div

	</div> -->
</div>

<!-- end widget grid -->

<script src="js/Report/FAQReports.js"></script>
<script src="js/plugin/ckeditor/ckeditor.js"></script>
<!-- <script src="js/plugin/ckeditor/adapter/jquery.js"></script> -->
<!-- <script src="js/plugin/ckeditor/styles.js"></script> -->

<!-- <script src="js/plugin/ckeditor/config.js"></script>
<script src="js/plugin/ckeditor/plugins"></script>
<script src="js/plugin/ckeditor/lang"></script> -->



