<link rel="stylesheet" type="text/css" href="../css/faq-newtab.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css"> 
<!-- <link rel="stylesheet" type="text/css" href="../css/img/faq_bg.jpg"/> -->

 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->  
<!-- <script src="../js/plugin/faq-newtab/jquery-1.10.2.min.js"></script>  -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
		if (!window.jQuery) {
			document
					.write('<script src="js/plugin/libs/jquery-2.0.2.min.js"><\/script>');
		}
	</script>
<script src="../js/plugin/bootstrap/bootstrap.js"></script>

<script>	
	function test(){
		console.log("calling");
		$(function(){
			$.ajax({
				type: 'GET',
				url: '../rest/ContextHelpResource/getfaqlist',
				success: function(data){
					$('#faqSection').html('');
					$.each(data, function(index) {
						var answer;
						if(this.answer){
							answer = this.answer.replace(/""/g,'"').replace(/^"|"$/g,'');
						}
						var question;
						if(this.question){
							question = this.question.replace(/""/g,'"').replace(/^"|"$/g,'');
						}
						$('<div/>').addClass('panel panel-default').append($('<div/>').addClass('panel-heading')
								.append($('<div/>').append($('<h6/>').attr({'id':'questionSectionAllign'}).append($('<a/>').html(question).addClass('accordion-toggle')
										.attr({'id':'text-color','data-toggle':'collapse','data-parent':'#accordion','href':'#collapsAnswer'+index}))))
						).append($('<div/>').append($('<h5/>').attr({'class':'collapse answerSectionAllign','id':'collapsAnswer'+index}).html(answer))).appendTo($('#faqSection'));
					});
				}
			});
		});
	}
</script>

<body onload="test();">
	
	<div class="panel-group" id="accordion">
		<div class="faqHeader">
			<h1 style="font-size: 20px">Frequently Asked Questions</h1>
		</div>
		<div class="bg"></div>
		<div id="faqSection"></div>
	</div>
	<div class="box"></div>
</body>
