<label class="select select-charts"> <select>
							<option value="0">Choose Chart</option>
							<option value="col-md-12">Pie chart</option>
							<option value="col-md-12">Donut chart</option>
							<option value="col-md-6">Bar chart</option>
							<option value="col-md-4">Row chart</option>
							<option value="col-md-3">Line Chart</option>
							<option value="col-md-2">Stacked bar chart</option>
					</select> <i></i>
</label>
<div id="pieChartConfig">
	<div class="note">
		<strong>Display name</strong>
	</div>
	<label class="input">
		<input type="text" class="input-xs">
	</label>
</div>
<div id="barChartConfig">
</div>