<div class="{{width}} chart-parent-div">
	{{#if istemplate}}
	<div class="jarviswidget {{header-color-class}}" id="{{id}}" {{#unless
		fullscreen}} 
		data-widget-fullscreenbutton="{{fullscreen}}"{{/unless }}
		>
		<header>
			<span class="widget-icon"> <i class="{{icon}}"> </i>
			</span>
			<h2>{{header}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox row">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
					<input class="form-control" type="text"> <span class="note"><i
						class="fa fa-check text-success"></i> Change title to update and
						save instantly!</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<label class="select select-width"> <select>
							<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose
								Width</option>
							<option value="col-md-12 col-xs-12 col-sm-12 col-lg-12">100%</option>
							<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
							<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
							<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
					</select> <i></i>
					</label><span class="note"><i class="fa fa-check text-success"></i>
						Select width of widget</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<label class="select select-charts"> <select>
							<option value="0">No. of Chart</option>
							<option value="col-md-12 col-xs-12 col-sm-12 col-lg-12">1</option>
							<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">2</option>
							<option value="col-md-4 col-xs-6 col-sm-4 col-lg-4">3</option>
							<option value="col-md-3 col-xs-6 col-sm-3 col-lg-3">4</option>
							<option value="col-md-3 col-xs-6 col-sm-3 col-lg-3 col-md-15">5</option>
							<option value="col-md-2 col-xs-6 col-sm-3 col-lg-2">6</option>
					</select> <i></i>
					</label><span class="note"><i class="fa fa-check text-success"></i>
						Select No. of Charts to fit in this widget</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<input type="text" name="columnForImageUrl" style="width: 100%;">
					<span class="note"><i class="fa fa-check text-success"></i>
						Image Column</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<input type="text" name="columnForFiltered" style="width: 100%;">
					<span class="note"><i class="fa fa-check text-success"></i>
						Filtered Column</span>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 smart-form">
					<input type="text" name="configEditColumn" style="width: 100%;">
					<span class="note"><i class="fa fa-check text-success"></i>
						Editable Column</span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
					<div class="panel panel-warning ">
						<div class="panel-heading">
							<label>Configure Actions</label>
							<div class="smart-form floatRight col-md-3">
								<select class="select_displaytype form-control"
									name="actiondisplaytype">
									<option value="inline">Inline</option>
									<option value="dropdown">Drop Down</option>
								</select> <i></i>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Action Title</th>
										<th>Callback function</th>
										<th>Action Display Type</th>
										<th><a href="javascript:void(0)" class="button-icon"
											name="addImageConfigAction" title=""> <i
												class="fa fa-fw fa-lg fa-plus-circle"></i></a></th>
									</tr>
								</thead>
								<tbody name="actionPanelTable">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
					<div class="panel panel-warning ">
						<div class="panel-heading">
							<label>Configure Editable Columns</label>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-sm-6">
							<input type="text" name="configEditColumn" style="width: 100%;">
							<span class="note"><i class="fa fa-check text-success"></i>
								Column1</span>
						</div>
					</div>
				</div> -->
			</div>
			<div class="widget-body">
				<div class="col-md-12 image-div">
					<span style="top: 90px; position: relative;">Image will drow
						here</span>
				</div>
			</div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
	{{else}}
	<div class="{{widget-class}}" id="{{id}}"
		data-widget-editbutton="false" data-widget-deletebutton="false"
		{{#unless
		fullscreen}} 
											data-widget-fullscreenbutton="false"
		{{/unless }}
											data-widget-sortable="false">
		<header>
			<span class="widget-icon"> <i class="{{icon}}"> </i>
			</span>
			<h2>{{header}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox"></div>
			<div class="widget-body"></div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
	{{/if}}
</div>