<div class="{{width}} chart-parent-div">
	<div class="jarviswidget jarviswidget-color-blueLight"
		id="wid-id-NGram" data-widget-fullscreenbutton="false">
		<header>
			<span class="widget-icon"><i class="fa fa-fw fa fa-cloud">
			</i></span>
			<h2>{{table-header}}</h2>
			<div class="widget-toolbar" role="menu" id="ngramConfigure">
				<a href="javascript:void(0);"
					class="btn bg-color-darken txt-color-white"><i
					class="fa fa-fw fa-modx"></i>Configure</a>
			</div>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<input class="form-control" type="text"> <span class="note"><i
							class="fa fa-check text-success"></i> Change title to update and
							save instantly!</span>
					</div>
					<div class="col-md-4 col-xs-4 smart-form">
						<label class="select select-width"> <select name="width">
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose Width</option>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">100%</option>
								<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
								<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
								<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Select width of widget</span>
					</div>
					<div class="col-md-4 col-xs-4 smart-form">
						<input type="text" class="form-control"
						name="tableNGram" id="tableNGram"/>
						<span class="note"><i class="fa fa-check text-success"></i>
							Change table</span>
					</div>
					<div class="col-sm-4">
						<input type="text"  class="form-control" name="field" id="field"/>
						<span class="note"><i class="fa fa-check text-success"></i>
							Change field name</span>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="gramType" id="gramType"/>
						<span class="note"><i class="fa fa-check text-success"></i>
							Select gram type</span>
					</div>
					<div class="col-sm-12">
						<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
							<label class="toggle">
								<input type="checkbox" name="ngramSynonyms">
								<i data-swchon-text="Yes" data-swchoff-text="No"></i>Synonyms
							</label>
						</div>
						<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
							<label class="toggle">
								<input type="checkbox" name="ngramStopwords">
								<i data-swchon-text="Yes" data-swchoff-text="No"></i>Stop Words
							</label>
						</div>
						<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
							<label class="toggle">
								<input type="checkbox" name="ngramLemmatization">
								<i data-swchon-text="Yes" data-swchoff-text="No"></i>Lemmatization
							</label>
						</div>
						<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
							<label class="toggle">
								<input type="checkbox" name="ngramMoreFilters">
								<i data-swchon-text="Yes" data-swchoff-text="No"></i>More Filters
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="widget-body" class="backgroundcolorwidgetimp">
				<div class="row">
					<div id="tableForNGram_temp_{{idCounter}}" class="ngram-div"></div>
				</div>
			</div>
		</div>
	</div>
</div>