<a href="javascript:void(0);" class="axisHeader" rel="popover" data-field="{{name}}" data-displayname="{{name}}" data-chartwidth="{{chart-width}}" data-chartheight="{{chart-height}}" data-charttype="{{chart-type}}" data-dateformat="%m/%d/%Y" data-stack="">{{name}}</a>
<i class="fa fa-lg fa-remove chart-remove"></i>
<a class="reset" style="display: none;">reset</a>
<div class="chart-pie" style="{{piestyle}}"> 
</div>
<div class="chart-donut" style="{{piestyle}};display:none"> 
	<div></div>
</div>
<div class="chart-geo" style="{{piestyle}};display:none"> 
	
</div>
<div class="chart-bubble" style="{{piestyle}};display:none"> 
	<div style="height: 88%;" class="bar"></div>
	<div style="height: 22%;" class="bar"></div>
	<div style="height: 44%;" class="bar"></div>
	<div style="height: 66%;" class="bar"></div>
</div>
<div class="chart-heatmap" style="{{piestyle}};display:none"> 
	<div style="height: 10%;top: 68%;" class="bar"></div>
	<div style="height: 10%;top: 53%;" class="bar"></div>
	<div style="height: 10%;top: 28%;" class="bar"></div>
	<div style="height: 10%;top: 6%;" class="bar"></div>
</div>
<div class="chart-bar" style="{{piestyle}};display:none"> 
	<div style="height: 88%;" class="bar"></div>
	<div style="height: 22%;" class="bar"></div>
	<div style="height: 44%;" class="bar"></div>
	<div style="height: 66%;" class="bar"></div>
</div>
<div class="chart-grouped-bar" style="{{piestyle}};display:none"> 
	<div class="bar-chart" style="width:25%"> 
		<div style="height: 88%;" class="bar"></div>
		<div style="height: 22%;" class="bar"></div>
		<div style="height: 44%;" class="bar"></div>
		<div style="height: 66%;" class="bar"></div>
	</div> 
	<div class="bar-chart" style="width:25%"> 
		<div style="height: 88%;" class="bar"></div>
		<div style="height: 22%;" class="bar"></div>
		<div style="height: 44%;" class="bar"></div>
		<div style="height: 66%;" class="bar"></div>
	</div>
	<div class="bar-chart" style="width:25%"> 
		<div style="height: 88%;" class="bar"></div>
		<div style="height: 22%;" class="bar"></div>
		<div style="height: 44%;" class="bar"></div>
		<div style="height: 66%;" class="bar"></div>
	</div>
	<div class="bar-chart" style="width:25%"> 
		<div style="height: 88%;" class="bar"></div>
		<div style="height: 22%;" class="bar"></div>
		<div style="height: 44%;" class="bar"></div>
		<div style="height: 66%;" class="bar"></div>
	</div>
</div>
<div class="chart-row" style="{{piestyle}};display:none"> 
	<div style="width: 88%;" class="rowchart"></div>
	<div style="width: 22%;" class="rowchart"></div>
	<div style="width: 44%;" class="rowchart"></div>
	<div style="width: 66%;" class="rowchart"></div>
</div>
<div class="chart-grouped-row" style="{{piestyle}};display:none"> 
	<div style="width: 88%;" class="groupedrowchart"></div>
	<div style="width: 22%;" class="groupedrowchart"></div>
	<div style="width: 44%;" class="groupedrowchart"></div>
	<div style="width: 66%;height:3px;"></div>
	<div style="width: 88%;" class="groupedrowchart"></div>
	<div style="width: 22%;" class="groupedrowchart"></div>
	<div style="width: 44%;" class="groupedrowchart"></div>
	<div style="width: 66%;height:3px;"></div>
	<div style="width: 88%;" class="groupedrowchart"></div>
	<div style="width: 22%;" class="groupedrowchart"></div>
	<div style="width: 44%;" class="groupedrowchart"></div>
	<div style="width: 66%;height:3px;"></div>
</div>
<div class="chart-stacked" style="{{piestyle}};display:none"> 
	<div class="stackbar">
		<div class="barContainer" style="margin-left:10%">
			<div style="height: 33px;"></div>
			<div style="height: 99px;"></div>
		</div>
	</div>
	<div class="stackbar" style="margin-left: 35%">
		<div class="barContainer">
			<div style="height: 16px;"></div>
			<div style="height: 16px;"></div>
		</div>
	</div>
	<div class="stackbar"  style="margin-left: 60%">
		<div class="barContainer">
			<div style="height: 16px;"></div>
			<div style="height: 50px;"></div>
		</div>
	</div>
	<div class="stackbar" style="margin-left: 85%">
		<div class="barContainer">
			<div style="height: 33px;"></div>
			<div style="height: 55px;"></div>
		</div>
	</div>
</div>
<div class="chart-line line-chart-block block" style="display:none">
     <div class="line-chart">
       <div class='grafico'>
       <ul class='eje-y'>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
       </ul>
         <span data-valor='25'>
           <span data-valor='8'>
             <span data-valor='13'>
               <span data-valor='5'>   
                 <span data-valor='23'>   
                 <span data-valor='12'>
                     <span data-valor='15'>
                     </span></span></span></span></span></span></span>
       </div>
     </div>
</div>
<div class="chart-composite" style="{{piestyle}};display:none"> 
	<div style="height: 88%;" class="bar"></div>
		<div style="height: 22%;" class="bar"></div>
		<div style="height: 44%;" class="bar"></div>
		<div style="height: 66%;" class="bar"></div>
	<div class="line-chart-composite">
       <div class="grafico">
       
         <span data-valor="25">
           <span data-valor="8">
             <span data-valor="13">
               <span data-valor="5">   
                 <span data-valor="23">   
                 <span data-valor="12">
                     <span data-valor="15">
                     </span></span></span></span></span></span></span>
       </div>
     </div>
</div>
<div class="chart-distribution" style="{{piestyle}};display:none"> 
	<svg height="150" width="200">
  		<circle cx="30" cy="20" r="10" style="fill: grey"></circle>
      	<circle cx="40" cy="70" r="12" style="fill: grey"></circle>
      	<circle cx="50" cy="40" r="15" style="fill: grey"></circle>
      	<circle cx="80" cy="80" r="20" style="fill: grey"></circle>
      	<circle cx="100" cy="30" r="25" style="fill: grey"></circle>
      	<circle cx="40" cy="110" r="22" style="fill: grey"></circle>
      	<circle cx="93" cy="120" r="18" style="fill: grey"></circle>
      	<circle cx="130" cy="80" r="22" style="fill: grey"></circle>
	</svg>	
</div>
<div class="chart-hierarchie" style="{{piestyle}};display:none">
</div>
<div class="chart-scatter" style="{{piestyle}};display:none">
</div>
<div class="chart-series" style="{{piestyle}};display:none">
</div>
<div class="chart-slider" style="display:none">
	<input type="range" style="-webkit-appearance:none;height:10px;width:100%;background:#ccc"/>
</div>