<div class="modal fade" id="profilePublishModal1" 
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Publish Profile</h4>
			</div>
			<form id="frmPublishProfile" class="">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form"
						novalidate="novalidate">
						<fieldset>
							<section>
								<input type="hidden" id="actionid"> <label class="input">
									<i class="icon-append fa fa-user"></i> <input type="text"
									name="action" placeholder="Action Key"
									value="{{action}}"> <b
									class="tooltip tooltip-bottom-right">Needed to
										enter the Action key</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="displayname"
									placeholder="Action Display Name" value="{{displayname}}">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Action Display Name</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="parent" id="parent" value="{{parent}}"
									style="width: 100%" 
									placeholder="Please select parent menu" /> <!-- <input type="text" name="parent" placeholder="Parent Action Id">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Parent Action Id</b> -->
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="icon" placeholder="Icon"  value="{{icon}}"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Icon</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="sequence" value="{{sequence}}"
									placeholder="Order of Display"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Display Order</b>
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" 
									name="userEnabled" id="userEnabled"> <i></i>Enable
								</label>
							</section>
							<section>
								<label class="checkbox input col-md-10"> <input
									type="checkbox" name="tabsEnabled" id="tabsEnabled"> <i></i>Enable
									Tabs
								</label> <i class="fa fa-plus-circle fa-2x hidden" id="btnAddTab"
									style="cursor: pointer;" title="Add Tab"></i>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="button" class="btn btn-primary" id="publish">Publish</button>
						</footer>
					</div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
