<section class="chart-summary">
	<a name="removeSummary"> <i
		class="fa fa-lg fa-remove txt-color-red cursor-pointer pull-right"
		title="remove"></i>
	</a> 
	<a class="cursor-pointer" name="configSummary" data-widget-type="fillgauge" data-charttype="summary-fillgauge"><div>
			<div class='widget-type fillgauge' type="summary-fillgauge">
				<svg style="width: 100%"><g transform="translate(0,0)">
				<path d="M0,75A75,75 0 1,1 0,-75A75,75 0 1,1 0,75M0,71.25A71.25,71.25 0 1,0 0,-71.25A71.25,71.25 0 1,0 0,71.25Z" transform="translate(75,75)" style="fill: grey;">
				</path><defs><clipPath id="clipWavefillgauge" transform="translate(-127.5,67.94625091552734)">
				<path d="M0,138.0375L3.375,138.0375L6.75,138.0375L10.125,138.0375L13.5,138.0375L16.875,138.0375L20.25,138.0375L23.625,138.0375L27,138.0375L30.375,138.0375L33.75,138.0375L37.125,138.0375L40.5,138.0375L43.875,138.0375L47.25,138.0375L50.625,138.0375L54,138.0375L57.375,138.0375L60.75,138.0375L64.125,138.0375L67.5,138.0375L70.875,138.0375L74.25,138.0375L77.625,138.0375L81,138.0375L84.375,138.0375L87.75,138.0375L91.125,138.0375L94.5,138.0375L97.875,138.0375L101.25,138.0375L104.625,138.0375L108,138.0375L111.375,138.0375L114.75,138.0375L118.125,138.0375L121.5,138.0375L124.875,138.0375L128.25,138.0375L131.625,138.0375L135,138.0375L138.375,138.0375L141.75,138.0375L145.125,138.0375L148.5,138.0375L151.875,138.0375L155.25,138.0375L158.625,138.0375L162,138.0375L165.375,138.0375L168.75,138.0375L172.125,138.0375L175.5,138.0375L178.875,138.0375L182.25,138.0375L185.625,138.0375L189,138.0375L192.375,138.0375L195.75,138.0375L199.125,138.0375L202.5,138.0375L205.875,138.0375L209.25,138.0375L212.625,138.0375L216,138.0375L219.375,138.0375L222.75,138.0375L226.125,138.0375L229.5,138.0375L232.875,138.0375L236.25,138.0375L239.625,138.0375L243,138.0375L246.375,138.0375L249.75,138.0375L253.125,138.0375L256.5,138.0375L259.875,138.0375L263.25,138.0375L266.625,138.0375L270,138.0375L270,-1.4879458609640342e-15L266.625,-0.47516968755970007L263.25,-0.9386391204139043L259.875,-1.3789961429588722L256.5,-1.7853977038383881L253.125,-2.147836847854141L249.75,-2.457389120413904L246.375,-2.7064323172221694L243,-2.8888341682465297L239.625,-3.0001033345577315L236.25,-3.0375L232.875,-3.000103334557731L229.5,-2.8888341682465284L226.125,-2.706432317222168L222.75,-2.4573891204139025L219.375,-2.147836847854139L216,-1.7853977038383861L212.625,-1.37899614295887L209.25,-0.9386391204139017L205.875,-0.47516968755969746L202.5,1.1159593957230255e-15L199.125,0.4751696875596997L195.75,0.938639120413904L192.375,1.378996142958872L189,1.785397703838388L185.625,2.1478368478541405L182.25,2.4573891204139033L178.875,2.7064323172221694L175.5,2.8888341682465293L172.125,3.0001033345577315L168.75,3.0375L165.375,3.000103334557731L162,2.888834168246529L158.625,2.706432317222167L155.25,2.457389120413901L151.875,2.1478368478541374L148.5,1.7853977038383886L145.125,1.3789961429588729L141.75,0.9386391204139021L138.375,0.4751696875596978L135,-7.439729304820171e-16L131.625,-0.475169687559702L128.25,-0.9386391204139034L124.875,-1.378996142958874L121.5,-1.785397703838388L118.125,-2.1478368478541388L114.75,-2.4573891204139033L111.375,-2.706432317222168L108,-2.8888341682465293L104.625,-3.000103334557731L101.25,-3.0375L97.875,-3.0001033345577306L94.5,-2.888834168246529L91.125,-2.706432317222167L87.75,-2.4573891204139025L84.375,-2.147836847854138L81,-1.7853977038383868L77.625,-1.3789961429588717L74.25,-0.9386391204139037L70.875,-0.47516968755970085L67.5,3.7198646524100854e-16L64.125,0.4751696875597016L60.75,0.9386391204139031L57.375,1.3789961429588737L54,1.7853977038383875L50.625,2.1478368478541383L47.25,2.457389120413903L43.875,2.7064323172221676L40.5,2.8888341682465293L37.125,3.0001033345577306L33.75,3.0375L30.375,3.000103334557731L27,2.888834168246529L23.625,2.706432317222167L20.25,2.457389120413903L16.875,2.147836847854138L13.5,1.7853977038383873L10.125,1.3789961429588733L6.75,0.9386391204139027L3.375,0.4751696875597013L0,0Z" t="0.0806111111111111" transform="translate(10.882499999999999,0)"></path>
				</clipPath></defs><g clip-path="url(#clipWavefillgauge)"><circle cx="75" cy="75" r="67.5" style="fill: grey;"></circle></g></g></svg>
			</div>
			<div class='ibox widget-type lazur-bg' type="summary-ibox" style="display: none">
				<div class='ibox-content' style="background-color:gray">
					<span class="font-md"> I-Box </span>
					<h2>50%</h2>
					<div class='progress progress-mini'>
						<div style='width: 50%;' class='progress-bar'></div>
					</div>
					<div class='m-t-sm small'>Server down since 4:32 pm.</div>
				</div>
			</div>
			<div class='widget widget-type lazur-bg' type="summary-widget" style="display: none;background-color:gray">
				<div class='row no-margin'>
					<div class='col-xs-5'>
						<i class='fa fa-envelope-o fa-5x'></i>
					</div>
					<div class='col-xs-7 text-right'>
						<span class='font-md'> Message </span>
						<h2 class='font-bold'>260</h2>
					</div>
				</div>
			</div>
			<div class='circle-tile widget-type' type="summary-circle-tile" style="display: none">
				<div>
					<div class='circle-tile-heading' style="background-color:gray">
						<i class='fa fa-users fa-fw fa-2x'></i>
					</div>
				</div>
				<div class='circle-tile-content' style="background-color:gray">
					<div class='circle-tile-description text-faded'>Circle Title</div>
					<div class='circle-tile-number text-faded'>265</div>
				</div>
			</div>
		</div>
	</a>
</section>