<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div id="advancedconfig-area">
    </div>
    <div class="widget-body" style="min-height: 0px;" id="filter-solr">
        <div class="col-sm-12 sortable-grid ui-sortable">
            <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-solr-filter">
                <header>
                    <span class="widget-icon no-min-height"> <i
                                                               class="fa fa-lg fa fa-shopping-cart"></i>
                                                           </span>
                    <h2>Cart</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body" style="min-height: 0px;">
                       <div class="row" style="margin-right: 5px;">
                          <div class="pull-right">
                          	<a class="action-btn sendEmail" style="cursor: pointer;"><span class="fa fa-lg fa-fw fa-envelope margin-3 txt-color-darken"></span><span class="text-mouseover">Email</span></a>
                       		<a class="action-btn printElement" style="cursor: pointer;"><span class="fa fa-lg fa-fw fa-print margin-3 txt-color-darken"></span><span class="text-mouseover">Print</span></a>
                          </div>                       		
                       </div> 
                    	<div id="cart-image-area" class="row">
                            
                        </div>
                        <div id="cartArea" class="row">
                            
                        </div>
                        <div class="cart-print-area visible-print">
                        <div id="cart-print-image-area" class="row">
                            
                        </div>
                        <div id="print-cartArea" class="row">
                            
                        </div>
                        </div>
                        <input type="hidden" id="files" />                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="modal fade" id="myModalEmail" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Email</h4>
			</div>
			<form id="emailValidation">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-email" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-envelope"></i>
									<input type="text" name="emailmulti" id="emailmulti" class="invalid" placeholder="To" autofocus>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										To Email</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-bell"></i>
									<input type="text" id="subject" name="subject" placeholder="Subject" class="invalid">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Subject</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i class="icon-append fa fa-comments"></i>
									<textarea rows="5" name="message" id="message" placeholder="Message" class="invalid"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the
										Message</b>
								</label>
							</section>
							<div class="alert alert-warning fade in margin-bottom-5" id="attachmentDiv">
				<i class="fa-fw fa fa-file"></i>
				<strong>Attached:</strong><span id="attachment"></span>
			</div>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="button" class="btn btn-primary" id="btnSend">Send</button>
						</footer>
					</div>

				</div>
			</form>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->

	</div>
</div>

<div id="loading"></div>
<script src="web/js/plugin/elevatezoom-master/jquery.elevatezoom.js"></script>
<script src="web/js/SearchConfig/shoppingCart.js"></script>