<section id="widget-grid" class="">
    <!-- row -->
    <div class="row" id="myProfilesConfig" displ>
        <div class="col-sm-12">
            <form id="frmSearchConfig" class="" novalidate="novalidate">
                <div class="col-sm-10">
                    <h3>Configure Search</h3>
                </div>
                <div class="col-sm-2 no-padding-left">
                    <div class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3" id="mySavedSearchProfile">
                        <h5>Saved Profiles</h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="progress progress-micro ">
                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <input type="text" name="solrSchema" id="solrSchema" style="width: 100%" />
                </div>
                    </i>
                    <input type="text" name="source" id="source" style="width: 100%" />
                </div>
                <div class="col-sm-3">
                    </i>
                    <input type="text" name="database" id="database" style="width: 100%" />
                </div>
                <div class="col-sm-2">
                    </i>
                    <input type="text" name="searchTable" id="searchTable" style="width: 100%" />
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-primary" id="proceedSearch" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proceed</a>
                </div> -->
            </form>
        </div>
    </div>
    <!-- saved profile -->
   <!--  <div class="row" id="myProfiles">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h3>
                Saved Profiles
                    <a class="btn btn-warning padding-left-20 pull-right" id="backToDesign" href="javascript:void(0);" title="Back to source selection"><i class="fa fa-mail-reply"></i> Back</a>
                </h3>
            </div>
            <div class="col-sm-12">
                <div class="progress progress-micro">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="well padding-10">
                    <h5 class="no-margin col-md-2">
                    Name
                </h5>
                    <h5 class="no-margin col-md-4">
                    Schema
                </h5>
                    <h5 class="no-margin col-md-4 ">
                    Description
                </h5>
                    <h5 class="no-margin col-md-1">
                </h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group no-margin cursor-pointer" id="myProfileList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
     <div class="row" id="myprofiles" style="display: none">	
	<div class="col-sm-12">	
		<div class="progress progress-micro">	
			<div class="progress-bar progress-bar-primary" role="progressbar"	
				style="width: 100%;"></div>	
		</div>	
	</div>	
	  <div class="col-sm-12">	
		<ul class="nav nav-tabs bordered profile-tabs">	
			<li id="myProfileActive" class="active"><a href="#myprofilediv"	
				id="myProfilediv" data-attr="myprofile" style="color: black"	
				data-toggle="tab" aria-expanded="true">My Profiles<span	
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>	
			<li id="allProfileActive" class=""><a href="#allprofilediv"	
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"	
				style="color: black" aria-expanded="false">All Profiles<span	
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>	
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"	
				id="selectedProfileName">	
				<h4>	
					<b></b>	
				</h4>	
			</div>	
			<div class="col-sm-2 " id="appProfile"	
				style="padding-top: 4px; margin-left: 10%">	
				<!-- <i class=" "></i> <input type="text" name="appProfile"	
					id="appProfile" style="width: 90%" /> -->	
			</div>	
			<div class=" pull-right "	
				style="padding-top: 2px; padding-right: 1%;">	
				<a class="btn btn-warning padding-left-20 padding "	
					id="backToDesign" href="javascript:void(0);"	
					title="Back to source selection"><i class="fa fa-mail-reply"></i>	
					Back</a>	
			</div>	
		</ul>	
		<div class="tab-content padding-10">	
			<div class="well padding-10 active in" id="myprofilediv">	
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>	
				<h5 class="margin-top-0 col-md-1">Source</h5>	
				<h5 class="margin-top-0 col-md-1">Database</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created	
					on</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->	
				<div class="row">	
					<div class="col-lg-12">	
						<table	
							class='table table-striped table-bordered table-hover table-responsive'	
							id='myProfileTable' style="overflow: auto; width: 100%;">	
						</table>	
						<!-- <div class="tree smart-form">	
						<ul role="tree" id="myProfileList">	
						</ul>	
						</div> -->	
					</div>	
				</div>	
			</div>	
			<div class="well padding-10" id="allprofilediv">	
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>	
				<h5 class="margin-top-0 col-md-1">Source</h5>	
				<h5 class="margin-top-0 col-md-1">Database</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created	
					on</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->	
				<div class="row">	
					<div class="col-lg-12">	
						<table id='allProfileTable'	
							class='table table-striped table-bordered table-hover table-responsive'>	
						</table>	
						<!-- <div  class="tree smart-form">	
						<ul role="tree" id="allProfileList">	
						</ul>	
					</div> -->	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>
</section>
<div class="modal fade" id="myModalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog width-500">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Profile Details</h4>
            </div>
            <form class="" id="frmSearchModal">
                <div class="modal-body no-padding">
                    <div action="" id="smart-form-register" class="smart-form " novalidate="novalidate">
                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="profilename" id="profilename" placeholder="Profile name"> <b class="tooltip tooltip-bottom-right">Needed to enter the
                                        Profile display name</b>
                                </label>
                                <div class="profile-duplicate-error" style="color: #ff0000; font-weight: bold; text-align: left; display: none;">Profile display name already exist</div>
                            </section>
                            <section>
                                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="description" id="description" placeholder="Description"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the Description</b>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSaveSearch">Save</button>
                            <button type="submit" class="btn btn-primary" style="display:none;" id="btnCloneSaveSearch">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModalLogicConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Presentation Logic</h4>
            </div>
            <form class="" id="frmPLogicModal">
                <div class="modal-body no-padding">
                    <div action="" style="min-height: 550px;max-height: 550px;" novalidate="novalidate">
                        <fieldset>
                               <div id="editor" style="min-height: 500px;max-height: 500px;"></div>
                        </fieldset>
                        <footer class="pull-right">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSavePLogic">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- configurator -->
<div id="profileConfig">
    <div class="row" id="editProfile">
        <div class="col-sm-12">
            <!-- <article class="sortable-grid ui-sortable">
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                </div>
            </article> -->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"><i
                                        class="fa fa-fw fa-search"> </i></span>
                    <h2 id="sourceTableDesc">Search Configurator</h2>
                    <!-- <a class="btn btn-warning pull-right" id="searchBack" href="javascript:void(0);" title="Back to table selection">
                        <i class="fa fa-mail-reply"></i> Back
                    </a> -->
                    <button class="btn btn-warning pull-right" style="margin-right: 5px;" id="btnOpenSearchModal">Save</button>
            		<button class="btn btn-primary pull-right" style="margin-right: 5px;" id="btnInitPreview">Preview</button>
            		<button class="btn btn-success pull-right" style="margin-right: 5px;" id="btnOpenLogicModal">Presentation Logic</button>
        		    <button class="btn btn-success pull-right" style="margin-right: 5px;" id="btnOpenCloneSearchModal">Clone</button>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 sortable-grid ui-sortable">
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                        <header>
                                            <!-- <span class="widget-icon no-min-height"> 
                                            <i class="fa fa-lg fa fa-filter"></i>
                                        </span> -->
                                            <h2>Search and Auto-Suggest</h2>
                                        </header>
                                        <div>
                                            <div class="jarviswidget-editbox"></div>
                                            <div class="widget-body" style="min-height: 0px">
                                                <div id="autoSuggest-area">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Type</td>
                                                                <td>Query</td>
                                                                <td>Solr Collection Names</td>
                                                                <td>Options</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="autoSuggest-area-tbody">
                                                            <!-- <tr>
                                                                <td>Search</td>
                                                                <td>
                                                                    <input type="text" data-map="search" class="cboSolrCollection width-100per">
                                                                </td>
                                                                <td>
                                                                    <label id="search-lbl"></label>
                                                                </td>
                                                                <td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox">
                                                                                <input class="chkEnable" data-map="search" type="checkbox" checked="checked" disabled=""> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr> -->
                                                            <tr>
                                                                <td>Auto-Suggestion</td>
                                                                <td>
                                                                    <input type="text" data-map="suggest" class="cboSolrCollection width-100per">
                                                                </td>
                                                                <td>
                                                                    <label id="suggest-lbl"></label>
                                                                </td>
                                                                <td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox" data-map="suggest">
                                                                                <input class="chkEnable" data-map="suggest" checked="checked" type="checkbox"> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Spell Check</td>
                                                                <td>
                                                                    <input type="text" data-map="spellcheck" class="cboSolrCollection width-100per">
                                                                </td>
                                                                <td>
                                                                    <label id="spellcheck-lbl"></label>
                                                                </td>
                                                                <td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox" data-map="spellcheck">
                                                                                <input class="chkEnable" data-map="spellcheck" checked="checked" type="checkbox"> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Default Search</td>
                                                                <td>
                                                                    <input type="text" data-map="defaultSearch" class="cboSolrCollection width-100per">
                                                                </td>
                                                                <td>
                                                                    <label id="defaultSearch-lbl"></label> <br />
                                                                </td>
                                                                <td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox" data-map="defaultSearch">
                                                                                <input class="chkEnable" data-map="defaultSearch" checked="checked" type="checkbox"> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Advanced Search</td>
                                                                <td>
                                                                    <input type="text" placeholder="Enter Solr Fields" data-map="partialSearch" id="partial-search-keys" class="width-100per">
                                                                </td>
                                                                <td>
                                                                   <!-- <label id="search-lbl"></label>  -->
                                                                </td>
                                                                <td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox">
                                                                                <input class="chkEnable" data-map="partialSearch" type="checkbox" checked="checked"> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Shortlist View</td>
                                                                <td colspan="3">
                                                                    <textarea id="shortlist-view" placeholder="Short List View" class="width-100per"></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Default View</td>
                                                                <td colspan="3">
                                                                    <textarea id="defaultSearch-view" placeholder="Pre-Search View" class="width-100per"></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                            	<td colspan="3">
                                                            		<section class="col col-12">
                                                            		    <div class="well col-sm-12 col-md-12 margin-bottom-10 padding-bottom-10">
                                                            		    <section class="col col-12">
                                                            		    	<section class="col-sm-4" style="padding-left: 0px;"> 
                                                            		    		<label class="font-bold">Database Name </label><br />
                                                            		    		<label class="input width-100per"><input data-map="roles" type="text" value="" class="width-100per cboDrpDwn tabs-database-name" /></label>
                                                            		    	</section>
                                                            		    	<section class="col-sm-8" style="padding-left: 0px;"> 
                                                            		    		<label class="font-bold">Lookup Query </label><br />
                                                            		    		<label class="input width-100per"><input data-map="roles" type="text" value="" class="width-100per tabs-database-lookup" /></label>
                                                            		    	</section>
                                                            		    </section>
                                                            		    </div>
                                                            		</section>  
                                                            	</td>
                                                            	<td>
                                                                    <div class="smart-form">
                                                                        <section>
                                                                            <label class="checkbox">
                                                                                <input class="chkEnable chkRoles" data-map="roles" type="checkbox" checked="checked"> <i></i>Enabled
                                                                            </label>
                                                                        </section>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 sortable-grid ui-sortable">
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                        <header>
                                            <!-- <span class="widget-icon no-min-height"> 
                                            <i class="fa fa-lg fa fa-filter"></i>
                                        </span> -->
                                            <h2>Tabs</h2>
                                            <button class="pull-right btn btn-info" id="btn-add-tab"> 
                                            <i class="fa fa-plus-square" aria-hidden="true"></i> 
                                            Add Tab
                                            </button>
                                        </header>
                                        <div class="no-padding" style="background: #F5F5F5">
                                            <div class="jarviswidget-editbox"></div>
                                            <div class="widget-body" style="min-height: 0px">
                                                <div id="tabsConfig-area">
                                                    <form id="tabsConfig-area-tbody" class="smart-form"></form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="previewConfig" style="display: none;">
        <div class="col-sm-12">
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
               <header>
                    <span class="widget-icon"><i
                                        class="fa fa-fw fa-search"> </i></span>
                    <h2 id="searchTitleDesc">Search</h2>
                    <a class="btn btn-warning pull-right" id="btnInitConfig" href="javascript:void(0);" title="Back to table selection">
                        <i class="fa fa-fw fa-edit"></i> Edit
                    </a>
                </header> 
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div style="margin: 2% 25% 1% 10%" id="searchDivId">
                                    <form id="searchForm">
                                        <div class="input-group m-bottom-md">
                                            <input type="search" autocomplete="off" placeholder="Search here..." class="form-control no-rightborder typeahead" id="searchconfigterm" />
                                            <span class="input-group-btn">
                                            	<a  class="btn bg-color-white btn-bookmark dropdown dropdown-toggle" data-toggle="dropdown"
					id="searchConfigBookmark" title="Bookmark this search">
			<i class="fa fa-lg fa-bookmark"></i></a>
			<ul class="dropdown-menu row bookmark-menu" id="configBookmarkUl">
					<li class="row smart-form">
					<form id="form-bookmark" class="smart-form">
							<header> Save Search Strategy </header>
														<fieldset class="padding-bottom-25 padding-top-15">
															<section>
																	<input type="text" placeholder="Enter Name" id="configBookMarkName" class="width-100per">
																	<input type="hidden" id="configBookMarkValue"></section><section><br />
																	<label class="textarea col-md-12" >
																		<textarea placeholder="Enter Description" id="configBookMarkDesc" class="input-xs" ></textarea>
																	</label>
														</section>
														</fieldset>
							<footer>
								<button type="button" class="btn btn-primary" id="saveConfigBookmark">
									Save
								</button>
								<button type="button" class="btn btn-default" onclick='$($("#searchConfigBookmark").parent()).removeClass("open");'>
									Back
								</button>
							</footer>
						</form></li>
				</ul>
                                                <button type="submit" data-index="search" class="btn bg-color-blue" id="search">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget-body">
                                <!-- For Tabbing... -->
                                <ul id="searchTabsContainer" class="nav nav-tabs bordered"></ul>
                                <div class="tab-content" id="searchTabContent"></div>
                                <div class="row">
                                	<div class="col-sm-2 pull-right">
                                		<button style="display: none;" class="btn btn-default" id="btn-pagination">Load More</button>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">           
            <!-- <button class="btn btn-primary pull-right" id="btnInitConfig">Config</button> -->
        </div>
    </div>
</div>
<div id="loading"></div>
<div id="temp-view-construct-div"></div>
<div id="temp-view-construct-div1" style="display: none;"></div>
<div id="temp-view-construct-div2" style="display: none;"></div>
<div id="searchModalDrilldown" style="display: none">
    <div class="row">
        <div class="col-sm-12">
            <article class="sortable-grid ui-sortable">
                <div class="jarviswidget jarviswidget-color-light" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-fw fa-search">
						</i></span>
                        <h2 id="searchModalLabel">Search :</h2>
                        <a class="btn btn-warning pull-right" id="searchBack" href="javascript:void(0);" title="Back to Search Results"> <i class="fa fa-mail-reply"></i> Back
                        </a>
                    </header>
                    <div class="widget-body">
                        <div class="row">
                         	<div id="searchModalDrilldown-additionalFeature">
                         		
                         	</div>
                            <div class="col-sm-4">
                                <ul class="rpd-feature-set-list" style="list-style-type: none;" id="searchModalDrilldown-content">
                                </ul>
                            </div>
                            <div class="col-sm-8" id="searchModalDrilldown-image"></div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12" id="searchModalDrilldown-title"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10" id="searchModalDrilldown-suggestion"></div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalEmail" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Email</h4>

			</div>
			<form id="frmEmail" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-email" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-envelope"></i>
									<input type="text" name="emailmulti" id="emailmulti" placeholder="To" autofocus>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										To Email</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-bell"></i>
									<input type="text" name="subject" placeholder="Subject">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Subject</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i class="icon-append fa fa-comments"></i>
									<textarea rows="5" name="message" id="message" placeholder="Message"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the
										Message</b>
								</label>
							</section>
							<div class="alert alert-warning fade in margin-bottom-5" id="attachmentDiv">
				<i class="fa-fw fa fa-file"></i>
				<strong>Attached:</strong><span id="attachment"></span>
			</div>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnSend">Send</button>
						</footer>
					</div>

				</div>
			</form>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->

	</div>
</div>
<script src="web/js/Common/htmlTidy.js"></script>
<script src="web/js/Common/fileDownloader.js"></script>
<script src="js/SearchConfig/searchConfig.js"></script>
<script src="js/SearchConfig/searchConfigurator.js"></script>
<script src="js/SearchConfig/searchCallBackHandler.js"></script>
<script src="web/js/plugin/elevatezoom-master/jquery.elevatezoom.js"></script>
<script src="web/js/plugin/typeahead/typeahead.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>