<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<!-- NEW WIDGET START -->
	<div class="row" id="mainDivId">
		<div class="col-md-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-yellow " id="wid-id-1"
				data-widget-editbutton="false" data-widget-deletebutton="false"
				style="margin-left: 10px">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Analysis by Patent Expiry Date</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body">
						<div id="monthly-volume-chart"
							style="width: 100%; overflow-x: scroll">
							<a class="reset"
								href="javascript:DRL.moveChart.filterAll();DRL.volumeChart.filterAll();dc.redrawAll();"
								style="display: none;">reset</a>
							<div class="clearfix"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blue" id="wid-id-2"
				data-widget-editbutton="false" data-widget-deletebutton="false"
				style="margin-left: 10px">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Analysis On Molecules</h2>
				</header>

				<div style="background: #FFFFFF">
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<div class="widget-body">
						<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input type="text" name="moleculeSearch" id="moleculeSearch"
								style="width: 90%" placeholder="Molecule Search" />
						</section>
						<div id="bubbleChart"></div>
					</div>
				</div>
				<!-- end widget div -->

			</div>
		</div>
		<div class="col-md-6">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-orangeDark" id="wid-id-2"
				data-widget-editbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Market Potential by Region</h2>
				</header>

				<div style="background: #FFFFFF">
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<div class="widget-body">
						<div class="row padding-top-10">
							<div class=" col-md-4 text-center">
								<div data-pie-size="100" data-percent="100"
									class="easy-pie-chart txt-color-blue">
									<span class="percent percent-sign">100</span>
								</div>
								<div>North America</div>
							</div>
							<div class=" col-md-4 text-center">
								<div data-pie-size="100" data-percent="0"
									class="easy-pie-chart txt-color-blueLight">
									<span>Not Available</span>
								</div>
								<div>Europe</div>
							</div>
							<div class=" col-md-4 text-center">
								<div data-pie-size="100" data-percent="0"
									class="easy-pie-chart txt-color-blueLight">
									<span>Not Available</span>
								</div>
								<div>Rest of the World</div>
							</div>
						</div>
						<div id="world-map" style="width: 100%; height: 450px"></div>
					</div>
				</div>
				<!-- end widget div -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="jarviswidget jarviswidget-color-orangeDark" id="wid-id-2"
				data-widget-editbutton="false" data-widget-deletebutton="false"
				style="margin-left: 10px">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Time Series sensitivity analysis</h2>
				</header>

				<div style="background: #FFFFFF">
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<div class="widget-body">
						<div class="row">
							<div id="monthly-move-chart hide" class="dc-chart">
								<a class="reset"
									href="javascript:DRL.volumeChart.filterAll();dc.redrawAll();"
									style="display: none;">reset</a>
								<div class="clearfix"></div>
							</div>
							<div id="monthly-sales-chart" class="dc-chart">
								<a class="reset"
									href="javascript:DRL.salesChart.filterAll();dc.redrawAll();"
									style="display: none;">reset</a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="row">
							<div id="monthly-volume-chart"></div>
						</div>
					</div>
				</div>
				<!-- end widget div -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jarviswidget jarviswidget-color-yellow " id="wid-id-6"
				data-widget-editbutton="false" data-widget-deletebutton="false"
				style="margin-left: 10px">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Competitive Landscape</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">
						<div class="panel-body no-padding" id="tableDiv"
							style="height: 500px; overflow-y: scroll">
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th>Companies</th>
										<th>Market Entry</th>
										<th>Market Entry Last 1 year</th>
									</tr>
								</thead>
								<tbody id="tablebicalutamide">
									<tr>
										<th colspan="3">Bicalutamide</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>65.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>66.2%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.1%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>39.3%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>32.3%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>73.3%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.2%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.5%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>33.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>37.2%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tabledivalproexsodium">
									<tr>
										<th colspan="3">Divalproex sodium</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.3%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.2%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.2%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>39.3%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>32.3%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>73.3%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.2%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.5%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>37.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>39.4%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tabledorzolamidehcl">
									<tr>
										<th colspan="3">Dorzolamide HCl</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.2%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.5%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.3%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.4%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.4%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.9%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.9%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>25.6%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.6%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>22.1%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>22.1%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tablelamotrigine">
									<tr>
										<th colspan="3">Lamotrigine</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.3%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.2%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.2%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>39.3%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>32.3%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>33.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>37.2%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.2%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.5%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>73.3%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tablestavudine">
									<tr>
										<th colspan="3">Stavudine</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.2%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.5%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.3%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.4%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.4%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.9%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.9%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>25.6%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.6%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>73.3%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tablevenlafaxinehcl">
									<tr>
										<th colspan="3">Venlafaxine HCl</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.2%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.5%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>23.3%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.4%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.4%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.9%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.9%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>25.6%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>20.6%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>22.1%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-down"></i></span>21.1%
										</a></td>
									</tr>
								</tbody>
								<tbody id="tablezaleplon">
									<tr>
										<th colspan="3">Zaleplon</th>
									</tr>
									<tr>
										<td>Teva</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.3%
										</a></td>
									</tr>
									<tr>
										<td>Novartis</td>

										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>67.2%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>69.2%
										</a></td>
									</tr>
									<tr>
										<td>Daiichi Sankyo</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>39.3%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>32.3%
										</a></td>
									</tr>
									<tr>
										<td>Sun Pharma</td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>33.2%
										</a></td>
										<td><a class="btn btn-labeled btn-danger"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>37.2%
										</a></td>
									</tr>
									<tr>
										<td>Ranbaxy</td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.2%
										</a></td>
										<td><a class="btn btn-labeled btn-warning"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-bookmark"></i></span>45.5%
										</a></td>
									</tr>
									<tr>
										<td>Aurobindo</td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>68.3%
										</a></td>
										<td><a class="btn btn-labeled btn-success"
											href="javascript:void(0);"> <span class="btn-label"><i
													class="glyphicon glyphicon-thumbs-up"></i></span>73.3%
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jarviswidget jarviswidget-color-redLight" id="wid-id-4"
				data-widget-editbutton="false" data-widget-deletebutton="false">

				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

				<header>
					<span class="widget-icon"> <i
						class="fa fa-check txt-color-white"></i>
					</span>
					<h2>Relevant Research/Social Chatter on Product and
						Competitors</h2>
					<!-- <div class="widget-toolbar">
					add: non-hidden - to disable auto hide

					</div>-->
				</header>

				<!-- widget div-->
				<div id="divNews" style="height: 500px; overflow-y: scroll">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<div>
							<label>Title:</label> <input type="text" />
						</div>
					</div>
					<!-- end widget edit box -->

					<div class="widget-body no-padding smart-form"
						id="divalproexsodium">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Divalproex
								sodium </strong>- NEJM (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Divalproexsodium1.png">
									<!-- <strong>www.scientificamerican.com</strong> - Cost to Develop
									New Pharmaceutical Drug Now Exceeds $2.5B-->
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Divalproex sodium </strong>-
							news.google.com (<small class="num-of-tasks">2</small>)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Divalproexsodium2.png">
									<!-- <strong>@HCVNEWDRUGS</strong> - High Cost of New Drugs Weighs
									on Medicaid <a
										href="http://www.arkansasbusiness.com/article/102004/high-cost-of-new-drugs-weighs-on-medicaid">http://www.arkansasbusiness.com/article/102004/high-cost-of-new-drugs-weighs-on-medicaid..</a> -->
								</p></li>
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Divalproexsodium3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="bicalutamide">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Bicalutamide </strong>-
							Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Bicalutamide1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Bicalutamide </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Bicalutamide2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Bicalutamide </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Bicalutamide3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="dorzolamidehcl">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Dorzolamide
								HCL </strong>- Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/DorzolamideHCL1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Dorzolamide HCL </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/DorzolamideHCL2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Dorzolamide HCL </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/DorzolamideHCL3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="lamotrigine">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Lamotrigine </strong>-
							Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Lamotrigine1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Lamotrigine </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Lamotrigine2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Lamotrigine </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Lamotrigine3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="stavudine">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Stavudine </strong>-
							Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Stavudine1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Stavudine </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Stavudine2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Stavudine </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Stavudine3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="venlafaxinehcl">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Venlafaxine
								HCl </strong>- Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/VenlafaxineHCl1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Venlafaxine HCl </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/VenlafaxineHCl2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Venlafaxine HCl </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/VenlafaxineHCl3.png">
								</p></li>
						</ul>
					</div>
					<div class="widget-body no-padding smart-form" id="zaleplon">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-exclamation"></i><strong> Zaleplon </strong>-
							Article on the molecule (<small class="num-of-tasks">1</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Zaleplon1.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Zaleplon </strong>-
							news.google.com - News on the drug (<small class="num-of-tasks">1</small>
							)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Zaleplon2.png">
								</p></li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-search"></i><strong> Zaleplon </strong>-
							news.google.com - News on the therapeutic class(<small
								class="num-of-tasks">1</small> )
						</h5>
						<ul id="sortable3" class="todo">
							<li><span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline"> <i></i>
								</label>
							</span>
								<p>
									<img src="img/MoleculeAnalysis/Zaleplon3.png">
								</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end widget grid -->
<div id="loading"></div>
<!-- end widget grid -->

<script src="js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- <script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script> -->
<script src="js/WireFrame/MoleculeAnalysis1.js"></script>
<script type="text/javascript">
	pageSetUp();
	drlInstance();
</script>