<style>
#timeline-chart g.y {
	display: none;
}
</style>

<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Actions</h2>
					<ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right"
							data-target='#myModalthredlevel' data-toggle='modal' onclick="ActionReport.CreateView()"><i class="fa fa-plus"></i> Create
								Action</a>
								</li>
					</ul>
				</header>



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table" id="test1">
							<thead>
								<tr class="header">

									<th>Action Id</th>
									<th>Action Key</th>
									<th>Display Name</th>
									<th>Parent Id</th>
									<th>Parent Name</th>
									<th>Icon</th>
									<th>Sequence</th>
									<!-- <th>Related WO Type</th> -->
									<!-- <th>Related WO Type Desc</th> -->
									<th>Enabled</th>
									<th style="width: 100px"></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<div id="loading"></div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" -->
<!-- 	aria-labelledby="myModalLabel" aria-hidden="true"> -->
<!-- 	<div class="modal-dialog"> -->
<!-- 		<div class="modal-content"> -->
<!-- 			<div class="modal-header"> -->
<!-- 				<button type="button" class="close" data-dismiss="modal" -->
<!-- 					aria-hidden="true">&times;</button> -->
<!-- 				<h4 class="modal-title" id="myModalLabel">Filter Settings</h4> -->
<!-- 			</div> -->
<!-- 			<form id="frmSankeyFilter" class="smart-form"> -->
<!-- 				<div class="modal-body padding10"> -->
<!-- 					<fieldset> -->
<!-- 						<div class="row"> -->
<!-- 							<section class="col col-6"> -->
<!-- 								<i class="icon-append fa fa-key"></i> <input type="text" -->
<!-- 									name="action" id="action" style="width: 445px" /> -->
<!-- 							</section>			 -->
<!-- 						</div>						 -->
						
<!-- 					</fieldset> -->
<!-- 				</div> -->
<!-- 				<div class="modal-footer"> -->
<!-- 					<footer> -->
<!-- 						<button id="resetFilter" class="btn btn-primary">Filter</button> -->
<!-- 					</footer> -->
<!-- 				</div> -->
<!-- 			</form> -->
<!-- 		</div> -->
<!-- 		<!-- /.modal-content --> 
<!-- 	</div> -->
<!-- 	<!-- /.modal-dialog --> 
<!-- </div> -->

<script src="js/Report/ActionReport.js"></script>
