<link rel="stylesheet" type="text/css" media="screen"
	href="css/codemirror.css">
<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Adhoc Reports</h2>
					<ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right"
							data-target='#myModalthredlevel' data-toggle='modal'
							><i class="fa fa-plus"></i>
								Create Adhoc Report</a></li>
					</ul>
				</header>

				<!-- widget content -->
				<div class="widget-body " class="backgroundcolorwidgetimp" id="dataTableContent">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">

									<th>Name</th>
									<th>Description</th>
									<th>Query</th>
									<th>Param</th>
									<th>Source</th>
									<th>RoleId</th>
									<th>DBName</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>

			</div>

		</article>
	</div>

</section>
<div id="loading"></div>
<!-- end widget grid -->
<!-- end widget grid -->

<div  id="myModalsave" style="display: none;" >
			<header>
							
			<div class=" col col-sm-12 jarviswidget-ctrls " role="menu">  
			 <button type="button" class="btn btn-warning"  id="cancelReport">Cancel</button>
							<button type="submit" class="btn btn-primary" id="updateReport">Update</button>
			</div>
			
			</header>
			<div class="col col-sm-12">
			<form id="frmSaveDataSource" class="">
				<div class=" ">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<div style="max-width: 970px; overflow: auto;">
						    	<section class="col col-sm-4">
								<div class="note">
									<strong>Source:</strong>
								</div>
								<div class="input" id="source" style="width: 100%;"> </div>
							</section>
							<section class="col col-sm-4">
								<div class="note">
									<strong>Database:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="dbName" id="dbName"
									style="width: 100%;" tabindex="-1" title="">
								</label>
							</section>
							<section class="col col-sm-5">
								<div class="note">
									<strong>Name:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section class="col col-sm-6">
								<div class="note">
									<strong>Profile Description:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="description" id="description"
									placeholder="Description">
								</label>
							</section>
							<section class="col col-sm-12">
								<div class="note">
									<strong>Query:</strong>
								</div>
								<div class="well">
									<textarea id="queryDataSource" name="queryDataSource" style="width: 100%;"></textarea>
								</div>
							</section>
						</div>
						
					</div>
				</div>
			</form>
			</div>
		<!-- /.modal-content -->
	<!-- /.modal-dialog -->
</div>


        <script src="js/plugin/codemirror.js"></script>
        <script src="js/plugin/sql.js"></script>
		<script src="js/Report/AdhocReports.js"></script>