<!-- <div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="txt-color-blueDark padding-left-10">
			<i class="fa fa-bookmark"></i> Search Strategies<span class="font-xs" id="bookmarkcount"></span>
		</h1>
		
	</div>
</div> -->
<div class="row">
	<div class="col-sm-12 padding-left-20">
		<div class="well">
		<table class="table table-forum" id="searchHistoryTable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th class="text-center">Parameters</th>
						<th><a onclick = "bookmarks.ChageOrder()" href="javascript:void(0)"><i style="display: none;" class="fa fa-arrow-up asc" aria-hidden="true"></i><i class="fa fa-arrow-down desc" aria-hidden="true"></i></a>Date Created</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<div id="loading"></div>
<script src="js/Report/bookmarks.js"></script>