<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Form Data Report</h2>
					<ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right btn-action"
							data-target='#myModalthredlevel' data-toggle='modal'
							onclick="formDataReport.CreateView()"><i class="fa fa-plus"></i> New Form Data</a><a id="smart-mod-eg2"
							class="btn btn btn-primary pull-right margin-right-15 btn-action"
							onclick="formDataReport.SystemPropertiesRefresh()"><i class="fa fa-refresh"></i> Refresh App Properties</a></li>
					</ul>
				</header>



				<!-- widget content -->
				<div class="widget-body " class="backgroundcolorwidgetimp">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">
									<th>Property Name</th>
									<th>Obfuscation Status</th>
									<th>Deobfuscation Status</th>
									<th>Remarks</th>
									<th>Obfuscation Type</th>
									<th style="width: 100px"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<!--  <div class="alert alert-info fade in">
													<button data-dismiss="alert" class="close">x</button>
													<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
													&nbsp; Drill down table displays only top 100 records. Use
													the export option to download all matching records.
												</div>-->
			</div>

		</article>
	</div>

</section>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog  width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Form Data Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-thumb-tack"></i>
									<input type="text" name="propertyName" placeholder="Property Name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Property Name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i class="icon-append fa fa-comment"></i>
									<textarea rows="4" name="remarks" id="remarks" placeholder="Remarks"></textarea> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Remarks</b>
								</label>
							</section>
							<section>
								<!-- <label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="obfType"
									placeholder="Obfuscation Type"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Obfuscation Type</b>
								</label> -->
								<label class="select">
											<select name="obfType" id="obfType">
												<option value="0" selected="" disabled="">Obfuscation Type</option>
												<option value="1">Character</option>
												<option value="2">Word</option>
									</select> <i></i> </label>
							</section>
							<section>
								<!-- <label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="obfuscationStatus"
									placeholder="Obfuscation Status"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Obfuscation Status</b>
								</label> -->
								<label class="checkbox"> <input type="checkbox"
									name="obfusecationStatus" id="obfusecationStatus"> <i></i>Obfuscation Status
								</label>
							</section>
							<section>
							<label class="checkbox"> <input type="checkbox"
									name="deobfusecationStatus" id="deobfusecationStatus"> <i></i>Deobfuscation Status
								</label>
								<!-- <label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="deobfuscationStatus"
									placeholder="Deobfuscation Status"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Deobfuscation Status</b>
								</label> -->
							</section>
							
							
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script src="js/Report/FormDataReport.js"></script>