<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Obfuscation Words</h2>
 					<ul class="demo-btns">
 						<li><a href="#" id="smart-mod-eg1" 
 							class="btn btn-success pull-right" 
 							data-target='#myModalthredlevel' data-toggle='modal' 
 							onclick="ObfuscationWords.CreateView()"><i class="fa fa-plus"></i> Add Obfuscation</a>
 							<a id="smart-mod-eg2"
							class=" btn btn-primary pull-right margin-right-15 btn-action"
							onclick="ObfuscationWords.SystemPropertiesRefresh()"><i class="fa fa-refresh fa-spin"></i> Refresh App Properties</a>
 						</li> 
 					</ul> 
					<!--<ul class="nav nav-tabs pull-right in" id="myTab">
						 <li class="active" onClick="javascript:SOReportObject.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="SOReportObject.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
					</ul> -->
				</header>



				<!-- widget content -->
				<div class="widget-body " class="backgroundcolorwidgetimp">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">
									<th>From Word</th>
									<th>To Word</th>
									<th></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>

</section>
<div id="loading"></div>
<!-- end widget grid -->
<!-- end widget grid -->




<!-- Pop up box features -->
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog  width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Obfuscation Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-arrow-circle-right"></i>
									<input type="text" name="fromword" placeholder="From Word"> 
									<b class="tooltip tooltip-bottom-right">Needed to enter the From Word</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-arrow-circle-left"></i>
									<input type="text" name="toword" placeholder="To Word"> 
									<b class="tooltip tooltip-bottom-right">Needed to enter the To Word</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>

				</div>
			</form>
			

<script src="js/Report/ObfuscationWords.js"></script>