<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Roles</h2>
					<ul class="demo-btns"> 
						<li><a href="#" id="smart-mod-eg1" 
							class="btn btn-success pull-right" 
							data-target='#myModalthredlevel' data-toggle='modal' 
							onclick="Roles.CreateView()"><i class="fa fa-plus"></i> Create Roles</a></li>
						
							 
 					</ul> 
				
				</header>



				<!-- widget content -->
				<div class="widget-body " class="backgroundcolorwidgetimp">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">
									
									<th>Display Name</th>
									<th>Role</th>
									<th>Parent Role</th>
									<th>Favicon</th>
									<th>Logo</th>
									<th>Theme Name</th>
									<th>Menu on Top</th>
									<th>Display Order</th> 
									<th>Widget_Class</th>
									<th>Icon</th>
									<th>Widget_Color</th>
									<th>Fixed Header</th>
									<th>Fixed Navigation</th>
									<th>Fixed Ribbon</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			
			</div>

		</article>
	</div>

</section>
<div id="loading"></div>
<!-- end widget grid -->
<!-- end widget grid -->



<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog  width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Roles Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-hand-o-left"></i>
									<input type="text" name="displayname" id="displayname" placeholder="Display Name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Display Name</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-arrow-circle-left"></i>
									<input type="text" name="name" id="name"
									placeholder="Role"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Role</b>
								</label>
							</section>
							<section>
								<label class="input"> <!-- <i class="icon-append fa fa-arrow-circle-left"></i>
									<input type="text" name="parentname" id="parentname"
									placeholder="Parent Role"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Parent Role</b> -->
										<div name="parentrole"></div>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-hand-o-left"></i>
									<input type="text" name="favicon" id="favicon" placeholder="Favicon"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Favicon</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-arrow-circle-left"></i>
									<input type="text" name="logo" id="logo" placeholder="Logo"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Logo</b>
								</label>
							</section>
							<section>
									<label class="textarea"> <i class="icon-append fa fa-question-circle"></i> 										
										<textarea rows="3" id="loginContent" name="loginContent"  placeholder="Login page HTML Content" class='required'></textarea>
										<b class="tooltip tooltip-top-right"> 
											<i class="fa fa-warning txt-color-teal"></i> 
											Enter Login page HTML</b> 
									</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-hand-o-left"></i>
									<input type="text" name="icon" id="icon" placeholder="Icon"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										icon</b>
								</label>
							</section>
							<section>
								<input type="text" name="widgetClass" id="widgetClass"
									style="width: 100%" placeholder="Select Widget Class"/>
							</section>
							<section>
								<input type="text" name="widgetColor" id="widgetColor"
									style="width: 100%" placeholder="Select Widget Color"/>
							</section>
							<section>
								<input type="text" name="themeName" id="themeName"
									style="width: 100%" placeholder="Select Theme"/>
							</section>	
							<section>
								<input type="number" class="form-control displayOrder" name="displayOrder" id="displayOrder"  style="width: 100%" placeholder="Display Order"/>
							</section>
							
							<section>
									<label class="textarea"> <i class="icon-append fa fa-question-circle"></i> 										
										<textarea rows="3" id="topRightIcon" name="topRightIcon"  placeholder="Login page topRightIcont" ></textarea>
										<b class="tooltip tooltip-top-right"> 
											<i class="fa fa-warning txt-color-teal"></i> 
											Top Right Icons</b> 
									</label>
							</section>
							
							<section>
								<label class="checkbox"> <input type="checkbox" name="menuOnTop" id="menuOnTop" value=""> <i></i>Menu on Top
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" name="fixedHeader" id="fixedHeader" value=""> <i></i>Fixed Header
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" name="fixedNavigation" id="fixedNavigation" value=""> <i></i>Fixed Navigation
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" name="fixedRibbon" id="fixedRibbon" value=""> <i></i>Fixed Ribbon
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" name="singleSignOn" id="singleSignOn" value=""> <i></i>Single Sign On
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox" name="enableSignUp" id="enableSignUp" value=""> <i></i>Sign Up
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>

				</div>
			</form>
		</div>
		<!-- /.modal-content --> 
	<!-- </div>
	<!-- /.modal-dialog -->
<!-- </div>-->


<script src="js/Report/Roles.js"></script>