<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Role Actions</h2>
					<ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right"
							data-target='#myModalthredlevel' data-toggle='modal'  onclick="RoleActionReport.CreateView()"><i class="fa fa-plus"> Create</i>
								Role Action</a></li>
					</ul>
				</header>



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">
					<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">

									<th>Role Action Id</th>
									<th>Role</th>
									<!-- <th>Related WO Type</th> -->
									<!-- <th>Related WO Type Desc</th> -->
									<th>Action</th>
									<th>Action Name</th>
									<th style="width: 100px"></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!--  <div class="alert alert-info fade in">
													<button data-dismiss="alert" class="close">x</button>
													<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
													&nbsp; Drill down table displays only top 100 records. Use
													the export option to download all matching records.
												</div>-->
			</div>
		</article>
	</div>

</section>
<div id="loading"></div>
<!-- end widget grid -->
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Role Action
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" id= "role" name="role" placeholder="Role" style="width: 100%"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Role</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" id= "actionId" name="Action" placeholder="Action" style="width: 100%">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Action</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->

<script src="js/Report/RoleActionReport.js"></script>