<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="txt-color-blueDark">
			<i class="fa-fw fa fa-clock-o"></i> History
		</h1>
		
	</div>
</div>
<div class="row">
	<div class="col-sm-12 padding-left-20">
		<div class="well">
		<table class="table table-forum" id="searchHistoryTable">
				<thead>
					<tr>
						<th colspan="2">Search Query</th>
						<th class="text-center" style="width: 100px;">Module</th>
						<th class="" style="width: 300px;">Time Stamp</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script src="js/Report/searchHistory.js"></script>