<div class="row" id="selectTable" style="display: block;">
	<div class="col-sm-12">
		
			<div class="row">
				<div class="col-sm-12">
				<h3>Select database and table</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar" style="width: 44%;"></div>
				</div>
			</div>
			</div>	
			<form id="frmExportImport" class="smart-form" novalidate="novalidate">
			<fieldset class="">		
					<div class="col-sm-3">
						<i class="fa fa-barcode"></i>
						<input type="text"	name="datasource" id="datasource" style="width: 90%" />
					</div>
					<div class="col-sm-3">
						<i class="fa fa-barcode"></i>
						<input type="text" name="database" id="database" style="width: 90%" />
					</div>		
					<div class="col-sm-3">
						<i class="fa fa-barcode"></i>
						 <input type="text" name="datatable" id="datatable" style="width: 90%" />
					</div>
					<div class="col-sm-3">
						<a class="btn btn-primary" href="javascript:void(0);" id="import" title="Import" style="padding:5px"><i class="fa fa-upload"></i>Import</a>
						<a class="btn btn-primary" href="javascript:void(0);" id="export" title="Export" style="padding:5px"><i class="fa fa-download"></i>Export</a>
						<a class="btn btn-info" href="javascript:void(0);" id="importCSV" title="Import From CSV" style="padding:5px"><i class="fa fa-upload"></i>Import From CSV</a>
						
					</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog"
					aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalHeaderExportImport">Import</h4>
			</div>
			<form id="frmModalExportImport" class="smart-form">
				<div class="modal-body padding10">
					<fieldset class="no-padding" id="importFieldSet">
						<section>
							<label class="label">Upload</label>
						<label for="file" class="input input-file">
							<div class="button">
								<input type="file" class="fileUpload" name="file"/>Browse</div>
								<input type="text" id="filename" placeholder="Upload file" readonly>
						</label>
						</section>
					</fieldset>
					<fieldset class="no-padding" id="exportFieldSet">
						<section>
							<label class="label">where Condition</label>
							<label class="input">
								<input type="text" class="input-lg">
							</label>
						</section>
					</fieldset>
					<fieldset class="no-padding" id="exportFieldSet">
						<section>
							<label class="label">where Condition</label>
							<label class="input">
								<input type="text" class="input-lg">
							</label>
						</section>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button id="exportImportButton" type="submit" class="btn btn-primary"></button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="csvImportModel" tabindex="-1" role="dialog"
					aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
				<h4 class="modal-title" >Import From CSV</h4>
			</div>
			<form id="csvImportModelForm" class="smart-form">
				<div class="modal-body padding10">
					<fieldset class="no-padding">
						<section>
							<label class="label">Upload</label>
						<label for="file" class="input input-file">
							<div class="button">
								<input type="file"  id="selectFile" class="fileUpload" name="file"/>Browse</div>
								<input type="text" id="selectFilePlaceholder" placeholder="Upload file" readonly>
						</label>
						</section>
						<div class="col-md-6"> 
							<label class="label col-md-4 carousel">Table Name:</label>
							<label class="input col-md-7">
								<input type="text"  id="table" name="table" class="form-control" placeholder="Tablename" title="Please Enter Table Name">
							</label>
							<div class="col-md-1"></div>
						</div>
						<div class="col-md-6"> 
							<label class="label col-md-4 carousel">Seperator:</label>
							<label class="input col-md-8">
								<input type="text"  id="separator" name="separator"  class="form-control" placeholder="Seperator" title="Please Enter Seperator">
							</label>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button id="btnCSVImport" type="submit" class="btn btn-primary"></button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="loading"></div>
<script src="js/importData/importData.js"></script>