<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->

	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Pricing Profiling</h2>
					<ul class="nav nav-tabs pull-right in" id="myTab">
						<!-- <li class="active" onClick="javascript:pricingProfiling.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>
								<li onClick="javascript:pricingProfiling.Load('GP')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-plane"></i> <span
								class="hidden-mobile hidden-tablet">GP</span></a></li> -->

						<!-- <li onClick="pricingProfiling.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li> -->
					</ul>
				</header>
				<div class="backgroundcolorwidgetimp">
				<section id="widget-grid" class="">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">
									<div class="col-md-3">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-1" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Pricing Condition</h2>
												
											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="row-chart">
														<a class="reset"
															href="javascript:pricingProfiling.horzBarChart.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-9">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-2" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Pricing Analytics by Dimensions</h2>
												<div id="getByChoice" class="btn-group pull-right"
													data-toggle="buttons">
													 <label
														onClick="javascript:pricingProfiling.loadViewType('materialCount')"
														class="btn btn-default btn-sm active" data-source="materialCount">
														<input type="radio" name="checkbox-style"
														id="checkbox-style-2" value="switch-2"> <i>PR
															Count</i>
													</label>
													<label style="width: 79px;"
														onClick="javascript:pricingProfiling.loadViewType('netvalue')"
														class="btn btn-default btn-sm"
														data-source="netvalue"> <input type="radio"
														name="checkbox-style" id="checkbox-style-1"
														value="switch-1"><i>Net Value</i>
													</label>

												</div>
											</header>

											<div style="background: #FFFFFF">
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<div class="widget-body">

													<div id="pie-chart-Companycode" class="col-md-4"
														align="center">
														<div class="axisLabel">Company Code</div>
														<!-- <strong>Company Code</strong> -->
														<!--    <span class="reset" style="display: none;">range: <span class="filter"></span></span> -->
														<a class="reset"
															href="javascript:pricingProfiling.pieChartCC.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-plant" class="col-md-4" align="center">
													<div class="axisLabel">Plant</div>
														<!-- <strong>Plant</strong> --> <a class="reset"
															href="javascript:pricingProfiling.pieChartPlant.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-salesorg" class="col-md-4"
														align="center">
														<div class="axisLabel">Sales Org</div>
														<!-- <strong>Sales Org</strong> --> <a class="reset"
															href="javascript:pricingProfiling.pieChartSalesOrg.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>

													<div class="clearfix"></div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>




										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-3" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Pricing Analytics by Dimensions</h2>
											</header>

											<div style="background: #FFFFFF">
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<div class="widget-body">

													<div id="pie-chart-SalesGroup" class="col-md-4"
														align="center">
														<div class="axisLabel">Sales Group </div>
														<!-- <strong>Sales Group</strong> -->
														<!--    <span class="reset" style="display: none;">range: <span class="filter"></span></span> -->
														<a class="reset"
															href="javascript:pricingProfiling.pieChartSalesGroup.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-MaterialType" class="col-md-4"
														align="center">
														<div class="axisLabel">Material Type</div>
														<!-- <strong>Material Type</strong>  --><a class="reset"
															href="javascript:pricingProfiling.pieChartMT.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-SOType" class="col-md-4"
														align="center">
														<div class="axisLabel">SO Type</div>
														<!-- <strong>SO Type</strong>  --><a class="reset"
															href="javascript:pricingProfiling.pieChartSOType.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div class="clearfix"></div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-4" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa
			 fa-fw fa-bar-chart-o"> </i> </span>
												<h2>Pricing Analytics by Dimensions</h2>

											</header>
											<div style="background: #FFFFFF">

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="pie-chart-PricingConditon" class="col-md-4"
														align="center">
														<div class="axisLabel">Sales Doc Type</div>
														<!-- <strong>Sales Doc Type</strong> --> <a class="reset"
															href="javascript:pricingProfiling.pieChartPricCond.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-DistChannel" class="col-md-4"
														align="center">
														<div class="axisLabel">Distribution Channel </div>
														<!-- <strong>Distribution Channel</strong> --> <a class="reset"
															href="javascript:pricingProfiling.pieChartDistCha.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-Division" class="col-md-4"
														align="center">
														<div class="axisLabel">Division</div>
														<!-- <strong>Division</strong>  --><a class="reset"
															href="javascript:pricingProfiling.pieChartDiv.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-4" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"> <i
													class="fa fa-fw fa-bar-chart-o"> </i>
												</span>
												<h2>Net Value by month</h2>
											</header>
											<div>
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row">
														<div id="timeline-area-chart">
															<span class="reset" style="display: none;">range:
																<span class="filter"></span>
															</span> <a class="reset"
																href="javascript:pricingProfiling.timelineAreaChart.filterAll();pricingProfiling.timelineChart.filterAll();dc.redrawAll();"
																style="display: none;">reset</a>

															<div class="clearfix"></div>
														</div>
													</div>
													<div class="row">
														<div id="timeline-chart"></div>
													</div>
													<div class="row" style="width: 900px;">
														<p class="muted pull-right">select a time range to
															zoom in</p>
													</div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->

									</div>
								</div>
								<div id="loading"></div>
								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-6" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Detail view</h2>
												<div>
															<div class="dc-data-count">
																<!-- <span class="filter-count"></span> selected out of <span
																	class="total-count"></span> records | --> <a
																	href="javascript:dc.filterAll(); dc.renderAll();">Reset
																	All</a>
															</div>
														</div>
											</header>
											<div>
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row hideFilter" style="">
														
														<table class="table table-hover dc-data-table">
															<thead>
																<tr class="header">
																	<th></th>
																	<th>PR Count</th>
																	<th>Company Code</th>
																	<th>Company Code Name</th>
																	<th>Sales Org</th>
																	<th>Sales Org Name</th>
																	<th>Sales Group</th>
																	<th>Distribution Channel</th>
																	<th>Distribution Channel Name</th>
																	<th>Division</th>
																	<th>Division Name</th>
																	<th>Pricing Condition</th>
																	<th>Pricing Condition Name</th>
																	<th>Material Type</th>
																	<th>Plant Group</th>
																	<th>Plant Name</th>
																	<th>Sales Doc Type</th>
																	<th>SO Type</th>
																	<th>Net Value</th>
																	<th>Source</th>
																	<th>Region</th>
																	<th>Last Changed</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				</div>
			</div>
		</article>
	</div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id = "btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id = "btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Pricing Document Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->

<script src="js/Profiling/e2e_pricingprofiling.js"></script>