<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>SO Extract Analysis Profiling</h2>
					<ul class="nav nav-tabs pull-right in" id="myTab">
						<!-- <li class="active" onClick="javascript:poProfiling.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="poProfiling.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
						<li onClick="poProfiling.Load('GP')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-plane"></i> <span
								class="hidden-mobile hidden-tablet">GP</span></a></li> -->
					</ul>
				</header>
				<div class="backgroundcolorwidgetimp">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">
									<div class="col-md-3">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-1" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false" data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>SO Types</h2>

											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="row-chart">
														<a class="reset"
															href="javascript:poProfiling.horzBarChart.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-9">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-2" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>SO Extract Analytics by Dimensions</h2>
												<div id="getByChoice" class="btn-group pull-right"
													data-toggle="buttons">
													<label
														onClick="javascript:poProfiling.loadViewType('materialCount')"
														class="btn btn-default btn-sm active"
														data-source="materialCount"> <input type="radio"
														name="checkbox-style" id="checkbox-style-2"
														value="switch-2"> <i>SO Count</i>
													</label> <label style="width: 79px;"
														onClick="javascript:poProfiling.loadViewType('netvalue')"
														class="btn btn-default btn-sm" data-source="netvalue">
														<input type="radio" name="checkbox-style"
														id="checkbox-style-1" value="switch-1"><i>Net
															Value</i>
													</label>

												</div>
											</header>

											<div style="background: #FFFFFF">
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<div class="widget-body">

													<div id="pie-chart-Companycode" class="col-md-3"
														align="center">
														<div class="axisLabel">Selling Company</div>
														<!--    <span class="reset" style="display: none;">range: <span class="filter"></span></span> -->
														<a class="reset"
															href="javascript:poProfiling.pieChartCompanyCode.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-plant" class="col-md-3" align="center">
														<div class="axisLabel">Plant</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartPlant.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-purchaseorg" class="col-md-3"
														align="center">
														<div class="axisLabel">Order Taking Company</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartPurchaseorg.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													
													<div id="pie-chart-materialpricegroup" class="col-md-3"
														align="center">
														<div class="axisLabel">Material Price Group</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartMaterialPriceGroup.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													
													
													

													<div class="clearfix"></div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>

										<!-- end widget -->
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-3" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i> </span>
												<h2>SO Extract Analytics by Dimensions</h2>

											</header>
											<div style="background: #FFFFFF">

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="pie-chart-prchasegroup" class="col-md-3"
														align="center">
														<div class="axisLabel">Order Type</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartPurchaseGrp.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart" class="col-md-3" align="center">
														<div class="axisLabel">Material Type</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartMaterialType.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-Vendor" class="col-md-3" align="center">
														<div class="axisLabel">Related Order Type</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartVendor.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-addresstype" class="col-md-3"
														align="center">
														<div class="axisLabel">Address Type</div>
														<a class="reset"
															href="javascript:poProfiling.pieChartAddressType.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->
									</div>
									<div id="loading"></div>
									<div class="row">
										<div class="col-md-12">
											<!-- Widget ID (each widget will need unique ID)-->
											<div class="jarviswidget jarviswidget-color-light "
												id="wid-id-4" data-widget-editbutton="false"
												data-widget-deletebutton="false"
												data-widget-fullscreenbutton="false"
												data-widget-togglebutton="false">
												<header>
													<span class="widget-icon"> <i
														class="fa fa-fw fa-bar-chart-o"> </i>
													</span>
													<h2>Gross value by month</h2>
												</header>
												<div>
													<div class="jarviswidget-editbox">
														<!-- This area used as dropdown edit box -->
													</div>
													<!-- end widget edit box -->

													<!-- widget content -->
													<div class="widget-body">
														<div class="row">
															<div id="timeline-area-chart">
																<span class="reset" style="display: none;">range:
																	<span class="filter"></span>
																</span> <a class="reset"
																	href="javascript:poProfiling.timelineAreaChart.filterAll();poProfiling.timelineChart.filterAll();dc.redrawAll();"
																	style="display: none;">reset</a>

																<div class="clearfix"></div>
															</div>
														</div>
														<div class="row">
															<div id="timeline-chart"></div>
														</div>
														<div class="row" style="width: 900px;">
															<p class="muted pull-right">select a time range to
																zoom in</p>
														</div>
													</div>
													<!-- end widget content -->

												</div>
												<!-- end widget div -->

											</div>
											<!-- end widget -->

										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<!-- Widget ID (each widget will need unique ID)-->
											<div class="jarviswidget jarviswidget-color-light "
												id="wid-id-5" data-widget-editbutton="false"
												data-widget-deletebutton="false"
												data-widget-fullscreenbutton="false"
												data-widget-togglebutton="false">
												<header>
													<span class="widget-icon"><i
														class="fa fa-fw fa-bar-chart-o"> </i></span>
													<h2>Detail view</h2>
													<div>
														<div class="dc-data-count">
															<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | -->
															<a href="javascript:dc.filterAll(); dc.renderAll();">Reset
																All</a>
														</div>
													</div>
												</header>
												<div>
													<div class="jarviswidget-editbox">
														<!-- This area used as dropdown edit box -->
													</div>
													<!-- end widget edit box -->

													<!-- widget content -->
													<div class="widget-body">
														<div class="row">

															<table class="table table-hover dc-data-table">
																<thead>
																	<tr class="header">
																		<th></th>
																		<th>SO Count</th>
																		<th>Selling Company</th>
																		<th>Order Taking Company</th>
																		<th>Net Value</th>
																		<th>Order Quantity</th>
																		<th>Plant</th>
																		<th>Order Type</th>
																		<th>Related OrderType</th>
																		<th>Address Type</th>
																		<th>Material Price Group</th>
																		<th>SO Type</th>
																		<th>Material Type</th>
																		<th>Source</th>
																		<th>Order Date</th>
																	</tr>
																</thead>
															</table>
														</div>
													</div>
													<div class="alert alert-info fade in">
														<button data-dismiss="alert" class="close">x</button>
														<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
														&nbsp; Drill down table displays only top 100 records. Use
														the export option to download all matching records.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</article>
	</div>

</section>
<!-- end widget grid -->
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Sales Order Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body padding10">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->

<script src="js/Profiling/e2e_extractanalysis_so.js"></script>