<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->

	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
	<div class="jarviswidget  jarviswidget-sortable" id="widget-inline-filter" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
		
		<div style="background: #FFFFFF" role="content">
			<div class="jarviswidget-editbox">
			</div>
			<div class="">
			<div id="divSankeyFilter"><div class="row smart-form col-sm-12"><section class="col col-6 col-sm-6" key="0" id="f1"><div class="note"><strong>Group :</strong></div><input type="text" name="type" id="image_group"
									style="width: 100%" placeholder="Please select Image Group"/></section><section class="col col-6 col-sm-6" key="0" id="f2"><div class="note"><strong>Class :</strong></div><input type="text" name="type" id="image_class"
									style="width: 100%" placeholder="Please select Image Group"/></section></div></div></div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
</div>
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<div class="">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" >
						<section id="widget-grid" class="">
											</section>
					</div>
				</div>
			</div>
		</article>
	</div>
<script src="web/js/plugin/superbox/superbox_original.js"></script>
<script src="js/ImageCluster/ImageCluster.js"></script>