<section id="widget-grid" class="">
	<!-- row -->
	<div class="row" id="selectSource">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<h3>Select source for Analytics</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 100%;"></div>
				</div>
			</div>
			<div class="col-sm-15 col-sm-3" data-source="hive">
				<div
					class="btn well well-sm bg-color-darken txt-color-white text-center width-100per">
					<h5>
						<i class="fa fa-fw fa-cloud"></i>HIVE
					</h5>
					<code> Table stored in hadoop</code>
				</div>

			</div>

			<div class="col-sm-15 col-sm-3" data-source="postgreSQL">
				<div
					class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
					<h5>
						<i class="fa fa-fw fa-database"></i>PostgreSQL
					</h5>
					<code> Table stored in PostgreSQL</code>
				</div>
			</div>

			<div class="col-sm-15 col-sm-3" data-source="excel">

				<div
					class="btn well well-sm bg-color-pinkDark txt-color-white text-center width-100per">
					<h5>
						<i class="fa fa-fw fa-excel-o"></i>Excel
					</h5>
					<code> Upload Excel file</code>
				</div>

			</div>
			<div class="col-sm-15 col-sm-3">
				<div
					class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
					<h5>Plain Text</h5>
					<code> Plain Text</code>
				</div>
			</div>
			<div class="col-sm-15 col-sm-3" data-source="myProfiles">
				<div
					class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
					<h5>My Saved Profiles</h5>
					<code>Profiles designed by me</code>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="selectTable">
		<div class="col-sm-12">
			<form id="frmConf" class="">
				<div class="col-sm-12">
					<h3>Select database, table and field</h3>
					<div class="progress progress-micro">
						<div class="progress-bar progress-bar-primary" role="progressbar"
							style="width: 44%;"></div>
					</div>
				</div>
		</div>
		<div class="col-sm-4">
			<input type="text" name="database" id="database" style="width: 90%" />
		</div>
		<div class="col-sm-4">
			<i class="icon-append fa fa-barcode"></i> <input type="text"
				name="table" id="table" style="width: 90%" />
		</div>
		<!-- <div class="col-sm-2">
				<input type="text"
					name="field" id="field" style="width: 90%" />
			</div>
			<div class="col-sm-2">
				<input type="text"
					name="ngram" id="ngram"" style="width: 90%" />
			</div> -->
		<div class="col-sm-3">
			<a class="btn btn-primary" href="javascript:void(0);" id="proceed"><i
				class="fa fa-save"></i> Proceed</a> <a
				class="btn btn-warning padding-left-20" id="tableBack"
				href="javascript:void(0);" title="Back to source selection"><i
				class="fa fa-mail-reply"></i> Back</a>
		</div>
		</form>
	</div>
	<div class="row" id="nGramInput">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueDark">
				<header>
					<span class="widget-icon no-min-height"> <i
						class="fa fa-lg fa fa-filter"></i>
					</span>
					<h2>Filters</h2>
					<!-- <span class="onoffswitch pull-right"><input type="checkbox"
						name="onoffswitch" class="onoffswitch-checkbox"
						id="filterModalInlineswitch" checked="checked"> <label
						class="onoffswitch-label" for="filterModalInlineswitch"> <span
							class="onoffswitch-inner" data-swchon-text="Inline"
							data-swchoff-text="Modal"></span> <span
							class="onoffswitch-switch"></span>
					</label> </span> -->
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-min-height smart-form" id="filters">

					</div>
				</div>
			</div>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueDark "
				id="wid-id-profile">
				<header>
					<span class="widget-icon no-min-height"> <i
						class="fa fa-lg fa fa-filter"></i>
					</span>
					<h2>Profile</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-min-height " style="height: 60px">
						<form id="frmProfileConfig" class="smart-form">
							<div class="col-sm-4">
								<input type="text" name="field" id="field" style="width: 90%" />
							</div>
							<div class="col-sm-4">
								<input type="text" name="gramType" id="gramType"
									style="width: 90%" />
							</div>
							<div class="col-sm-1">
								<div class="widget-toolbar" role="menu" id="previewProfile">
									<a href="javascript:void(0);" class="btn btn-warning"><i
										class="fa fa-fw fa-lg fa-bullseye"></i>Preview</a>
								</div>
							</div>
							<div class="col-sm-1">
								<div class="widget-toolbar" role="menu" id="saveProfile">
									<a href="javascript:void(0);"
										class="btn bg-color-greenDark txt-color-white"><i
										class="fa fa-fw fa-lg fa-bullseye"></i>Save</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-cloud">
					</i></span>
					<h2>nGram Analyser</h2>
					<!-- <div class="widget-toolbar" role="menu">
						<span class="onoffswitch-title"><i
							class="fa fa-location-arrow"></i> Pan / Zoom</span> <span
							class="onoffswitch"> <input type="checkbox"
							name="onoffswitch" class="onoffswitch-checkbox"
							id="myonoffswitch" onchange="nGramAnalyser.enablePanZoom(this)">
							<label class="onoffswitch-label" for="myonoffswitch"> <span
								class="onoffswitch-inner" data-swchon-text="ON"
								data-swchoff-text="OFF"></span> <span class="onoffswitch-switch"></span>
						</label>
						</span>
						<div class="btn-group">
							<button class="btn dropdown-toggle btn-xs btn-warning"
								data-toggle="dropdown" aria-expanded="false" id="nGrambutton"
								value=0>
								Select Gram <i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" id="nGramSelect">
								<li value="1"><a href="javascript:void(0);">Uni-grams</a></li>
								<li value="2"><a href="javascript:void(0);">Bi-grams</a></li>
								<li value="3"><a href="javascript:void(0);">Tri-grams</a></li>
								<li value="4"><a href="javascript:void(0);">4-grams</a></li>
								<li value="5"><a href="javascript:void(0);">5-grams</a></li>
							</ul>
						</div>

					</div> -->
				</header>



				<!-- widget content -->
				<div class="widget-body backgroundcolorwidgetimp">
					<form action="" class="smart-form" id="nGramform">
						<fieldset class="hide" id="fieldsetCloud">
							<section>
								<div id="cloud"></div>
							</section>
						</fieldset>
						<fieldset>
							<section>
								<label class="textarea textarea-resizable"> <textarea
										rows="10" class="custom-scroll required"
										placeholder="Paste text here..." id="nGramInput"
										name="nGramInput" title="Please enter input string."></textarea>
								</label>
							</section>
						</fieldset>
						<footer>
							<!-- <button type="button" class="btn btn-primary" id="submitButton">Go</button> -->
							<!-- <button type="button" class="btn btn-default"
								onclick="window.history.back();">Back</button> -->
						</footer>
					</form>
				</div>
			</div>
		</article>
	</div>
	<div class="row" id="myProfiles" style="display:none">
		<div class="col-sm-12">
			<h3>
				Saved profiles <a class="btn btn-warning padding-left-20 pull-right"
					id="myProfilesBack" href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="well padding-10">
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5>
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-group no-margin cursor-pointer" id="myProfileList">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="loading"></div>
<div class="modal fade" id="myModalSave" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalHeaderExportImport">Save</h4>
			</div>
			<form id="frmSaveProfile" class="" novalidate="novalidate">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="description" id="description" placeholder="Description"></textarea>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Description</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnSaveProfile">Save</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="js/plugin/d3.layout.cloud.js"></script>
<script src="js/nGram/nGramAnalyser.js"></script>