<link rel="stylesheet" type="text/css" media="screen"
	href="css/codemirror.css">
<section>
	<div class="row" id="widgets">
		<div class="col-sm-12  no-padding-right">
			<h3>Profile Template</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="create"
			name="widgetTemplate">
			<div
				class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-database"></i>Create Template
				</h5>
				<code>Create Template</code>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="saved"
			name="widgetTemplate">
			<div
				class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3 width-100per">
				<h5>Saved Template</h5>
				<code>Saved Template in database</code>
			</div>
		</div>
	</div>
	<div class="jarviswidget jarviswidget-color-white"
		data-widget-editbutton="false" data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false" id="templateWidgets"
		style="display: none">
		<header>
			<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
			</i></span>
			<h2 id="sourceTableDesc"></h2>

			<a class="btn btn-warning pull-right" id="profileBack"
				href="javascript:void(0);" title="Back to table selection"> <i
				class="fa fa-mail-reply"></i> Back
			</a>
			<div class="btn-group pull-right">
				<div class="widget-toolbar" role="menu" id="saveProfile">
					<a href="javascript:void(0);"
						class="btn bg-color-greenDark txt-color-white"><i
						class="fa fa-fw fa-save"></i>Save</a>
				</div>
			</div>

		</header>
		<div class="widget-body">
			<div class="jarviswidget jarviswidget-color-light "
				name="templateBasicView">
				<header>
					<div class="jarviswidget-ctrls" role="menu">
						<a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn"
							rel="tooltip" title="" data-placement="bottom"
							data-original-title="Collapse" aria-describedby="tooltip126344"><i
							class="fa fa-minus "></i></a>
					</div>
					<span class="widget-icon"> <i
						class="glyphicon glyphicon-stats txt-color-darken"></i>
					</span>
					<h2>Template View</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-min-height smart-form">
						<div>
							<form id="frmTemplateConf" class="" novalidate="novalidate">
								<div class="smart-form">
									<section class="col col-6">
										<div class="note">
											<strong>Profile Template Name:</strong>
										</div>
										<label class="input width-100per"><div
												class="col-md-12">
												<input type="text" name="profilename" id=""
													style="width: 100%;" tabindex="-1" title="">
											</div></label>
									</section>
									<section class="col col-6">
										<div class="note">
											<strong>Source :</strong>
										</div>
										<label class="input width-100per"><div
												class="col-md-12">
												<input type="text" name="source" id="source"
													style="width: 100%;" tabindex="-1" title="">
											</div></label>
									</section>
									<section class="col col-sm-12">
										<table class="table table-bordered" id="configTable">
											<thead>
												<tr>
													<th colspan="2"><div class="note pull-left">
															<strong>Table :</strong>
														</div> <a href="javascript:void(0);"
														class="button-icon jarviswidget-fullscreen-btn pull-right"
														rel="tooltip" title="" data-original-title="Add Table"
														id="addTable"><i class="fa fa-fw fa-lg fa-plus-circle"></i></a></th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<!-- <label class="input width-100per"><div
												class="col-md-12">
												<input type="text" name="table" title="Table" id="table"
													style="width: 100%;" tabindex="-1">
											</div></label> -->
									</section>
									<!-- <section class="col col-sm-6">
										<table class="table table-bordered" id="configProfile">
											<thead>
												<tr>
													<th><div class="note pull-left">
															<strong>Table(Value) :</strong>
														</div> <a href="javascript:void(0);"
														class="button-icon jarviswidget-fullscreen-btn pull-right"
														rel="tooltip" title="" data-original-title="Add Table"
														id="addTableValue"><i class="fa fa-fw fa-lg fa-plus-circle"></i></a></th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</section> -->
									<!-- <section class="col col-2">
										<a class="btn btn-primary" href="javascript:void(0);"
											id="proceed"><i class="fa fa-eye"></i> Go</a>
									</section> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="jarviswidget jarviswidget-color-light ">
				<header>
					<span class="widget-icon"> <i
						class="glyphicon glyphicon-stats txt-color-darken"></i>
					</span>
					<h2>Script View</h2>
					<div class="jarviswidget-ctrls" role="menu">
						<a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn"
							rel="tooltip" title="" data-placement="bottom"
							data-original-title="Collapse" aria-describedby="tooltip126344"><i
							class="fa fa-minus "></i></a> <a href="javascript:void(0);"
							class="button-icon jarviswidget-fullscreen-btn" rel="tooltip"
							title="" data-original-title="Add Editor" title="Add Editor"
							id="addEditor"><i class="fa fa-fw fa-lg fa-plus-circle"></i></a>
					</div>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-min-height smart-form">
						<div class="col-sm-12" id="divScriptEditor">
							<!-- <table class="table table-bordered">
						<thead>
							<tr>
								<th>L1 <a class="button-icon pull-right"
									name="removeEditor"><i class="fa fa-fw fa-lg fa-remove"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="well">
										<textarea name="sqlScriptEditor" style="width: 100px;"></textarea>
									</div></td>
							</tr>
						</tbody>
					</table> -->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myprofiles" style="display: none">
		<div class="well padding-10">
			<h5 class="margin-top-0 col-md-3">Name</h5>
			<h5 class="margin-top-0 col-md-3">Source</h5>
			<h5 class="margin-top-0 col-md-3">Modified By</h5>
			<h5 class="margin-top-0 col-md-3">Modified on</h5>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-group no-margin cursor-pointer" id="myProfileList">
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>

<script src="js/plugin/codemirror.js"></script>
<script src="js/plugin/sql.js"></script>
<script src="js/profileTemplate/profileTemplate.js"></script>