<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight no-margin"
				id="wid-id-search" data-widget-editbutton="false"
				data-widget-deletebutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Token Analysis Like Search</h2>
				</header>
				<div class="backgroundcolorwidgetimp">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-min-height">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">

									<div class="col-sm-12">
										<div class="padding-md" style="padding-top: 10px !important;">
											<div class="row">
												<div class="col-md-9" style="margin-bottom: 10px;">
													<form id ="searchForm">
														<div class="input-group m-bottom-md">
															<input type="search" autocomplete="on"
																placeholder="Search here..." class="form-control"
																id="searchterm"> <span class="input-group-btn">
																<button type="submit" class="btn bg-color-blue"
																	id="search">
																	<i class="fa fa-search"></i>
																</button>
															</span>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="jarviswidget jarviswidget-color-blueLight no-padding hide"
				id="wid-id-data" data-widget-editbutton="false"
				data-widget-deletebutton="false" data-widget-sortable="false">
				<header>
					<ul class="nav nav-tabs pull-left in" id="myTabTokenAnalysis">
						<li class="active" data-source="SAP"
							onClick="toggleSearchResults()"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gears"></i> <span
								class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li data-source="JDE" onClick="toggleSearchResults()"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i>
								<span class="hidden-mobile hidden-tablet">JDE</span></a></li>
					</ul>
				</header>
				<div class="">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContentTokenAnalysis" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="tokenAnalysis">
								<div class="row" id="mainDivIdTokenAnalysis">

									<div class="col-sm-12">
										<div class="padding-md" style="padding-top: 10px !important;">
											<div class="row">
												<div class="col-md-9" style="margin-bottom: 10px;">
													<div class="facets-tabs" id="resultGridTokenAnalysis"
														style="display: none; margin-top: 5px;">
														<div class="tab-content faq-cat-content">
															<!--          <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                         <div class="panel-body" id="sumarry">
                        
                         <hr>
                         <ul class="facets">  
                         <li>Purchase Orders (<span class="pocount"></span>)<span ></span></li> 
                         <li>Sales Orders (<span class="socount"></span>)</li></ul>
  </div>
                            
                        </div>
                        
                    </div>
                </div>-->
															<div class="tab-pane active in fade" id="faq-cat-1">
																<div class="panel-group" id="accordion-cat-1">
																	<div class="panel panel-default panel-faq">


																		<div class="panel-body" id="po"
																			style="margin-top: 10px;">

																			<div class="teaser">

																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ekkoTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-2">
																<div class="panel-group" id="accordion-cat-2">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ekpoTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-3">
																<div class="panel-group" id="accordion-cat-3">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="vbapTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-4">
																<div class="panel-group" id="accordion-cat-4">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ebknTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-5">
																<div class="panel-group" id="accordion-cat-5">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ebanTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-6">
																<div class="panel-group" id="accordion-cat-6">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="kna1TokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-7">
																<div class="panel-group" id="accordion-cat-7">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="knb1TokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-8">
																<div class="panel-group" id="accordion-cat-8">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="lfa1TokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-9">
																<div class="panel-group" id="accordion-cat-9">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="maktTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-10">
																<div class="panel-group" id="accordion-cat-10">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="maraTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-11">
																<div class="panel-group" id="accordion-cat-11">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="marcTokenAnalysisTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Keyword</th>
																						<th>Table</th>
																						<th>Fields</th>
																						<th>Rank</th>
																						<th>Count</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>

												<section id="widget-grid " class="">
													<article class="col-md-3 facets-tabs" style="display: none">
														<!-- Widget ID (each widget will need unique ID)-->
														<div class="jarviswidget jarviswidget-color-light "
															id="wid-id-20" data-widget-editbutton="false"
															data-widget-deletebutton="false"
															data-widget-fullscreenbutton="false"
															data-widget-togglebutton="false">

															<header>
																<span class="widget-icon"><i class="fa fa-tasks">
																</i></span>
																<h2>Entities</h2>
															</header>

															<div>
																<!-- widget edit box -->
																<div class="jarviswidget-editbox">
																	<!-- This area used as dropdown edit box -->
																</div>
																<!-- end widget edit box -->
																<!-- widget content -->
																<div class="widget-body">
																	<div class=" ">
																		<ul class=" faq-cat-tabs entities" id="entities">
																			<li class="active" id="poheader" data-facet="ekko"><a
																				href="#faq-cat-1" data-toggle="tab"><span
																					id="loading-1"></span>Purchase Orders (<span
																					id="ekkoTokenAnalysiscount">0</span>)</a></li>
																			<li class=" " id="podetails" data-facet="ekpo"><a
																				href="#faq-cat-2" data-toggle="tab"><span
																					id="loading-2"></span>Purchase Orders Details (<span
																					id="ekpoTokenAnalysiscount">0</span>)</a></li>
																			<li class=" " id="sodetails" data-facet="vbap"><a
																				href="#faq-cat-3" data-toggle="tab"><span
																					id="loading-3"></span>Sales Orders Details (<span
																					id="vbapTokenAnalysiscount">0</span>)</a></li>
																			<li class="" id="pr" data-facet="ebkn"><a href="#faq-cat-4"
																				data-toggle="tab"><span id="loading-4"></span>Purchase
																					Requisition (<span id="ebknTokenAnalysiscount">0</span>)</a></li>
																			<li class=" " id="prdetails" data-facet="eban"><a
																				href="#faq-cat-5" data-toggle="tab"><span
																					id="loading-5"></span>Purchase Requisition Details
																					(<span id="ebanTokenAnalysiscount">0</span>)</a></li>
																			<li class="  " id="cm" data-facet="kna1"><a href="#faq-cat-6"
																				data-toggle="tab"><span id="loading-6"></span>Customer
																					Master (<span id="kna1TokenAnalysiscount">0</span>)</a></li>
																			<li class=" " id="cmdetails" data-facet="knb1"><a
																				href="#faq-cat-7" data-toggle="tab"><span
																					id="loading-7"></span>Customer Master Details (<span
																					id="knb1TokenAnalysiscount">0</span>)</a></li>
																			<li class=" " id="Vm" data-facet="lfa1"><a href="#faq-cat-8"
																				data-toggle="tab"><span id="loading-8"></span>Vendor
																					Master (<span id="lfa1TokenAnalysiscount">0</span>)</a></li>
																			<li class="" id="MDesc" data-facet="makt"><a href="#faq-cat-9"
																				data-toggle="tab"><span id="loading-9"></span>Material
																					description (<span id="maktTokenAnalysiscount">0</span>)</a></li>
																			<li class="" id="Mdata" data-facet="mara"><a href="#faq-cat-10"
																				data-toggle="tab"><span id="loading-10"></span>Material
																					data (<span id="maraTokenAnalysiscount">0</span>)</a></li>
																			<li class="" id="Mplant" data-facet="marc"><a href="#faq-cat-11"
																				data-toggle="tab"><span id="loading-11"></span>Material
																					plant (<span id="marcTokenAnalysiscount">0</span>)</a></li>

																		</ul>
																	</div>
																</div>
															</div>
															<!-- end widget div -->
														</div>
														<!-- end widget -->
													</article>
												</section>
											</div>
											<!-- /.padding-md -->
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Purchase Order Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">
					<div id="poDocView"></div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end row -->

<script src="js/TokenAnalysis/e2e_tokenAnalysis_search.js"></script>

