<style>
.doScroll {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="widget-body row padding-left-5">
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<div class="jarviswidget  jarviswidget-sortable" id="widget-inline-filter" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
		
				<div style="background: #FFFFFF" role="content">
					<div class="">
						<div style="min-height: 75px;">
							<div class="row  smart-form  col-sm-12">
								<section class="col col-3 col-sm-3">
									<div class="note"><strong>Roles</strong></div>
									<label class="input width-100per">
										<div id="rolesName" name="roles"></div>
									</label>
									</section>
									<section class="col col-3 col-sm-3">
									<div class="note"><strong>Apps</strong></div>
									<label class="input width-100per">
										<div id="appsName" name="apps"></div>
									</label>
								</section>
							  </div>
				<!-- end widget content -->
				</div>
			</div>
		</div>
		<!-- end widget div -->
	</div>
</div>
</section>
<section id="widget-grid" class="">
	<div class="widget-body row padding-left-5">
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<div class="jarviswidget  jarviswidget-sortable" id="widget-inline-filter" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
		
				<div style="background: #FFFFFF" role="content">
					<div id="grouptablediv" style="flex-flow: wrap;display: flex;height: auto;min-height: 290px; max-width: 100vw;justify-content: flex-start;align-items: flex-start;" class="margin-20">
							
					</div>
					<!-- <div class="">
						<div  id="divSankeyFilter" style="min-height: 100px;">
							<div class="row smart-form col-sm-12">
								<div id="grouptablediv" style="overflow: auto;max-height: 600px;"> </div>
							<button class="btn btn-primary margin-10-0 pull-right border-round" name="applyFilter" id="applyFilter"><i class="fa fa-filter">&nbsp;</i>Filter</button>
							<button class="btn btn-warning margin-10-0 pull-right marginRight10 border-round" name="clearFilter" id="clearFilter"><i class="fa fa-close">&nbsp;</i>Clear</button>
						</div>
					</div>
				end widget content
				</div> -->
			</div>
		</div>
		<!-- end widget div -->
	</div>
</div>
</section>
<script src="js/WidgetConfig/widgetconfig.js"></script>