<link rel="stylesheet" type="text/css" media="screen"
	href="js/plugin/fullcalendar/fullcalendar.min.css">

<div class="row" id="selectSource">
	<div class="col-sm-12">
		<div class="col-sm-12">
			<h3>Select source for Analytics</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="hive">
			<div
				class="btn well well-sm bg-color-darken txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-cloud"></i>HIVE
				</h5>
				<code> Table stored in hadoop</code>
			</div>

		</div>

		<div class="col-sm-15 col-sm-3" data-source="postgreSQL">
			<div
				class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-database"></i>PostgreSQL
				</h5>
				<code> Table stored in PostgreSQL</code>
			</div>
		</div>

		<div class="col-sm-15 col-sm-3" data-source="excel">

			<div
				class="btn well well-sm bg-color-pinkDark txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-excel-o"></i>Excel
				</h5>
				<code> Upload Excel file</code>
			</div>

		</div>
		<div class="col-sm-15 col-sm-3" data-source="query">
			<div
				class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
				<h5>Data Source</h5>
				<code> Rest web services</code>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="myProfiles">
			<div
				class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
				<h5>My Saved Profiles</h5>
				<code>Profiles designed by me</code>
			</div>
		</div>
	</div>
</div>
<div class="row" id="myProfiles">
	<div class="col-sm-12">
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-primary" role="progressbar"
				style="width: 100%;"></div>
		</div>
	</div>
	<div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"
				id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<div class="col-sm-2 " id="appProfile"
				style="padding-top: 4px; margin-left: 10%">
				<!-- <i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" /> -->
			</div>
			<div class=" pull-right "
				style="padding-top: 2px; padding-right: 1%;">
				<a class="btn btn-warning padding-left-20 padding "
					id="myProfilesBack" href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</div>
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>


						<!-- <div class="tree smart-form">
						<ul role="tree" id="myProfileList">
						</ul>
						</div> -->

					</div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						<!-- <div  class="tree smart-form">
						<ul role="tree" id="allProfileList">
						</ul>
					</div> -->


					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="row" id="profileHistroyDiv">
	<div class="col-sm-12">
		<h3>
			History - <span id="profileName"></span> <a
				class="btn btn-warning padding-left-20 pull-right" id="historyBack"
				href="javascript:void(0);" title="Back to source selection"><i
				class="fa fa-mail-reply"></i> Back</a>
		</h3>
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-primary" role="progressbar"
				style="width: 55%;"></div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="well padding-10">
			<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
			<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
			<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Source</h5>
			<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Database</h5>
			<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
			<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Modified
				on</h5>
			<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Modified
				By</h5>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-group no-margin cursor-pointer"
						id="profileHistoryList">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" id="selectTable">
	<div class="col-sm-12">
		<form id="frmConf" class="">
			<div class="col-sm-12">
				<h3>Select database and table</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 44%;"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<i class="icon-append fa fa-barcode"></i> <input type="text"
					name="database" id="database" style="width: 90%" />
			</div>

			<div class="col-sm-4">
				<i class="icon-append fa fa-barcode"></i> <input type="text"
					name="table" id="table" style="width: 90%" />
			</div>

			<div class="col-sm-4">
				<a class="btn btn-primary" href="javascript:void(0);" id="proceed"><i
					class="fa fa-save"></i> Proceed</a> <a
					class="btn btn-warning padding-left-20" id="tableBack"
					href="javascript:void(0);" title="Back to source selection"><i
					class="fa fa-mail-reply"></i> Back</a>
			</div>
		</form>
	</div>
</div>
<div class="row" id="divDataSource" style="display: none">
	<div class="col-sm-12">
		<form id="frmConfDataSource" class="">
			<div class="col-sm-5">
				<i class="icon-append fa fa-barcode"></i> <input type="text"
					id="queryDataSource" name="queryDataSource" style="width: 90%" />
			</div>
			<div class="col-sm-4">
				<a class="btn btn-primary" href="javascript:void(0);"
					id="proceedData"><i class="fa fa-save"></i> Proceed</a> <a
					class="btn btn-warning padding-left-20" id="dataSourceBack"
					href="javascript:void(0);" title="Back to source selection"><i
					class="fa fa-mail-reply"></i> Back</a>
			</div>
		</form>
	</div>
</div>
<div class="row" id="drawProfile">
	<div class="col-sm-12">
		<form id="frmConf" class="">
			<div class="row">
				<!-- NEW WIDGET START -->
				<article
					class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-white"
								id="wid-id-header" data-widget-editbutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false">
								<header>
									<span class="widget-icon"><i
										class="fa fa-fw fa-bar-chart-o"> </i></span>
									<h2 id="sourceTableDesc">Data Profiling Widget</h2>

									<a class="btn btn-warning pull-right" id="profileBack"
										href="javascript:void(0);" title="Back to table selection">
										<i class="fa fa-mail-reply"></i> Back
									</a>
									<div class="btn-group pull-right">

										<a class="btn btn-xs pull-right btn-primary"
											id="profileActions">Actions
											</button> <a class="btn btn-xs pull-right btn-primary"
											id="colorPaletteButton">Color Palette
												</button> <a class="padding-right-10" id="profileColorPalette"></a>
												<div class="widget-toolbar" role="menu" id="previewProfile">
													<a href="javascript:void(0);" class="btn btn-warning"><i
														class="fa fa-fw fa-lg fa-bullseye"></i>Preview</a>
												</div>
												<div class="widget-toolbar" role="menu" id="saveProfile">
													<a href="javascript:void(0);"
														class="btn bg-color-greenDark txt-color-white"><i
														class="fa fa-fw fa-save"></i>Save</a>
												</div>
												<div class="widget-toolbar" role="menu" id="cloneProfile">
													<a href="javascript:void(0);"
														class="btn btn-info txt-color-white"><i
														class="fa fa-fw fa-clone"></i> Clone</a>
												</div>
												<div class="widget-toolbar" role="menu" id="exportProfile"
													style="display: block;">
													<a class="btn btn-info txt-color-white">Export</a>
												</div>
												<div class="widget-toolbar" role="menu" id="importFile"
													style="display: block;">
													<a class="btn btn-info txt-color-white openImport">Import</a>
												</div>
												<div class="widget-toolbar" role="menu"
													style="display: block;">
													<span class="onoffswitch pull-left"><input
														type="checkbox" name="onoffswitch"
														class="onoffswitch-checkbox" id="addDownloadReport">
														<label class="onoffswitch-label" for="addDownloadReport">
															<span class="onoffswitch-inner" data-swchon-text="show"
															data-swchoff-text="hide"></span> <span
															class="onoffswitch-switch"></span>
													</label> </span>
												</div>
												<div class="widget-toolbar" role="menu">
													<div class="btn-group">
														<a class="btn dropdown-toggle btn-xs btn-warning"
															data-toggle="dropdown" aria-expanded="false"> Add <i
															class="fa fa-caret-down"></i>
														</a>
														<ul class="dropdown-menu">
															<li id='addCalendar'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-calendar'></i> Calendar
															</a></li>
															<li id='addContainer'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-navicon'></i> Panel
															</a></li>
															<li id='addTable'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-table'></i> Table
															</a></li>
															<li id='addImageGrid'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-table'></i> Image Grid
															</a></li>
															<li id='addSummary' class=""><a
																href="javascript:void(0);"> <i
																	class='fa fa-fw fa-modx'></i> Summary
															</a></li>
															<li id='addNGram'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-cloud'></i> N-Gram
															</a></li>
															<li id='addIFrame'><a href="javascript:void(0);">
																	<i class='fa fa-fw fa-columns'></i> IFrame
															</a></li>
															<li id='addHTMLTemplate'><a
																href="javascript:void(0);"> <i
																	class='fa fa-fw fa-file'></i> HTML Template
															</a></li>
														</ul>
													</div>
												</div>
									</div>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">
										<div class="row" id="mainDivId">

											<div class="col-md-2 col-sm-2 col-xs-2">
												<!-- Widget ID (each widget will need unique ID)-->
												<div class="jarviswidget jarviswidget-color-orangeDark"
													id="wid-id-dim" data-widget-colorbutton="true"
													data-widget-deletebutton="false"
													data-widget-fullscreenbutton="false"
													data-widget-editbutton="false">
													<header>
														<h2>Dimensions</h2>
														<div class="jarviswidget-ctrls" role="menu">
															<a href="javascript:void(0);"
																class="button-icon jarviswidget-toggle-btn"
																rel="tooltip" title="" data-placement="bottom"
																data-original-title="Collapse"><i
																class="fa fa-minus"></i></a>
															<!-- <div class="btn-group">
																<a class="button-icon dropdown-toggle"
																	data-toggle="dropdown" aria-expanded="false">
																	 <i class="fa fa-caret-down"></i>
																</a>
																<ul class="dropdown-menu">
																	<li><a href="#addCustomFactModel" name="btnAddFact" customtype="dimension" data-toggle="modal" 
																 data-placement="bottom"><i
																			class='fa-plus-circle'></i>Add Dimensions</a></li>
																	<li><a href="javascript:void(0);"><i
																			class='fa fa-fw fa-navicon'></i>Sort Assending</a></li>
																	<li><a href="javascript:void(0);"><i
																			class='fa fa-fw fa-table'></i>Sort Desending</a></li>
																</ul>
															</div> -->
															<a href="#addCustomFactModel" class="button-icon"
																id="btnAddFact1" name="btnAddFact"
																customtype="dimension" data-toggle="modal" rel="tooltip"
																title="Add Facts" data-placement="bottom"><i
																class="fa fa-fw fa-lg fa-plus-circle"></i></a>
														</div>
													</header>
													<div>

														<div class="jarviswidget-editbox"></div>
														<div class="widget-body">
															<div class="row">
																<div class="col-sm-12">
																	<div class="dd" id="columnList">
																		<ol class="dd-list">

																			<!-- <li class="dd-item" data-id="14">
																			<div class="dd-handle">Item 14</div>
																		</li> -->
																		</ol>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="jarviswidget jarviswidget-color-orangeDark"
													id="wid-id-measures" data-widget-colorbutton="true"
													data-widget-deletebutton="false"
													data-widget-fullscreenbutton="false"
													data-widget-editbutton="false">
													<header>
														<h2>Measures</h2>
														<div class="jarviswidget-ctrls" role="menu">
															<a href="javascript:void(0);"
																class="button-icon jarviswidget-toggle-btn"
																rel="tooltip" title="" data-placement="bottom"
																data-original-title="Collapse"><i
																class="fa fa-minus"></i></a> <a href="#addCustomFactModel"
																class="button-icon jarviswidget-delete-btn"
																id="btnAddFact1" name="btnAddFact" customtype="measure"
																data-toggle="modal" rel="tooltip" title="Add Facts"
																data-placement="bottom"><i
																class="fa fa-fw fa-lg fa-plus-circle"></i></a>
														</div>
													</header>
													<div>
														<div class="jarviswidget-editbox"></div>
														<div class="widget-body no-min-height" id="facts"></div>
													</div>
												</div>
												<div class="jarviswidget jarviswidget-color-purple"
													id="wid-id-notification">
													<header>
														<span class="widget-icon no-min-height"> <i
															class="fa fa-lg fa-envelope"></i>
														</span>
														<h2>Notification Date</h2>
													</header>
													<div class="notification-holder"></div>
												</div>
											</div>
											<!-- Code for button without datatable  -->
											<div
												class="col-xs-10 col-sm-10 col-md-10 col-lg-10 margin-top-10"
												id="reportDownload" style="display: none">
												<div class="panel panel-warning ">
													<div class="panel-heading">
														<label>Configure Actions</label>
														<div
															class=" smart-form floatRight col-md-1 col-xs-1 col-sm-1 col-lg-1">
															<select class="report_actionValue">
																<option value="0">0</option>
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
																<option value="5">5</option>
																<option value="6">6</option>
																<option value="7">7</option>
																<option value="8">8</option>
															</select> <i></i>
														</div>
														<div class="smart-form floatRight col-md-3 ">
															<select
																class="report_actioncolor width-145px showDropdown"
																name="colorcodeValue" placeholder="Select Color">
																<option value="btn-default">Default</option>
																<option value="btn-primary">Primary</option>
																<option value="btn-success">Success</option>
																<option value="btn-info">Info</option>
																<option value="btn-warning">Warning</option>
																<option value="btn-danger">Danger</option>
																<option value="btn-link">Link</option>
																<option value="bgBlue">Blue</option>
																<option value="bgGreen">Green</option>
																<option value="bgGrey">Grey</option>
																<option value="bgPink">Pink</option>
																<option value="bgBrown">Brown</option>
															</select> <i></i>
														</div>
														<div class="smart-form floatRight col-md-3">
															<select class="report_displaytype width-145px"
																name="reportdisplaytype">
																<option value="inline">Inline</option>
																<option value="dropdown">Drop Down</option>
															</select> <i></i>
														</div>
													</div>
													<div class="panel-body" id="actionBody">
														<div class="col-md-10 col-sm-10 col-xs-10 "
															id="filtersMap">
															<label
																class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10">Filter
																Mapping</label> <a
																class="cursor-pointer col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10"
																id="reportAddFilter" title="Add Filter"> <i
																class="fa fa-fw fa-2x fa-plus-circle"></i></a>
															<div id="btnFilters"></div>
														</div>
													</div>

												</div>
											</div>

											<!--  -->
											<div
												class="col-md-10 col-sm-10 col-xs-10 sortable-grid ui-sortable">
												<!-- Widget ID (each widget will need unique ID)-->
												<div class="jarviswidget jarviswidget-color-teal"
													id="wid-id-filter">
													<header>
														<span class="widget-icon no-min-height"> <i
															class="fa fa-lg fa fa-filter"></i>
														</span>
														<h2>Filters</h2>
														<div class="jarviswidget-ctrls" role="menu">
															<!-- <span class="onoffswitch"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox" id="filterShowHideswitch">
																<label class="onoffswitch-label"
																for="filterShowHideswitch"> <span
																	class="onoffswitch-inner" data-swchon-text="Hide"
																	data-swchoff-text="Show"></span> <span
																	class="onoffswitch-switch"></span>
															</label> </span> -->
															<span class="onoffswitch pull-left"><input
																	type="checkbox" name="onoffswitch"
																	class="onoffswitch-checkbox"
																	id="filterNotapplicable"> <label
																	class="onoffswitch-label" for="filterNotapplicable">
																	<span class="onoffswitch-inner"
																	data-swchon-text="N/A" data-swchoff-text="Null"></span>
																	<span class="onoffswitch-switch"></span>
																	</label> </span>
															<span class="onoffswitch pull-left"><input
																	type="checkbox" name="onoffswitch"
																	class="onoffswitch-checkbox"
																	id="filterInterdependent"> <label
																	class="onoffswitch-label" for="filterInterdependent">
																	<span class="onoffswitch-inner"
																	data-swchon-text="OnInterdependentFilter" data-swchoff-text="OffInterdependentFilter"></span>
																	<span class="onoffswitch-switch"></span>
																	</label> </span>
															<span class="onoffswitch pull-left"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox"
																id="filterModalInlineswitch"> <label
																class="onoffswitch-label" for="filterModalInlineswitch">
																	<span class="onoffswitch-inner"
																	data-swchon-text="Inline" data-swchoff-text="Modal"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
															<div
																class="smart-form button-icon jarviswidget-toggle-btn margin-left-5">
																<label class="checkbox txt-color-white"> <input
																	type="checkbox" id="filterShowHide"> <i></i>Hide
																	Filter
																</label>
															</div>
															<span class="collapsefilter"> <a
																href="javascript:void(0);"
																class="button-icon jarviswidget-toggle-btn"
																rel="tooltip" title="" data-placement="bottom"
																data-original-title="Collapse"><i
																	class="fa fa-minus"></i></a></span>
														</div>


													</header>
													<div class="profile-filters">
														<div class="jarviswidget-editbox"></div>
														<div class="widget-body no-min-height smart-form"
															id="filters"></div>
													</div>
													<!-- adding date range popup -->
													<div id="dialog" title="Date Range"
														style="width: 500px; height: 250px; display: none">
														<ul class="nav nav-tabs" id="myTab">
															<li class="active"><a data-toggle="tab" href="#year"
																data-attr="year" style="color: #a90329">Year</a></li>
															<li><a data-toggle="tab" href="#quarter"
																data-attr="quarter" style="color: #a90329">Quarter</a></li>
															<li><a data-toggle="tab" href="#month"
																data-attr="month" style="color: #a90329">Month</a></li>
															<li><a data-toggle="tab" href="#week"
																data-attr="week" style="color: #a90329">Week</a></li>
															<li><a data-toggle="tab" href="#day" data-attr="day"
																style="color: #a90329">Day</a></li>
														</ul>
														<div class="tab-content">

															<div id="day" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="previousDay"
																			value="previousDay"> <label for="previousDay">Yesterday</label>
																			<br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="lastRangeId"
																			value="lastRangeValue" style="margin-left: 20px;">
																			<label for="lastRangeId">Last</label></td>
																		<td><input type="number" min="1"
																			id="dayLastRange" name="day"
																			data-value="lastRangeValue" class="lastRange"
																			style="width: 50px; margin-left: 20px;"> days
																		</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="currentDay"
																			value="currentDay"><label for="currentDay">Today</label>
																			<br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="nextRangeDay"
																			value="nextRangeValue" style="margin-left: 20px;">
																			<label for="nextRangeDay"> Next</label><br></td>
																		<td><input type="number" min="1" name="day"
																			id="dayNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;"> days</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="nextDay" value="nextDay">
																			<label for="nextDay">Tomorrow</label></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="betweenDay"
																			value="betweenValue" style="margin-left: 20px;">
																			<label for="betweenDay"> Between</label><br></td>
																		<td style="padding-left: 20px;"><input
																			type="number" name="betweenRange" id="betweenFromday"
																			value="nextDay" data-value="betweenValue" style="width: 50px;">To<input
																			type="number" name="betweenRange" id="betweenToday"
																			value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="year" class="tab-pane fade in active">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="previousYear"
																			value="previous"><label for="previousYear">Previous
																				Year</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="lastRangeYear"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeYear">Last</label></td>
																		<td><input type="number" name="year" min="1"
																			id="yearLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			years</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="currentYear"
																			value="current"><label for="currentYear">Current
																				Year</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="nextRangeYear"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeYear">Next</label> <br></td>
																		<td><input type="number" name="year" min="1"
																			id="yearNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			years</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="nextYear" value="next"><label
																			for="nextYear">Next Year</label></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="betweenYear"
																			value="betweenValue" style="margin-left: 20px;">
																			<label for="betweenYear"> Between</label><br></td>
																		<td style="padding-left: 20px;"><input
																			type="number" name="betweenRange" id="betweenFromyear"
																			value="nextDay" data-value="betweenValue" style="width: 50px;">To<input
																			type="number" name="betweenRange" id="betweenToyear"
																			value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="month" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" id="previousMonth" name="month"
																			value="previous"><label for="previousMonth">Previous
																				Month</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="lastRangeMonth"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeMonth">Last</label></td>
																		<td><input type="number" name="month" min="1"
																			id="monthLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			months</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="currentMonth"
																			value="current"><label for="currentMonth">Current
																				Month</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="nextRangeMonth"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeMonth">Next</label> <br></td>
																		<td><input type="number" name="month" min="1"
																			id="monthNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			months</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="nextMonth" value="next"><label
																			for="nextMonth">Next Month</label></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="betweenMonth"
																			value="betweenValue" style="margin-left: 20px;">
																			<label for="betweenMonth"> Between</label><br></td>
																		<td style="padding-left: 20px;"><input
																			type="number" name="betweenRange" id="betweenFrommonth"
																			value="nextDay" data-value="betweenValue" style="width: 50px;">To<input
																			type="number" name="betweenRange" id="betweenTomonth"
																			value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="quarter" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="previousQuarter"
																			value="previous"><label for="previousQuarter">Previous
																				Quarter</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="lastRangeQuarter"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeQuarter">Last</label></td>
																		<td><input type="number" name="quarter" min="1"
																			id="quarterLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			quarters</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="currentQuarter"
																			value="current"><label for="currentQuarter">Current
																				Quarter</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="nextRangeQuarter"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeQuarter">Next</label> <br></td>
																		<td><input type="number" name="quarter" min="1"
																			id="quarterNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			quarters</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="nextQuarter"
																			value="next"><label for="nextQuarter">Next
																				Quarter</label></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="betweenquarter"
																			value="betweenValue" style="margin-left: 20px;">
																			<label for="betweenquarter"> Between</label><br></td>
																		<td style="padding-left: 20px;">
																		<input type="number" name="betweenRange" id="betweenFromquarter"
																			value="nextDay" data-value="betweenValue" style="width: 50px;">To<input
																			type="number" data-value="betweenValue" name="betweenRange" id="betweenToquarter" value="nextDay"
																			style="width: 50px;"></td>		
																	</tr>
																</table>
																<hr>
															</div>

															<div id="week" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="previousWeek"
																			value="previous"><label for="previousWeek">Previous
																				Week</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="lastRangeWeek"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeWeek">Last</label></td>
																		<td><input type="number" name="week" min="1"
																			id="weekLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			weeks</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="currentWeek"
																			value="current"><label for="currentWeek">Current
																				Week</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="nextRangeWeek"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeWeek">Next</label> <br></td>
																		<td><input type="number" name="week" min="1"
																			id="weekNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			weeks</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="nextWeek" value="next"><label
																			for="nextWeek">Next Week</label></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="betweenweek"
																			value="nextRangeValue" style="margin-left: 20px;">
																			<label for="betweenweek"> Between</label><br></td>
																		<td style="padding-left: 20px;">
																		<input type="number" id="betweenFromweek"
																			value="nextDay" name="betweenRange" data-value="betweenValue" style="width: 50px;">To<input
																			type="number" name="betweenRange" data-value="betweenValue" id="betweenToweek" value="nextDay"
																			style="width: 50px;"></td>	
																	</tr>
																</table>
																<hr>
															</div>
															<div id="savedRange">
																<span></span>
																<button type="button"
																	class="btn btn-primary saveYear pull-right">
																	Save</button>
															</div>

														</div>

													</div>

													<!--  date range popup -->
												</div>
											</div>
											<!-- <div class="col-md-8  col-sm-8 col-xs-8 sortable-grid ui-sortable">
												Widget ID (each widget will need unique ID)
												<div class="jarviswidget jarviswidget-color-greenDark "
													id="wid-id-measures1">
													<header>
														<span class="widget-icon no-min-height"> <i
															class="fa fa-lg fa-money"></i>
														</span>
														<h2>Measures</h2>
														<a href="#addCustomFactModel" id="btnAddFact"
															data-toggle="modal" class="btn btn-warning  pull-right"><i
															class="fa fa-fw fa-lg fa-plus-circle"></i>Add Fact</a>
													</header>
													<div>
														<div class="jarviswidget-editbox"></div>
														<div class="widget-body no-min-height" id="facts1"></div>
													</div>
												</div>
											</div>
											<div
												class="col-md-2  col-sm-2 col-xs-2 sortable-grid ui-sortable">
												Widget ID (each widget will need unique ID)
												<div class="jarviswidget jarviswidget-color-purple"
													id="wid-id-measures">
													<header>
														<span class="widget-icon no-min-height"> <i
															class="fa fa-lg fa-envelope"></i>
														</span>
														<h2>Notification Date</h2>
													</header>
													<div class="notification-holder"></div>
												</div>
											</div> -->
											<!--  div class="modal fade" id="consumergoods2" data-target="#consumergoods2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header orange">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                </button>
                 <h4 class="modal-title"><strong></strong>McDonalds</h4>
                 <p>Description Here: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>	-->


											<div
												class="col-md-10  col-sm-10 col-xs-10 sortable-grid ui-sortable">
												<!-- Widget ID (each widget will need unique ID)-->
												<div class="jarviswidget jarviswidget-color-light "
													id="wid-id-profile">
													<header>
														<span class="widget-icon"> <i
															class="glyphicon glyphicon-stats txt-color-darken"></i>
														</span>
														<h2>Profile View</h2>
														<div class="jarviswidget-ctrls" role="menu">
															<div
																class="smart-form button-icon jarviswidget-toggle-btn">
																<label class="checkbox txt-color-black"> <input
																	type="checkbox" id="hideMinified"> <i></i>Hide
																	LeftMenu
																</label>
															</div>

															<div
																class="smart-form button-icon jarviswidget-toggle-btn">
																<label class="checkbox txt-color-black"> <input
																	type="checkbox" id="pdfDownload"> <i></i>
																	PdfDownload
																</label>
															</div>




															<div
																class="smart-form button-icon jarviswidget-toggle-btn">
																<label class="checkbox txt-color-black"> <input
																	type="checkbox" id="hideemail"> <i class=""></i>Hide
																	Email
																</label>
															</div>
															<div
																class="smart-form button-icon jarviswidget-toggle-btn">
																<label class="checkbox txt-color-black"> <input
																	type="checkbox" id="hideView"> <i class=""></i>Hide
																	View
																</label>
															</div>
															<a href="javascript:void(0);"
																class="button-icon jarviswidget-fullscreen-btn"
																rel="tooltip" title="" data-placement="bottom"
																data-original-title="Fullscreen"><i
																class="fa fa-expand"></i></a>
														</div>
														<!-- <div class="widget-toolbar" role="menu" id="addSummary">
															<a href="javascript:void(0);"
																class="btn bg-color-darken txt-color-white"><i
																class="fa fa-fw fa-modx"></i>Add Summary</a>
														</div>
														<div class="widget-toolbar" role="menu" id="addTable">
															<a href="javascript:void(0);"
																class="btn bg-color-redLight txt-color-white"><i
																class="fa fa-fw fa-table"></i>Add Table</a>
														</div>
														<div class="widget-toolbar" role="menu" id="addContainer">
															<a href="javascript:void(0);" class="btn btn-primary"><i
																class="fa fa-fw fa-navicon"></i>Add Panel</a>
														</div>
														<div class="widget-toolbar" role="menu" id="addCalendar">
															<a href="javascript:void(0);"
																class="btn bg-color-darken txt-color-white"><i
																class="fa fa-fw fa-calendar"></i>Add Calendar</a>
														</div> -->

														<!-- <div class="widget-toolbar fact-container" role="menu"
															id="addFacts" title="facts for profiling">drop facts here</div> -->
													</header>
													<div>

														<div class="jarviswidget-editbox">
															<input class="form-control" type="text"> <span
																class="note"><i class="fa fa-check text-success"></i>
																Change title to update and save instantly!</span>
														</div>
														<div class="widget-body">
															<div class="widget-body-toolbar text-center row">
																<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
																	<div class="input-group">

																		<input class="form-control" id="measureDisplayName"
																			placeholder="Measure Display name" type="text">
																	</div>
																</div>
																<div class="col-md-7  col-sm-7 col-xs-7">
																	<div class="widget-toolbar fact-container" role="menu"
																		id="addFacts" title="facts for profiling">drop
																		measure here</div>
																</div>
																<div class="col-md-1  col-sm-1 col-xs-1">
																	<button type="button" id="btnEditFact"
																		class="btn btn-default" aria-label="Left Align"
																		data-toggle="modal" data-target="#editDeletFactModel">
																		<span class="glyphicon glyphicon-edit"
																			aria-hidden="true"></span>
																	</button>
																</div>
																<div
																	class="col-md-2 smart-form col-sm-2 col-xs-2 profile-groupby smart-form">
																	<label class="checkbox"> <input type="checkbox"
																		name="profilegroupby"> <i></i>Enable GroupBy
																	</label>
																</div>
															</div>
															<div class="row">
																<section id="widget-grid" class="">
																	<div class="col-sm-12 no-padding" id="droppable">
																		<article
																			class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																		</article>
																	</div>
																</section>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</form>
	</div>
</div>
<div class="dragRemove">
	<i class="fa fa-5x fa-times-circle"></i>
</div>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Profile Details</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="appname" id="appname"
									placeholder="App name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="description" id="description" placeholder="Description"></textarea>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Description</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Save</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div class="modal fade" id="myModalDrilldown" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;"
					id="actionButtons">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Event details View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="panel panel-success  padding-top-10">
					<ul id="tableConfigTab" class="nav nav-tabs bordered">
						<li class="active"><a href="#poDocView" data-toggle="tab"
							class="txt-color-darken"><i class="fa fa-fw fa-lg fa-gear"></i>
								Column Settings</a></li>
						<li><a href="#tableFiltersApplied" data-toggle="tab"
							class="txt-color-darken"><i class="fa fa-fw fa-lg fa-filter"></i>
								Filters Applicable</a></li>
						<li><a href="#tablePivotSettings" data-toggle="tab"
							class="txt-color-darken"><i class="fa fa-fw fa-lg fa-table"></i>
								Pivot Settings</a></li>
						<li><a href="#ruleSettings" data-toggle="tab"
							class="txt-color-darken"><i class="fa fa-fw fa-lg fa-tasks"></i>
								Rule Settings</a></li>
						<li class="pull-right padding-top-5"><a data-dismiss="modal"
							aria-hidden="true" class="btn-sm btn btn-warning txt-color-white">
								Cancel</a></li>
						<li class="pull-right padding-top-5"><a data-dismiss="modal"
							aria-hidden="true" class="btn-sm btn btn-primary txt-color-white"
							id="tableConfigUpdate"> Update</a></li>
						<li><a href="#tableWorlflowSettings" data-toggle="tab"
							class="txt-color-darken" id="tableConfigWorkflow"><i
								class="fa fa-fw fa-lg fa fa-road"></i> Workflow</a></li>
					</ul>
					<div class="tab-content">
						<div id="poDocView" class="padding-10 tab-pane active"></div>
						<div id="tableFiltersApplied" class="padding-10 tab-pane">
							<div class="row">
								<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
									<div class="alert alert-info no-margin fade in font-bold">
										Filters</div>
									<table class="table table-bordered" id="filtersMapping">
										<thead>
											<tr>
												<th class="width-50per">Source</th>
												<th>Target</th>
											</tr>
										</thead>
										<tbody>
											<tr class="nomapping">
												<td colspan=2 class="text-center">No Filters Available
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
									<div class="alert alert-warning fade in no-margin font-bold">
										Charts</div>
									<table class="table table-bordered" id="chartsMapping">
										<thead>
											<tr>
												<th class="width-50per">Source</th>
												<th>Target</th>
											</tr>
										</thead>
										<tbody>
											<tr class="nomapping">
												<td colspan=2 class="text-center">No Charts Available</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
									<div
										class="alert alert-info no-margin fade in font-bold smart-form">
										Columns</div>
									<label class="checkbox"> <input type="checkbox"
										name="disablefilter" id="disablefilter"> <i></i>Disable
										Column Filter
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">

									<label class="checkbox"> <input type="checkbox"
										name="disableshow" id="disableshow"> <i></i>Disable
										Show/hide
									</label>
								</div>
							</div>
						</div>
						<div id="tablePivotSettings" class="padding-10 tab-pane">
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
									<div class="col-sm-1">
										<label>Pivot Column</label>
									</div>
									<div class="col-sm-3">
										<input type="text" class="width-100per" id="pivotTableColumn" />
									</div>
									<div class="col-sm-1" style="display: none;">
										<label>Pivot Row</label>
									</div>
									<div class="col-sm-3" style="display: none;">
										<input type="text" class="width-100per" id="pivotTableRow" />
									</div>
									<div class="col-sm-3">
										<div class="smart-form pivot-settings-multi-table">
											<label class="toggle"> <input type="checkbox"><i
												data-swchon-text="Yes" data-swchoff-text="No"></i>
												Multi-Table
											</label>
										</div>
									</div>
									<div class="col-sm-1">
										<label>Pivot Order</label>
									</div>
									<div class="col-sm-4">
										<input type="text" class="width-100per" id="pivotTableOrder" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
									<div class="col-sm-2">
										<label>Editable Pivot Columns</label>
									</div>
									<div class="col-sm-10">
										<input type="text" class="width-100per" id="pivotEditCols" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label>Table Alias</label>
								</div>
								<div class="col-sm-2">
									<input type="text" class="smart-form width-100per"
										id="pivotTableAs" />
								</div>
								<div class="col-sm-2">
									<label>Header Column</label>
								</div>
								<div class="col-sm-4">
									<input type="text" class="width-100per" id="pivotHeaderCols" />
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="tabs-left">
										<ul class="nav nav-tabs tabs-left" id="pivotTables">
										</ul>
										<div class="tab-content" id="pivotTableElements"></div>
									</div>
								</div>
							</div>
							<div class="row pivotTableOptions"
								style="border-top: 1px solid #ccc;">
								<input type="hidden" id="hdn-pivotTableOptions-table" /> <input
									type="hidden" id="hdn-pivotTableOptions-column" /> <input
									type="hidden" id="hdn-pivotTableOptions-tabName" />
								<div class="col-sm-2 smart-form">
									<label class="label">Display Name</label> <label class="input"><input
										type="text" data-type="columnAlias" class="pivotColumnTA"
										id="pivotDisplayName"></label>
								</div>

								<div class="col-sm-10">
									<span class="col-sm-2 smart-form"><label
										class="toggle marginTop21">Invisible<input
											type="checkbox" data-type="hidden" class="pivotColumnChk"
											id="pivotHideColumn"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i></label></span> <span class="col-sm-3 smart-form"><label
										class="toggle marginTop21">Wrap Text<input
											type="checkbox" data-type="wraptext" class="pivotColumnChk"
											id="pivotWrapText"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i></label></span> <span class="col-sm-2 smart-form"><label
										class="toggle marginTop21">Editable<input
											type="checkbox" data-type="editable" class="pivotColumnChk"
											id="pivotEditable"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i></label></span> <span class="col-sm-2 smart-form"><label
										class="toggle marginTop21">Headding<input
											type="checkbox" data-type="pivotHeader"
											class="pivotColumnChk" id="pivotHeader"><i
											data-swchon-text="Yes" data-swchoff-text="No"></i></label></span> <span
										class="col-sm-3 smart-form"><label class="label">Edit
											Type</label><label class="select"> <select id="pivotEdittype"
											data-type="edtType" class="pivotColumnSel">
												<option value="text">Text</option>
												<option value="txtarea">Text Area</option>
												<option value="checkbox">Checkbox</option>
												<option value="toggle">Toggle</option>
												<!--  <option value="select">Select</option>
									    <option value="date">Date</option>
									    <option value="lookup">Lookup</option>  -->
												<option value="number">Number</option>
										</select><i></i>
									</label></span>
								</div>
							</div>
							<div class="row pivotTableOptions">
								<div class="col-sm-5  margin-top-10 smart-form">
									<label class="label">Render Function</label> <label
										class="textarea"><textarea data-type="render"
											class="pivotColumnTA" id="pivotRenderfunction"></textarea> </label>
								</div>
								<div class="col-sm-4 margin-top-10 smart-form">
									<label class="label">Select Option / Lookup Query</label> <label
										class="textarea"><textarea data-type="typeOpt"
											class="pivotColumnTA" id="pivotTypeoptions"></textarea></label>
								</div>
								<div class="col-sm-4 margin-top-10 smart-form">
									<label class="label">Headding Source</label> <label
										class="input"><input type="text"
										data-type="headdingSource" class="pivotColumnTA"
										id="pivotHeadderSource"></label>
								</div>
							</div>
						</div>
						<div id="ruleSettings" class="padding-10 tab-pane">
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 smart-form">
									<div class="col-sm-2">
										<label class="toggle"> <input type="checkbox"
											id="isRule"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i> Enabled
										</label>
									</div>
									<div class="col-sm-2">
										<label>Parameters : </label>
									</div>
									<div class="col-sm-4">
										<input class="form-control" id="ruleColumn" style="width: 80%" />
									</div>
								</div>
							</div>
							<div class="row marginTop21">
								<div class="col-sm-1">
									<label> URL : </label>
								</div>
								<div class="col-sm-5">
									<input class="form-control width-100per" id="ruleLink" />
								</div>
								<div class="col-sm-1">
									<label> Project : </label>
								</div>
								<div class="col-sm-5">
									<input class="form-control width-100per" id="ruleProject" />
								</div>
							</div>
						</div>
						<div id="tableWorlflowSettings" class="padding-10 tab-pane">
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 smart-form">
									<div class="col-sm-1">Column :</div>
									<div class="col-sm-3">
										<input class="form-control" id="workflowColumn"
											style="width: 80%" />
									</div>
									<div class="col-sm-2">
										<label class="toggle"> <input type="checkbox"
											name="isWorkflow"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i> Work Flow
										</label>
									</div>
									<div class="col-sm-4">
										<label class="toggle"> <input type="checkbox"
											name="wf-disableOnComplete"><i data-swchon-text="Yes"
											data-swchoff-text="No"></i> Disable Edit on Complete :
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div class="modal fade" id="addCustomFactModel" tabindex="-1"
	role="dialog" aria-labelledby="addCustomFactModel" aria-hidden="true">
	<div class="modal-dialog modal-sm width-35per">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="panel-title">Custom Fields Configurations</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" id="customFactForm">
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="txtFactName">Field
							Name</label>
						<div class="col-sm-8">
							<input class="form-control customFactDetails" type="text"
								id="txtFactName" name="txtFactName"
								placeholder="Enter Fact Name">
						</div>
					</div>
					<!-- <div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="txtFactDisplayname">Fact
							Display Name</label>
						<div class="col-sm-8">
							<input class="form-control customFactDetails" type="text"
								id="txtFactDisplayname" name="txtFactDisplayname"
								placeholder="Enter Fact Display Name">
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="drpDependentFacts">Dependent
							Facts</label>
						<div class="col-sm-8">
							<input class="js-example-basic-multiple customFactDetails"
								type="text" id="drpDependentFacts" name="drpDependentFacts"
								multiple="multiple">
						</div>
					</div> -->
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="factCalculations">Fields
							Calculation</label>
						<div class="col-sm-8">
							<textarea class="form-control minHeight80 customFactDetails"
								id="factCalculations" name="factCalculations"
								placeholder="Enter Fact Calculation Logic here Ex:([column1]*[column2])"></textarea>
						</div>
					</div>
				</form>
				<div class="form-group row">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" id="btnCustomFactSubmit"
							class="btn btn-primary" data-dismiss="model">Submit</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="saveConfigModel" tabindex="-1" role="dialog"
	aria-labelledby="addCustomFactModel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="panel-title row">
					<strong class="col-md-1 note"
						style="font-size: small; text-align: right">Chart Type :</strong>
					<div class="col-md-3">
						<select name="charttype" claas="col-md-2">
						</select>
					</div>
					<strong class="col-md-1 note" style="font-size: small">Field
						Name :</strong> <span class="col-md-4 text-transform-capitalize"></span>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" id="saveConfigForm">
					<table
						class='table table-striped table-bordered table-hover table-responsive'
						id="tablesaveConfig" style="max-height: 350px">

					</table>
				</form>
				<div class="modal-footer">
					<footer>
						<button class="btn btn-primary" name="save">Save</button>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editDeletFactModel" tabindex="-1"
	role="dialog" aria-labelledby="editDeletFactModel" aria-hidden="true">
	<div class="modal-dialog modal-sm width-35per">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="panel-title">Edit/Delete Fact Configurations</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" id="editFactForm">
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label"">Facts: </label>
					</div>
				</form>
				<div class="form-group row">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" id="btnEditFactSubmit"
							class="btn btn-primary" data-dismiss="model">Submit</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalHeaderExportImport">Import</h4>
			</div>
			<form id="frmModalExportImport" class="smart-form">
				<div class="modal-body padding10">
					<fieldset class="no-padding" id="importFieldSet">
						<section>
							<label class="label">Upload</label> <label for="file"
								class="input input-file">
								<div class="button">
									<input type="file" class="fileUpload" name="file" />Browse
								</div> <input type="text" id="filename" placeholder="Upload file"
								readonly>
							</label>
						</section>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button type="button" class="btn btn-warning" data-dismiss="modal"
							aria-hidden="true">Cancel</button>
						<button id="exportImportButton" type="submit"
							class="btn btn-primary">Import</button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="colorPalette" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" id="paletteHeader">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<form id="frmModalExportImport" class="smart-form">
				<div class="modal-body padding10">
					<div id=palettes></div>
					<div id=tooltip></div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="profileOnModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" id="profileModalHeader">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<form id="frmProfileOnModal" class="smart-form">
				<div class="modal-body padding10">
					<div class="row">
						<article
							class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sortable-grid">
							<div class="" id="divContentProfileonModal">
								<section class="">
									<div class="widget-body row"></div>
								</section>
							</div>
						</article>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="profileActionsModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" id="actionsHeader">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalHeaderProfileActions"></h4>
			</div>
			<form id="frmModalProfileActions" class="smart-form">
				<div class="modal-body padding10">
					<div id="actionsGridDiv">
						<table id="actionsGrid"
							class="table dataTable table-bordered table-striped">
							<thead>
								<tr>
									<th>Action Type</th>
									<th>Name</th>
									<th>Profile Key</th>
									<th>URL Type</th>
									<th>Enabled</th>
								</tr>
							</thead>
						</table>
						<div class="modal-footer">
							<footer>
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true">Close</button>
								<button id="addProfileAction" type="submit"
									class="btn btn-success btn-sm">Add Action</button>
							</footer>
						</div>
					</div>
					<div id="actionEdit">
						<fieldset>
							<section class="col col-3">
								<label class="label">Action</label> <label class="select">
									<select name="actionType">
										<option value="profileLink" selected="" disabled="">Profile
											Link</option>
								</select> <i></i>
								</label>
							</section>
							<section class="col col-3">
								<label class="label">Name</label> <label class="input">
									<input type="text" name="actionname" class="input-sm">
								</label>
							</section>

							<section class="col col-3">
								<label class="label">Profile</label> <label class="width-100per">
									<input type="text" id="actionProfile" name="actionprofile"
									class="width-100per">
								</label>
							</section>

							<section class="col col-2">
								<label class="label">Type</label> <label class="select">
									<select name="urlType">
										<option value="newtab" selected="">New Tab</option>
										<option value="samescreen">Same Screen</option>
										<option value="modal">Modal</option>
								</select> <i></i>
								</label>
							</section>
							<section class="col col-1">
								<label class="label">Enabled</label> <label class="checkbox">
									<input type="checkbox" name="actionEnabled" checked="checked">
									<i></i>
								</label>
							</section>
						</fieldset>
						<fieldset>
							<section class="col col-2" id="mappingSection">
								<label class="toggle state-disabled"> <input
									type="checkbox" name="checkbox-mapping" disabled="disabled">
									<i data-swchon-text="ON" data-swchoff-text="OFF"></i>Mapping
								</label>
							</section>
							<!-- </fieldset>
							<fieldset> -->
							<section class="col col-12" id="profileMappingConfig">
								<div class="row">
									<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
										<div class="alert alert-info no-margin fade in font-bold">
											Filters</div>
										<table class="table table-bordered" id="profileFiltersMapping">
											<thead>
												<tr>
													<th class="width-50per">Source</th>
													<th>Target</th>
												</tr>
											</thead>
											<tbody>
												<tr class="nomapping">
													<td colspan=2 class="text-center">No Filters Available
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
										<div class="alert alert-warning fade in no-margin font-bold">
											Charts</div>
										<table class="table table-bordered" id="profileChartsMapping">
											<thead>
												<tr>
													<th class="width-50per">Source</th>
													<th>Target</th>
												</tr>
											</thead>
											<tbody>
												<tr class="nomapping">
													<td colspan=2 class="text-center">No Charts Available</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</fieldset>
						<footer>
							<button type="submit" class="btn btn-primary"
								id="profileMappingSave">Save</button>
							<button type="button" class="btn btn-default"
								id="editProfileMappingBack">Back</button>
						</footer>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
<div id="modalDrilldown" style="display: none">
	<div class="row">
		<div class="col-sm-12">
			<article class="sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-light"
					id="wid-id-header" data-widget-editbutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false">
					<header>
						<span class="widget-icon"><i class="fa fa-fw fa-search">
						</i></span>
						<h2 id="modalDrilldownLabel"></h2>
						<div id="modalDrilldownExtras"></div>
						<a class="btn btn-warning pull-right" id="goBack"
							href="javascript:void(0);" title="Navigate Back"> <i
							class="fa fa-mail-reply"></i> Back
						</a>
					</header>
					<div class="widget-body">
						<div class="row">
							<div id="modalDrilldown-additionalFeature"></div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content mdlConfPrView" id="printView">
			<div class="modal-header modal-header-small">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<div class="pull-right" style="margin-right: 10px;"></div>
				<h4 class="modal-title" id="myModalLabel">Are you sure</h4>
			</div>
			<div class="modal-body">
				<div id="mdlConfirm">
					<form id="frmMdlConfirm" class="">
						<div action="" id="smart-form-register" class="smart-form "
							novalidate="novalidate">
							<fieldset>
								<section>
									<h3>Select Reason Reject All the Selected</h3>
								</section>
								<section class="dynamicSection"></section>
							</fieldset>
							<footer class="confirmation-user-footer">
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true">No</button>
								<button type="submit" class="btn btn-primary" id="btnConfirm">Yes</button>
							</footer>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="preparing-file-modal" title="Preparing report..."
	style="display: none;">
	We are preparing your report, please wait...
	<!--Throw what you'd like for a progress indicator below-->
	<div class="ui-progressbar-value ui-corner-left ui-corner-right"
		style="width: 100%; height: 22px; margin-top: 20px;"></div>
</div>
<div id="error-modal" title="Error" style="display: none;">There
	was a problem generating your report, please try again.</div>
<script
	src="web/js/plugin/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"></script>
<script src="js/DataAnalyser/DataAnalyser.js"></script>
<script src="js/DataAnalyser/colorGenarator.js"></script>
<!--  script src="js/DataAnalyser/CaseDetails.js"></script>-->
<script src="js/DataAnalyser/ProfileUtilty.js"></script>
<script src="web/js/plugin/elevatezoom-master/jquery.elevatezoom.js"></script>
<script src="js/plugin/d3.layout.cloud.js"></script>
<script src="js/plugin/ckeditor/ckeditor.js"></script>