<form class="smart-form" id="emailNotificationForm">
	<fieldset class="no-padding-top">
		<section>
			<label class="label">To</label> <label class="input"> <i
				class="icon-append fa fa-envelope-o"></i> <input type="text"
				name="emailmulti" id="emailmulti">
			</label>
		</section>
		<section>
			<label class="label">Subject</label> <label class="input"> <i
				class="icon-append fa fa-tag"></i> <input type="text" name="subject"
				id="subject">
			</label>
		</section>
		<div class="row">
			<div class="form-group">
				<section class="col col-6">
					<label class="label">File Extension</label> <label class="select">
						<select class="select" id="attachmentFormatSelect">
							<option value="csv">CSV</option>
							<option value="xlsx">XLSX</option>
					</select> <i></i>
					</label>
				</section>
				<section class="col col-6 padding-right-13">
					<label class="label">View</label> <label class="select">
						<select class="select" id="emailViewSelect">
						</select> <i></i>
				</section>
			</div> 
		</div>
		<div class="row">
			<section class="col col-4">
				<label class="label">Frequency</label> <label class="select">
					<select class="select" id="emailFrequency">
						<option value="once">Once</option>
						<option value="daily">Daily</option>
						<option value="weekly" selected>Weekly</option>
						<option value="monthly">Monthly</option>
						<option value="quarterly">Quarterly</option>
					</select> <i></i>
				</label>
			</section>
			<section class="col col-8">
				<div id="dayWeek">
					<label class="label">Day of Week</label> <label class="input">
						<div class="form-group">
							<div>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default" title="Sunday" data-value="1"> <input type="radio"
										name="day" data-value="1"/> S
									</label> <label class="btn btn-default active" title="Monday" data-value="2"> <input type="radio"
										name="day" data-value="2"/> M
									</label> <label class="btn btn-default" title="Tuesday" data-value="3"> <input type="radio"
										name="day" data-value="3"/> T
									</label> <label class="btn btn-default" title="Webnesday" data-value="4"> <input type="radio"
										name="day" data-value="4"/> W
									</label> <label class="btn btn-default" title="Thursday" data-value="5"> <input type="radio"
										name="day" data-value="5"/> T
									</label> <label class="btn btn-default" title="Friday" data-value="6"> <input type="radio"
										name="day" data-value="6"/> F
									</label> <label class="btn btn-default"  title="Saturday" data-value="7"> <input type="radio"
										name="day"/> S
									</label>
								</div>
							</div>
						</div>
					</label>
				</div>
				<div id="dayMonth" class=" width-100px">
					<label class="label">Day of Month</label>
					<label class="select">
						<select class="select">
						</select> <i></i> </label>
				</div>
			</section>
		</div>
		<section>
			<label class="label">Message</label> <label class="textarea">
				<i class="icon-append fa fa-comment"></i> <textarea rows="4"
					name="message" id="message"></textarea>
			</label>
		</section>
		<section>
			<label class="checkbox"> <input type="checkbox"
				name="userEnabled" id="notificationEnabled"> <i></i>Enable
			</label>
		</section>
	</fieldset>
	<div class="form-actions">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="submit" class="btn btn-primary margin-right-15" id="setEmailNotification"><i class="fa fa-share-square-o"> Send</i></button>
			</div>
	</div>
</form>