<div class="row" id="selectTable">
	<div class="col-sm-12">
		<form id="frmConf" class="">
			<div class="col-sm-10  no-padding-right">
				<h3>Sankey Flow generator</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 100%;"></div>
				</div>
			</div>
			<div class="col-sm-2 no-padding-left">
				<div
					class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3"
					id="mySavedSankey" data-source="myProfiles">
					<h5>My Saved Sankey</h5>
				</div>
				<div class="progress progress-micro ">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 100%;"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<i class="note">Source:</i><input type="text" name="source"
					id="source" style="width: 100%" />
			</div>
			<div class="col-sm-3">
				<i class="note">Database:</i><input type="text" name="database"
					id="database" style="width: 100%" />
			</div>
			<!-- <div class="col-sm-1">
				<i class="note">Stack Count:</i><input type="text" name="stackCount"
					title="Stack Count" id="stackCount" style="width: 100%" />
			</div> -->
			<div class="col-sm-1">
				<i class="note"></i>
				<div>
					<a class="btn btn-primary" id="createSankey" data-toggle="modal"><i
						class="fa fa-arrow-right"></i> Go</a>
				</div>
			</div>
			<!-- <div class="col-sm-4 padding-top-15 text-right" id="actionBtn">
				<a class="btn btn-primary" href="javascript:void(0);" id="preview"><i
					class="fa fa-eye"></i> Preview</a> <a
					class="btn btn-warning padding-left-20" id="save"
					href="javascript:void(0);" title="Back to source selection"><i
					class="fa fa-save"></i> Save</a> <a
					class="btn btn-info padding-left-20" id="saveAs"
					href="javascript:void(0);" title="Save as new Profile "><i
					class="fa fa-clone"></i> Clone</a>
			</div> -->
		</form>
	</div>
</div>
<div class="row" id="mySankey" style="height: 1000px;">
	<div class="col-sm-12">
		<div class="jarviswidget jarviswidget-color-white">
			<header>
				<h2>Sankey View:</h2>
				<div class="btn-group pull-right">
					<a class="btn btn-warning pull-right" id="profileBack"
						href="javascript:void(0);" title="Back to table selection"> <i
						class="fa fa-mail-reply"></i> Back
					</a>
					<div class="widget-toolbar" role="menu" id="save">
						<a href="javascript:void(0);" class="btn btn-primary"><i
							class="fa fa-fw fa-save fa-lg"></i>Save</a>
					</div>
					<div class="widget-toolbar" role="menu" id="saveAs">
						<a href="javascript:void(0);" id="saveAs" class="btn btn-info"><i
							class="fa fa-fw fa-lg fa-clone"></i>Clone</a>
					</div>
					<div class="widget-toolbar" role="menu" id="preview">
						<a href="javascript:void(0);" class="btn btn-warning"><i
							class="fa fa-fw fa-lg fa-bullseye"></i>Preview</a>
					</div>
				</div>
				<div class="jarviswidget-ctrls" role="menu"></div>
			</header>
			<div>
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body no-min-height">
					<div class="col-sm-12">
						<!-- <form class="smart-form margin-20" id="frmConfig">
							<h3>Nodes</h3>
							<fieldset id="nodeConfigSection"></fieldset>
							<h3>Links</h3>
							<fieldset id="configSection"></fieldset>
							<h3>
								<div class="row">
									<span class="col-sm-3">Filters</span> <span
										class="pull-right col-sm-2"> <label
										class="checkbox-inline  "><small>Filter Inline</small><input
											type="checkbox" class="big-checkbox" id="sankeyOnOffswitch"
											title=""></label>
									</span>
								</div>
							</h3>
							<fieldset id="filterConfigSection"></fieldset>
						</form> -->
						<div
							class="jarviswidget  jarviswidget-sortable jarviswidget-color-blueLight">
							<header>
								<span class="widget-icon no-min-height"> <i
									class="fa fa-lg fa fa-cog"></i>
								</span>
								<h2>General Setting</h2>
								<div class="jarviswidget-ctrls" role="menu">
									<div
										class="smart-form button-icon jarviswidget-toggle-btn margin-top-2 ">
										<label class="checkbox txt-color-black"> <input
											type="checkbox" id="hideMinified"> <i></i>Hide Left
											Menu
										</label>
									</div>
									<a href="javascript:void(0);"
										class="button-icon jarviswidget-toggle-btn" rel="tooltip"
										title="" data-placement="bottom"
										data-original-title="Collapse"><i class="fa fa-minus"></i></a>
								</div>
							</header>
							<div>
								<div class="jarviswidget-editbox"></div>
								<div class="widget-body no-min-height smart-form">
									<form class="padding-10 margin-bottom-10 row"
										id="generalSection">
										<div class="">
											<div class="col col-6 col-sm-6">
												<strong class="note">Container Height</strong> <label
													class="input"><input type="number"
													name="containerheight"></label>
											</div>
											<div class="col col-3 col-sm-3">
												<strong class="note">Sankey Height</strong> <label
													class="input"><input type="number"
													name="sankeyheight"></label>
											</div>
											<div class="col col-3 col-sm-3">
												<strong class="note">Sankey Width</strong> <label
													class="input"><input type="number"
													name="sankeywidth"></label>
											</div>
											<div class="col col-2 col-sm-2">
												<strong class="note">Max Slider Value</strong> <label
													class="input"><input type="number"
													name="maxslidervalue"></label>
											</div>
											<div class="col col-2 col-sm-2">
												<strong class="note">Default Slider Value</strong> <label
													class="input"><input type="number"
													name="defaultslidervalue"></label>
											</div>
											<div class="col col-2 col-sm-2">
												<strong class="note">Order Type</strong> <label
													class="input"><select class="input-xs" name="ordertype"><option
															value="DESC">Top</option>
														<option value="ASC">Bottom</option></select></label>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div
							class="jarviswidget  jarviswidget-sortable jarviswidget-color-blueLight">
							<header>
								<span class="widget-icon no-min-height"> <i
									class="fa fa-lg fa fa-square-o"></i>
								</span>
								<h2>Node</h2>
								<div class="jarviswidget-ctrls" role="menu">
									<a href="javascript:void(0);" class="button-icon"
										id="createNode" name="btnAddFact" customtype="dimension"
										rel="tooltip" title="" data-placement="bottom"
										data-original-title="Add Node"> <i
										class="fa fa-fw fa-lg fa-plus-circle"></i></a> <a
										href="javascript:void(0);"
										class="button-icon jarviswidget-toggle-btn" rel="tooltip"
										title="" data-placement="bottom"
										data-original-title="Collapse"><i class="fa fa-minus"></i></a>
								</div>
							</header>
							<div>
								<div class="jarviswidget-editbox"></div>
								<div class="widget-body no-min-height smart-form"
									id="nodeConfigSection"></div>
							</div>
						</div>
						<div
							class="jarviswidget  jarviswidget-sortable jarviswidget-color-blueLight">
							<header>
								<span class="widget-icon no-min-height"> <i
									class="fa fa-lg fa fa-link"></i>
								</span>
								<h2>Links</h2>
								<div class="jarviswidget-ctrls" role="menu">
									<a href="javascript:void(0);"
										class="button-icon jarviswidget-toggle-btn" rel="tooltip"
										title="" data-placement="bottom"
										data-original-title="Collapse"><i class="fa fa-minus"></i></a>
								</div>
							</header>
							<div>
								<div class="jarviswidget-editbox"></div>
								<div class="widget-body no-min-height smart-form"
									id="configSection"></div>
							</div>
						</div>
						<div
							class="jarviswidget  jarviswidget-sortable jarviswidget-color-blueLight">
							<header>
								<span class="widget-icon no-min-height"> <i
									class="fa fa-lg fa fa-filter"></i>
								</span>
								<h2>Filter</h2>
								<div class="jarviswidget-ctrls" role="menu">
									<span class="onoffswitch pull-left"><input
										type="checkbox" name="onoffswitch"
										class="onoffswitch-checkbox" id="sankeyOnOffswitch"> <label
										class="onoffswitch-label" for="sankeyOnOffswitch"> <span
											class="onoffswitch-inner" data-swchon-text="Inline"
											data-swchoff-text="Modal"></span> <span
											class="onoffswitch-switch"></span>
									</label> </span> <a href="javascript:void(0);" class="button-icon"
										id="addFilters" name="btnAddFact" customtype="dimension"
										rel="tooltip" title="" data-placement="bottom"
										data-original-title="Add Node"> <i
										class="fa fa-fw fa-lg fa-plus-circle"></i></a> <a
										href="javascript:void(0);"
										class="button-icon jarviswidget-toggle-btn" rel="tooltip"
										title="" data-placement="bottom"
										data-original-title="Collapse"><i class="fa fa-minus"></i></a>
								</div>
							</header>
							<div>
								<div class="jarviswidget-editbox"></div>
								<div class="widget-body no-min-height smart-form"
									id="filterConfigSection"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dragRemove ui-droppable" style="display: none;">
		<i class="fa fa-5x fa-times-circle"></i>
	</div>
	<div class="col-sm-12" style="display: none">
	    <a id='resetLink' class="reset pull-right" style="display: none">Reset</a>
		<span class="onoffswitch pull-right"><input type="checkbox"
			name="onoffswitch" class="onoffswitch-checkbox"
			id="sankeyZoomOnOffswitch"> <label class="onoffswitch-label"
			for="sankeyZoomOnOffswitch"> <span class="onoffswitch-inner"
				data-swchon-text="ON" data-swchoff-text="OFF"></span> <span
				class="onoffswitch-switch"></span>
		</label> </span>
		<div class="showAll btn btn-primary"
			onClick="panZoomsvgObject.resetZoom();$(this).hide();">Reset
			Zoom</div>
	</div>
	<div class="col-sm-12">
		<div id="sankeynodeimagediv"></div>
		<div id='sankey' class="flowdiagram">&nbsp;</div>
	</div>
	<div class="col-sm-12 jarviswidget jarviswidget-color-blueLight">
		<header style="display: none">
			<h2>Sankey Data Grid</h2>
			<a class="btn btn-success btn-sm pull-right"
				href="javascript:void(0);" id="downloadExcel"
				title="Download data in XLS format" data-datatable="#sankeyDataGrid">
				<i class="fa fa-fw fa-cloud-download"></i>Excel
			</a> <a class="btn btn-success btn-sm pull-right margin-right-5"
				href="javascript:void(0);" id="downloadCSV"
				title="Download data in CSV format" data-datatable="#sankeyDataGrid">
				<i class="fa fa-fw fa-cloud-download"></i>CSV
			</a>
		</header>
		<div class="backgroundcolorwidgetimp">
			<table id="sankeyDataGrid"
				class="table table-striped table-hover dc-data-table">
			</table>
		</div>
	</div>
</div>
</div>

<div class="row" id="myProfiles">
	<div class="col-sm-12">
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-primary" role="progressbar"
				style="width: 100%;"></div>
		</div>
	</div>
	<div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"
				id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<div class="col-sm-2 " style="padding-top: 4px; margin-left: 10%">
				<i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" />
			</div>
			<div class=" pull-right "
				style="padding-top: 2px; padding-right: 1%;">
				<a class="btn btn-warning padding-left-20 padding "
					id="backToDesign" href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</div>
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>


						<!-- <div class="tree smart-form">
						<ul role="tree" id="myProfileList">
						</ul>
						</div> -->

					</div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						<!-- <div  class="tree smart-form">
						<ul role="tree" id="allProfileList">
						</ul>
					</div> -->


					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Sankey Details</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="sankeyname"
									placeholder="Sankey name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Sankey display name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="description" id="description" placeholder="Description"></textarea>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Description</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Save</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script src="js/DataAnalyser/SankeyGenerator.js"></script>
<script src="js/DataAnalyser/ProfileUtilty.js"></script>