<link rel="stylesheet" type="text/css" media="screen"
	href="js/plugin/fullcalendar/fullcalendar.min.css">
<div class="row">

<div class="row" id="dataAnalyserProfile" >
<article class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sortable-grid">
<!--<section id="widget-grid"> 
<div class="widget-body row padding-left-5">
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
<div class="jarviswidget  jarviswidget-sortable" id="widget-inline-filter" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget" style="display: block;">
		
		<div style="background: #FFFFFF" role="content">
			<div class="jarviswidget-editbox">
			</div>-->
			<div id="loading"></div>
<div class="row" id="selectTable">
	<div class="col-sm-12">
		<form id="frmConf" class="">
			<div class="col-sm-12">
				<h3>Select File and Vendor</h3>
				<!--  <div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 44%;"></div>
				</div>-->
			</div>
			<div class="col-sm-3">
				<div class="note"><strong>File :</strong></div>
				<label name="SelectEmFile" class="input" style="width: 260px;"> <input type="text"
					name="EmFile"  id="EmFile" /></label>
			</div>

			<div class="col-sm-3" style="display:none;" id="vendor">
				<div class="note"><strong>Vendor :</strong></div> <label name="SelectVendor" class="input" style="width: 260px;"> <input type="text"
					name="vendor"  /></label>
			</div>
			
			<div class="col-sm-3" style="display:none;" id="filterDiv">
				<div class="note"><strong>Date :</strong></div> <label name="SelectDate" class="input" style="width: 260px;"> <input type="text"
					name="date" id="date" /></label>
			</div>

			<div class="col-sm-3" style="margin-top:15px">
			<div class="note"></div>
				<a class="btn btn-primary" href="javascript:void(0);" id="proceed"><i
					class="fa fa-hand-o-right"></i> Proceed</a> 
					<!--   <a style="display:none;"
					class="btn btn-warning padding-left-20" id="callProfile"
					href="javascript:void(0);" title="Back to source selection">Go</a> --> 
			</div>
			
			

<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div" >
	<div  id="tableDiv" class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" style="margin-top: 50px;display:none" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">

</div>
</div>
		</form>
	</div>
</div> 


<!--</div>
</div>
</div>
</div>
</section>-->

</article>
</div>
</div>

<script src="js/DataAnalyser/TableView.js"></script>
