<div class="jarviswidget jarviswidget-color-white"
	data-widget-editbutton="false" data-widget-deletebutton="false"
	data-widget-fullscreenbutton="false" id="templateWidgets">
	<header>
		<span class="widget-icon no-min-height"> </span>
		<h2>Test Suite</h2>
		<div class="widget-toolbar" role="menu" id="createProfile">
				<a href="javascript:void(0);"
					class="btn-sm btn btn-primary txt-color-white"><i
					class="fa fa-fw fa-save"></i>Create</a>
			</div>
	</header>
<!-- 	<div class="widget-body">
		<div id="myprofiles">
			<div class="well padding-10">
				<h5 class="margin-top-0 col-md-6">Name</h5>
				<h5 class="margin-top-0 col-md-2">Source</h5>
					<h5 class="margin-top-0 col-md-3">Database</h5>
				<h5 class="margin-top-0 col-md-3">Created on</h5>
				<h5 class="margin-top-0 col-md-3">Execute Query</h5>
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-group no-margin cursor-pointer" id="myProfileList">
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div> -->
	<div class="row" id="myProfiles">
	<div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%" id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<!-- <div class="col-sm-2 " id="appProfile"
				style="padding-top: 4px; margin-left: 10%">
				<i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" />
			</div> -->
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>
                    </div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
<!-- <div class="row" id="selectSource">
	<div class="col-sm-12">
		<div class="col-sm-12">
			<h3>Select source for Analytics</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="create">
			<div
				class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-database"></i>Create Test Suite
				</h5>
				<code> Tables</code>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="saved">
			<div
				class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
				<h5>Saved Test Suite</h5>
				<code>Profiles designed by me</code>
			</div>
		</div>
	</div>
</div> -->
<div id="loading"></div>
<div class="modal fade" id="myModalsave" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Data Source Details</h4>
			</div>
			<form id="frmSaveDataSource" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate" style="max-width: 970px;overflow: auto;">
							<section class="col col-sm-6">
								<div class="note padding-2">
									<strong>Test Suite Name</strong>
								</div>
								<label class="input"><input type="text"
									name="displayname"></label>
							</section>
							<section class="col col-sm-6">
								<div class="note padding-2">
									<strong>Email Address</strong>
								</div>
								<label name="defaultvaluelabel" class="input"><input
									type="text" name="emails"></label>
							</section>

							<section class="col col-sm-12">
								<table class="table table-bordered" id="configTable">
									<thead>
										<tr>
											<th colspan="4"><div class="note pull-left">
													<strong>Query :</strong>
												</div> <a href="javascript:void(0);"
												class="button-icon jarviswidget-fullscreen-btn pull-right"
												rel="tooltip" title="" data-original-title="Add Table"
												id="addTable"><i class="fa fa-fw fa-lg fa-plus-circle"></i></a></th>
										</tr>
										<tr>
											<th ><div class="note ">
													<strong>Name :</strong>
												</div></th>
												<th><div class="note">
													<strong>Description :</strong>
												</div></th>
												<th colspan="2"><div class="note ">
													<strong>Criticality :</strong>
												</div></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>

							</section>
						<footer>
							<a type="button" class="btn btn-warning" data-dismiss="modal"
								aria-hidden="true">Cancel</a>
							<div class="widget-toolbar" role="menu" id="saveTest">
								<a href="javascript:void(0);"
									class="btn btn-primary"><i
									class="fa fa-fw fa-save"></i>Save</a>
							</div>
							<!-- <div class="widget-toolbar" role="menu" id="excuteQuery">
								<a href="javascript:void(0);"
									class="btn btn-success"><i class=""></i>Execute</a>
							</div> -->

						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- <div id="testSuite"
	class="col-md-12 col-sm-12 col-xs-12 sortable-grid ui-sortable"
	style="display: none">
	Widget ID (each widget will need unique ID)
	<div class="jarviswidget jarviswidget-color-white ">
		<header>
			<span class="widget-icon no-min-height"> </span>
			<h2>Test Suite</h2>
			<a class="btn btn-warning pull-right" id="profileBack"
				href="javascript:void(0);" title="Back to table selection"> <i
				class="fa fa-mail-reply"></i> Back
			</a>
			<div class="btn-group pull-right">
				<div class="widget-toolbar" role="menu" id="saveTest">
					<a href="javascript:void(0);"
						class="btn bg-color-greenDark txt-color-white"><i
						class="fa fa-fw fa-save"></i>Save</a>
				</div>
				<div class="widget-toolbar" role="menu" id="excuteQuery">
					<a href="javascript:void(0);"
						class="btn bg-color-greenDark txt-color-white"><i class=""></i>Execute</a>
				</div>
			</div>
		</header>
		<div class="profile-filters">
			<div class="jarviswidget-editbox"></div>
			<div class="widget-body no-min-height smart-form">
				<form id="frmSaveDataSource" class="">
					<div class="col-sm-12 col-md-12 margin-bottom-10 padding-bottom-10">

						<div class="col col-4">
							<div class="note padding-2">
								<strong>Test Suite Name</strong>
							</div>
							<label class="input"><input type="text"
								name="displayname"></label>
						</div>
						<div class="col col-6">
							<div class="note padding-2">
								<strong>Email Address</strong>
							</div>
							<label name="defaultvaluelabel" class="input"><input
								type="text" name="emails"></label>
						</div>

						<section
							class="col col-md-11 col-sm-10 margin-top-10 padding-top-10">
							<table class="table table-bordered" id="configTable">
								<thead>
									<tr>
										<th colspan="2"><div class="note pull-left">
												<strong>Query :</strong>
											</div> <a href="javascript:void(0);"
											class="button-icon jarviswidget-fullscreen-btn pull-right"
											rel="tooltip" title="" data-original-title="Add Table"
											id="addTable"><i class="fa fa-fw fa-lg fa-plus-circle"></i></a></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>

						</section>

					</div>
				</form>

			</div>
		</div>

	</div>
</div> -->




<script src="js/DataAnalyser/ProfileUtilty.js"></script>
<script src="js/DataAnalyser/testSuite.js"></script>
