
<div style="margin: 2% 25% 1% 10%" id="searchDivId">
	<form id="searchForm">
		<div class="input-group m-bottom-md">
			<input type="search" autocomplete="on" placeholder="Search here..."
				class="form-control no-rightborder" id="searchterm"> <span
				class="dropdown dropdown-large input-group-btn advancesearch">
				<a href="#" class="dropdown-toggle font-xs cursor-pointer" data-toggle="dropdown"
				aria-expanded="false">Advanced Search<b class="caret" title="Advanced search"></b></a>

				<ul class="dropdown-menu row">
					<li class="col-sm-3"><label class="checkbox"> <input
							type="checkbox" name="checkbox-inline">
							<i></i>Search only in display fields
					</label> <span class="input-group-btn padding10">
							<button type="submit" class="btn bg-color-blue" id="searchAdv">
								<i class="fa fa-search"></i>
							</button></li>
				</ul>

			</span> <span class="input-group-btn">
				<button type="submit" class="btn bg-color-blue" id="search">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
</div>
<div class="jarviswidget jarviswidget-color-blueLight no-padding hide"
	id="wid-id-data" data-widget-editbutton="false"
	data-widget-deletebutton="false" data-widget-sortable="false">
	<header>
		<ul class="nav nav-tabs pull-left in" id="myTab">
			<li class="active" data-source="apac" onClick="searchSolr.Load('SAP')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
					<span class="hidden-mobile hidden-tablet">APAC</span></a></li>
		</ul>
	</header>
	<div class="backgroundcolorwidgetimp">

		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
		</div>
		<!-- end widget edit box -->

		<!-- widget content -->
		<div class="widget-body">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in no-padding-bottom"
					id="materialgroup">
					<div class="row" id="mainDivId">

						<div class="col-sm-12">
							<div class="padding-md">
								<div class="row">
									<div class="col-md-9">
										<div class="facets-tabs" style="display: none;">
											<div class="tab-content faq-cat-content" id="resultGrid">
												<div class="alert alert-warning fade in"
													id="entitySelectMsg">
													<button class="close" data-dismiss="alert">x</button>
													<i class="fa-fw fa fa-warning"></i>
													<h3 class="inline">
														Select an Entity to see Records
														</h1>
												</div>
											</div>
										</div>
									</div>

									<section id="widget-grid" class="">
										<article class="col-md-3 facets-tabs">
											<!-- Widget ID (each widget will need unique ID)-->
											<div class="jarviswidget jarviswidget-color-light "
												id="wid-id-20" data-widget-editbutton="false"
												data-widget-deletebutton="false"
												data-widget-fullscreenbutton="false"
												data-widget-togglebutton="false" style="display: none">

												<header>
													<span class="widget-icon"><i class="fa fa-tasks">
													</i></span>
													<h2>Entities</h2>
												</header>

												<div>
													<!-- widget edit box -->
													<div class="jarviswidget-editbox">
														<!-- This area used as dropdown edit box -->
													</div>
													<!-- end widget edit box -->
													<!-- widget content -->
													<div class="widget-body">
														<div class=" ">
															<ul class=" faq-cat-tabs entities" id="entities">
															</ul>
														</div>
													</div>
												</div>
												<!-- end widget div -->
											</div>
											<!-- end widget -->
										</article>
									</section>
								</div>
								<!-- /.padding-md -->
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end row -->

<script src="web/js/Search/e2e_search_copy.js"></script>
<!-- <!--          <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                         <div class="panel-body" id="sumarry">
                        
                         <hr>
                         <ul class="facets">  
                         <li>Purchase Orders (<span class="pocount"></span>)<span ></span></li> 
                         <li>Sales Orders (<span class="socount"></span>)</li></ul>
  </div>
                            
                        </div>
                        
                    </div>
                </div>
												<div class="tab-pane active in fade" id="faq-ekko">
																<div class="panel-group" id="accordion-cat-1">
																	<div class="panel panel-default panel-faq">


																		<div class="panel-body" id="po"
																			style="margin-top: 10px;">

																			<div class="teaser">

																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ekkoTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Purch Doc.#</th>
																						<th>Vendor</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-2">
																<div class="panel-group" id="accordion-cat-2">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ekpoTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Purch Doc.#</th>
																						<th>Material</th>
																						<th>Material #</th>
																						<th>Purch DocItem.#</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>
															<div class="tab-pane fade" id="faq-cat-12">
																<div class="panel-group" id="accordion-cat-12">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="vbakTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Sales Doc #</th>
																						<th>Customer #</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>
															<div class="tab-pane fade" id="faq-cat-3">
																<div class="panel-group" id="accordion-cat-3">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="vbapTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Sales Doc #</th>
																						<th>Item #</th>
																						<th>Material #</th>
																						<th>Material</th>
																						<th>Net Value</th>
																						<th>Order Qty</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-4">
																<div class="panel-group" id="accordion-cat-4">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ebknTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Purchase Req.#</th>
																						<th>Sales Doc#</th>
																						<th>Order #</th>

																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-5">
																<div class="panel-group" id="accordion-cat-5">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="ebanTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Purchase Req.#</th>
																						<th>Created by</th>
																						<th>Short Text</th>
																						<th>Material</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-6">
																<div class="panel-group" id="accordion-cat-6">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="kna1Table"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Customer</th>
																						<th>Name</th>
																						<th>Street</th>
																						<th>City</th>
																						<th>Telephone 1</th>

																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-7">
																<div class="panel-group" id="accordion-cat-7">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="knb1Table"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Customer</th>
																						<th>Previous account no.</th>
																						<th>Street</th>
																						<th>City</th>
																						<th>Telephone 1</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-8">
																<div class="panel-group" id="accordion-cat-8">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="lfa1Table"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Vendor</th>
																						<th>Name</th>
																						<th>Postal Code</th>
																						<th>Street</th>
																						<th>Telephone 1</th>

																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-9">
																<div class="panel-group" id="accordion-cat-9">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="maktTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>

																						<th>Material</th>
																						<th>Material Desc</th>
																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-10">
																<div class="panel-group" id="accordion-cat-10">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="maraTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Material</th>
																						<th>Material Group</th>
																						<th>EAN/UPC</th>

																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

															<div class="tab-pane fade" id="faq-cat-11">
																<div class="panel-group" id="accordion-cat-11">
																	<div class="panel panel-default panel-faq">
																		<div class="panel-body" id="so"
																			style="margin-top: 10px;">
																			<div class="teaser">
																				<span id="title">Search Results For</span><span
																					class="searchkey"></span>&nbsp;<span
																					class="totalSearchCount"></span>
																			</div>
																			<table id="marcTable"
																				class="display  table table-hover table-striped">
																				<thead>
																					<tr>
																						<th>Material</th>
																						<th>Plant-sp.matl status</th>

																					</tr>
																				</thead>
																				<tbody>
																				</tbody>
																			</table>
																			<div class="alert alert-info fade in">
																				<button data-dismiss="alert" class="close">x</button>
																				<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
																				&nbsp; Table displays only top 200 records. Use the
																				export option to download all matching records.
																			</div>
																		</div>

																	</div>

																</div>
															</div>

											</div>
										</div>
									</div>

									<section id="widget-grid " class="">
										<article class="col-md-3 facets-tabs" style="display: none">
											Widget ID (each widget will need unique ID)
											<div class="jarviswidget jarviswidget-color-light "
												id="wid-id-20" data-widget-editbutton="false"
												data-widget-deletebutton="false"
												data-widget-fullscreenbutton="false"
												data-widget-togglebutton="false">

												<header>
													<span class="widget-icon"><i class="fa fa-tasks">
													</i></span>
													<h2>Entities</h2>
												</header>

												<div>
													widget edit box
													<div class="jarviswidget-editbox">
														This area used as dropdown edit box
													</div>
													end widget edit box
													widget content
													<div class="widget-body">
														<div class=" ">
															<ul class=" faq-cat-tabs entities" id="entities">
																<li class="active" id="poheader" data-facet="ekko"
																	data-jde-facet="F4301"><a href="#faq-cat-1"
																	data-toggle="tab"><span id="loading-1"></span>Purchase
																		Orders (<span class="ekkocount F4301count">0</span>)</a></li>
																<li class=" " id="podetails" data-sap-facet="ekpo" data-jde-facet="F4311"><a
																				href="#faq-cat-2" data-toggle="tab"><span
																					id="loading-2"></span>Purchase Orders Details (<span
																					class="ekpocount">0</span>)</a></li>
																					<li class=" " id="soheader" data-facet="vbak"><a
																				href="#faq-cat-12" data-toggle="tab"><span
																					id="loading-12"></span>Sales Orders (<span
																					id="vbakcount">0</span>)</a></li>
																			<li class=" " id="sodetails" data-facet="vbap"><a
																				href="#faq-cat-3" data-toggle="tab"><span
																					id="loading-3"></span>Sales Orders Details (<span
																					id="vbapcount">0</span>)</a></li>
																			<li class="" id="pr" data-facet="ebkn"><a href="#faq-cat-4"
																				data-toggle="tab"><span id="loading-4"></span>Purchase
																					Requisition (<span id="ebkncount">0</span>)</a></li>
																			<li class=" " id="prdetails" data-facet="eban"><a
																				href="#faq-cat-5" data-toggle="tab"><span
																					id="loading-5"></span>Purchase Requisition Details
																					(<span id="ebancount">0</span>)</a></li>
																			<li class="  " id="cm" data-facet="kna1"><a href="#faq-cat-6"
																				data-toggle="tab"><span id="loading-6"></span>Customer
																					Master (<span id="kna1count">0</span>)</a></li>
																			<li class=" " id="cmdetails" data-facet="knb1"><a
																				href="#faq-cat-7" data-toggle="tab"><span
																					id="loading-7"></span>Customer Master Details (<span
																					id="knb1count">0</span>)</a></li>
																			<li class=" " id="Vm" data-facet="lfa1"><a href="#faq-cat-8"
																				data-toggle="tab"><span id="loading-8"></span>Vendor
																					Master (<span id="lfa1count">0</span>)</a></li>
																			<li class="" id="MDesc" data-facet="makt"><a href="#faq-cat-9"
																				data-toggle="tab"><span id="loading-9"></span>Material
																					description (<span id="maktcount">0</span>)</a></li>
																			<li class="" id="Mdata" data-facet="mara"><a href="#faq-cat-10"
																				data-toggle="tab"><span id="loading-10"></span>Material
																					data (<span id="maracount">0</span>)</a></li>
																			<li class="" id="Mplant" data-facet="marc"><a href="#faq-cat-11"
																				data-toggle="tab"><span id="loading-11"></span>Material
																					plant (<span id="marccount">0</span>)</a></li>

															</ul>
														</div>
													</div>
												</div>
												end widget div
											</div>
											end widget
										</article>
									</section>
								</div>
								/.padding-md
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Purchase Order Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		/.modal-content
	</div>
	/.modal-dialog
</div>
end row

<script src="js/Search/e2e_search_new.js"></script>
 -->
