<section>

<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable"
			id="widget-inline-filter" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">

			<div style="background: #FFFFFF;min-height:75px;">
				<div class="jarviswidget-editbox"></div>
				<div class="">
					<div id="divSankeyFilter">
						<div class="row smart-form col-sm-8">
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>Instance Id</strong>
								</div>
								<label class="input width-100per"><div id="jobInstanceId"></div>
								</label>
							</section>
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>Job Name</strong>
								</div>
								<label class="input width-100per"><div id="jobName"></div>
								</label>
							</section>
						</div>
					</div>
					<button class="btn btn-danger margin-top-20 pull-right" name="purge"
						id="purge"
						style="margin-right: 10px !important;">
						<i class="fa fa-trash">&nbsp;</i>Purge
					</button>
					<button class="btn btn-warning margin-top-20 pull-right" name="clear"
						id="clear"
						style="margin-left: 10px !important; margin-right: 10px !important;">
						<i class="fa fa-remove">&nbsp;</i>Clear
					</button>
					<button class="btn btn-success margin-top-20 pull-right"
						name="ingest" id="runJob">
						<i class="fa fa-cogs">&nbsp;</i>Run
					</button>

				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="widgetMVAApis"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>Progress</h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="row">
					<div id="apiDivSankeyFilter" style="min-height: 112px;" class="col-sm-12">
						<div class="row1 col-sm-12" id="showLogs">
							<div id="progressBarcompletion">&nbsp;</div>
							<div class="progress" style="height: 20px !important">
								<div class="progress-bar progress-bar-striped bg-success"
									role="progressbar" style="width: 0%; line-height: 31px"
									aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

							</div>
							<div id="label" class="row">
								<div id="labelText" class="col-sm-6" style="font-weight: 700;font-style: italic;color: #969696;"></div>
								<div id="" class="col-sm-6" style="font-weight: 1000;font-style: italic;color: #969696">
									<h4 class="pull-right hide"><span>Total Records : </span><span id="recordsValue"></span></h4>
								</div>
							</div>
							<div id="logContainer" class="row" style="display: none;margin: 5px 0px;background:#212121;color:white;max-height:120px;overflow:auto;">
								<div style="padding:20px;">
									<div>Details : </div>
									<div id="processMessage"></div>
									<div id="refreshMessage"></div>
									</br>
									<div id="logsdiv"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="" style="min-height: 112px;" class="col-sm-3 hide">
						<div class="" id="summary12876">
							<div class="widget"
								style="background-color: rgb(179, 226, 205); width: auto; height: auto;">
								<div class="row no-margin">
									<div class="col-xs-3">
										<i class="fa fa-hashtag fa-3x margin-top-10"></i>
									</div>
									<div class="col-xs-9 font-bold">
										<span class="font-md" style="margin-top: -5px;">Total
											Records </span>
										<h2 id="recordsValue1"></h2>
									</div>
								</div>
								<div class="font-sm"></div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="widgetComponent"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn"
						rel="tooltip" title="" data-placement="bottom"
						data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>Job Instance Details</h2>
				<span class="jarviswidget-loader"><i
					class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div style="background: #FFFFFF" role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body" style="overflow: auto;">
					<table class="table table-bordered smart-form" id="tableJobInstanceDetails">
						
					</table>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="widgetComponent"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn"
						rel="tooltip" title="" data-placement="bottom"
						data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>Staging File Details</h2>
				<span class="jarviswidget-loader"><i
					class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div style="background: #FFFFFF" role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body" style="overflow: auto;">
					<table class="table table-bordered" id="tableSourceLoadQueue">
						
					</table>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	<!-- <div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable"
			id="widget-inline-filter" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">

			<div style="background: #FFFFFF;min-height:75px;">
				<div class="jarviswidget-editbox"></div>
				<div class="">
					<div id="divSankeyFilter">
						<div class="row smart-form col-sm-10">
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>Staging Folder</strong>
								</div>
								<label class="input width-100per"> <input
									class="smart-form col-md-12" type="text" id="staging"
									value="">
								</label>
							</section>
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>EDL Target</strong>
								</div>
								<label class="input width-100per"> <input
									class="smart-form col-md-12" type="text" id="edlTarget"
									value="">
								</label>
							</section>
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>Table Object</strong>
								</div>
								<label class="input width-100per"> <input
									class="smart-form col-md-12" type="text" id="tableObject"
									value="">
								</label>
							</section>
						</div>
					</div>
					<button class="btn btn-danger margin-top-20 pull-right" name="purge"
						id="purge"
						style="margin-left: 20px !important; margin-right: 10px !important;">
						<i class="fa fa-trash">&nbsp;</i>Purge
					</button>
					&nbsp;&nbsp;
					<button class="btn btn-success margin-top-20 pull-right"
						name="ingest" id="ingest">
						<i class="fa fa-cogs">&nbsp;</i>Ingest
					</button>

				</div>
				end widget content
			</div>
			end widget div
		</div>
	</div> -->

	

	
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="edlFileDetails"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn"
						rel="tooltip" title="" data-placement="bottom"
						data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>EDL File Details</h2>
				<span class="jarviswidget-loader"><i
					class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div style="background: #FFFFFF" role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body" style="overflow: auto;">
					<table class="table table-bordered" id="dataEdlFiles">
						<thead>
							<tr>
								<th width="33%">Name</th>
								<th width="33%">Size</th>
								<th width="34%">Last Modified On</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	<!-- <div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="widgetComponent"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn"
						rel="tooltip" title="" data-placement="bottom"
						data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<div class="btn-group floatRight" id="actionPlaceHolder" role="menu">
					<button type="button" id="mvaComponentCsvDownLoad"
						class="btn marginRight10 btn-success" onclick="">
						<i class="fa fa-download"></i> Link
					</button>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>Data Preview</h2>
				<span class="jarviswidget-loader"><i
					class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div style="background: #FFFFFF" role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body" style="overflow: auto;">
					<table class="table table-bordered" id="datainjectionTable">
						<thead>
								<tr>
									<th>Name </th>
									<th>Size</th>
									<th>User</th>
									<th>Group</th>
									<th>Permissions</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody id="tableBody" style="background: #fff">
								
								</tbody>
					</table>
				</div>
				end widget content
			</div>
			end widget div
		</div>
	</div> -->

</section>
<div id="loading"></div>
<script src="js/dataInjectionCenter/dataInjectionJobInstance.js"></script>